In [5]:
import pandas as pd
import numpy as np
from sklearn.dummy import DummyClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score,accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
import altair as alt
import seaborn as sns
import re

In [152]:
world_cities_df[world_cities_df['country']=='france']

Empty DataFrame
Columns: [name, country, subcountry, geonameid]
Index: []

In [6]:
#Make sure numpy version is < 1.20
np.version.version

'1.18.5'

In [7]:
#Install known version of numpy that works
!python -m pip install numpy==1.18.5

Requirement already satisfied: numpy==1.18.5 in c:\users\mryua\anaconda3\lib\site-packages (1.18.5)

In [8]:
#Install gensim
!python -m pip install gensim

Requirement already satisfied: gensim in c:\users\mryua\anaconda3\lib\site-packages (4.1.2)
Requirement already satisfied: numpy>=1.17.0 in c:\users\mryua\anaconda3\lib\site-packages (from gensim) (1.18.5)
Requirement already satisfied: scipy>=0.18.1 in c:\users\mryua\anaconda3\lib\site-packages (from gensim) (1.5.0)
Requirement already satisfied: Cython==0.29.23 in c:\users\mryua\anaconda3\lib\site-packages (from gensim) (0.29.23)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\mryua\anaconda3\lib\site-packages (from gensim) (6.0.0)

In [32]:
import gensim
from gensim.models.word2vec import Word2Vec
from tqdm.notebook import tqdm
from nltk.tokenize import sent_tokenize, word_tokenize
from collections import Counter
from nltk.corpus import stopwords
import nltk
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mryua\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\mryua\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\mryua\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [33]:
RANDOM_SEED=694

Training Dataset

In [34]:
train_path = 'Data/WikiLarge_Train.csv'
df = pd.read_csv(train_path, skiprows=0, skipfooter=0, engine='python')
df

                                            original_text  label
0       There is manuscript evidence that Austen conti...      1
1       In a remarkable comparative analysis , Mandaea...      1
2       Before Persephone was released to Hermes , who...      1
3       Cogeneration plants are commonly found in dist...      1
4       Geneva -LRB- , ; , ; , ; ; -RRB- is the second...      1
...                                                   ...    ...
416763  A Duke Nukem 3D version has been sold for Xbox...      0
416764  However , it is becoming replaced as a method ...      0
416765  There are hand gestures in both Hindu and Budd...      0
416766  If it is necessary to use colors , try to choo...      0
416767                               Calgary Stampeders ,      0

[416768 rows x 2 columns]

In [35]:
len(df[df['label']==1])/len(df) # the dataset label is well balanced

0.5

In [36]:
df.iloc[50]['original_text']

'He studied in Armenia and Istanbul , then at Wisconsin University which he finished in 1915 .'

In [37]:
df['original_text'].apply(lambda x: len(x)).mean()
# This means all texts are considered short text, which allows us to use dense representations, 
# as dense representations work well with short text.
# Gensim.KeyedVectors.load('assets/wikipedia.100.word-vecs.kv')??? How to generate and use this???
# Maybe we should train word2vec model on the entire corpus. Just training data? TOP 100 word-vectors(features)
# Alternatively we could use bag-of-words model, which is term-document matrix representation, having much more features

117.921906192414

In [38]:
X = df['original_text']
y = df['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Testing Dataset

In [39]:
test_path = 'Data/WikiLarge_Test.csv'
test_df = pd.read_csv(test_path, skiprows=0, skipfooter=0, engine='python')
test_df

            id original_text  label
0            0         -2011    NaN
1            1         -2011    NaN
2            2         -2000    NaN
3            3         -1997    NaN
4            4         1.636    NaN
...        ...           ...    ...
119087  119087        #NAME?    NaN
119088  119088        #NAME?    NaN
119089  119089        #NAME?    NaN
119090  119090        #NAME?    NaN
119091  119091        #NAME?    NaN

[119092 rows x 3 columns]

In [40]:
test_df.iloc[10000]

id                                                           10000
original_text    An atheist would say that this argument proves...
label                                                          NaN
Name: 10000, dtype: object

Sample Submission

In [41]:
samplesubmission_path = 'Data/sampleSubmission.csv'
samplesubmission_df = pd.read_csv(samplesubmission_path, skiprows=0, skipfooter=0, engine='python')
samplesubmission_df

            id  label
0            0      0
1            1      0
2            2      1
3            3      1
4            4      0
...        ...    ...
119087  119087      0
119088  119088      1
119089  119089      1
119090  119090      1
119091  119091      1

[119092 rows x 2 columns]

To conclude, the dataframes we are working with are:

dalechall_df, concreteness_df, aoawords_df, train_df, test_df, samplesubmission_df

# 1. Data Preprocessing

In [42]:
vectorizer = TfidfVectorizer(min_df=10,stop_words='english',ngram_range=(1,2))
X_train_transform = vectorizer.fit_transform(X_train)
X_test_transform  = vectorizer.transform(X_test)

In [43]:
X_train_transform

<333414x57773 sparse matrix of type '<class 'numpy.float64'>'
	with 4071111 stored elements in Compressed Sparse Row format>

## Word2Vec Model

In [44]:
len(stopwords.words('english'))

179

In [45]:
len(set(stopwords.words('english')))

179

In [46]:
#set(stopwords.words('english'))

== dale_chall.txt ==

This is the Dale Chall 3000 Word List, which is one definition of words that are considered "basic" English.

A summary is at https://www.readabilityformulas.com/articles/dale-chall-readability-word-list.php

In [47]:
#Basic english words
dalechall_path = 'Data/dale_chall.txt'
dale_chall = pd.read_csv(dalechall_path,delimiter='\t',header=None,names=['word'])
dale = set(dale_chall['word'].values)

In [48]:
len(dale)

2946

### The 2946 words in dale can be combined with the nltk stopwords.
### We could maybe assign an arbitrary score to each dale_chall word. - for reference only

### We will use a geo dataset to add city and country names to the stopwords library

In [134]:
!python -m pip install datapackage

Requirement already satisfied: datapackage in c:\users\mryua\anaconda3\lib\site-packages (1.15.2)
Requirement already satisfied: jsonpointer>=1.10 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (2.3)
Requirement already satisfied: tableschema>=1.12.1 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (1.20.2)
Requirement already satisfied: jsonschema>=2.5 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (3.2.0)
Requirement already satisfied: six>=1.10 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (1.15.0)
Requirement already satisfied: tabulator>=1.29 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (1.53.5)
Requirement already satisfied: unicodecsv>=0.14 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (0.14.1)
Requirement already satisfied: chardet>=3.0 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (3.0.4)
Requirement already satisfied: requests>=2.8 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (2.24.0)
Requirement already satisfied: click>=6.7 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (7.1.2)
Requirement already satisfied: cached-property>=1.5 in c:\users\mryua\anaconda3\lib\site-packages (from tableschema>=1.12.1->datapackage) (1.5.2)
Requirement already satisfied: isodate>=0.5.4 in c:\users\mryua\anaconda3\lib\site-packages (from tableschema>=1.12.1->datapackage) (0.6.1)
Requirement already satisfied: rfc3986>=1.1.0 in c:\users\mryua\anaconda3\lib\site-packages (from tableschema>=1.12.1->datapackage) (2.0.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\mryua\anaconda3\lib\site-packages (from tableschema>=1.12.1->datapackage) (2.8.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\mryua\anaconda3\lib\site-packages (from jsonschema>=2.5->datapackage) (19.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\mryua\anaconda3\lib\site-packages (from jsonschema>=2.5->datapackage) (0.16.0)
Requirement already satisfied: setuptools in c:\users\mryua\anaconda3\lib\site-packages (from jsonschema>=2.5->datapackage) (49.2.0.post20200714)
Requirement already satisfied: sqlalchemy>=0.9.6 in c:\users\mryua\anaconda3\lib\site-packages (from tabulator>=1.29->datapackage) (1.3.18)
Requirement already satisfied: ijson>=3.0.3 in c:\users\mryua\anaconda3\lib\site-packages (from tabulator>=1.29->datapackage) (3.1.4)
Requirement already satisfied: boto3>=1.9 in c:\users\mryua\anaconda3\lib\site-packages (from tabulator>=1.29->datapackage) (1.23.0)
Requirement already satisfied: openpyxl>=2.6 in c:\users\mryua\anaconda3\lib\site-packages (from tabulator>=1.29->datapackage) (3.0.4)
Requirement already satisfied: xlrd>=1.0 in c:\users\mryua\anaconda3\lib\site-packages (from tabulator>=1.29->datapackage) (1.2.0)
Requirement already satisfied: jsonlines>=1.1 in c:\users\mryua\anaconda3\lib\site-packages (from tabulator>=1.29->datapackage) (3.0.0)
Requirement already satisfied: linear-tsv>=1.0 in c:\users\mryua\anaconda3\lib\site-packages (from tabulator>=1.29->datapackage) (1.1.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\mryua\anaconda3\lib\site-packages (from requests>=2.8->datapackage) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mryua\anaconda3\lib\site-packages (from requests>=2.8->datapackage) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\mryua\anaconda3\lib\site-packages (from requests>=2.8->datapackage) (1.25.9)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\mryua\anaconda3\lib\site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (0.10.0)
Requirement already satisfied: botocore<1.27.0,>=1.26.0 in c:\users\mryua\anaconda3\lib\site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (1.26.0)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in c:\users\mryua\anaconda3\lib\site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (0.5.2)
Requirement already satisfied: jdcal in c:\users\mryua\anaconda3\lib\site-packages (from openpyxl>=2.6->tabulator>=1.29->datapackage) (1.4.1)
Requirement already satisfied: et-xmlfile in c:\users\mryua\anaconda3\lib\site-packages (from openpyxl>=2.6->tabulator>=1.29->datapackage) (1.0.1)

In [135]:
from datapackage import Package
package = Package('https://datahub.io/core/world-cities/datapackage.json')
# print list of all resources:
print(package.resource_names)

['validation_report', 'world-cities_csv', 'world-cities_json', 'world-cities_zip', 'world-cities_csv_preview', 'world-cities']

In [142]:
world_cities = []
for resource in package.resources:
    if resource.descriptor['datahub']['type'] == 'derived/csv':
        world_cities = resource.read()

In [144]:
len(world_cities)

23018

In [147]:
world_cities[:10]

[['les Escaldes', 'Andorra', 'Escaldes-Engordany', 3040051],
 ['Andorra la Vella', 'Andorra', 'Andorra la Vella', 3041563],
 ['Umm al Qaywayn', 'United Arab Emirates', 'Umm al Qaywayn', 290594],
 ['Ras al-Khaimah', 'United Arab Emirates', 'Raʼs al Khaymah', 291074],
 ['Khawr Fakkān', 'United Arab Emirates', 'Ash Shāriqah', 291696],
 ['Dubai', 'United Arab Emirates', 'Dubai', 292223],
 ['Dibba Al-Fujairah', 'United Arab Emirates', 'Al Fujayrah', 292231],
 ['Dibba Al-Hisn', 'United Arab Emirates', 'Al Fujayrah', 292239],
 ['Sharjah', 'United Arab Emirates', 'Ash Shāriqah', 292672],
 ['Ar Ruways', 'United Arab Emirates', 'Abu Dhabi', 292688]]

In [146]:
world_cities_df = pd.DataFrame(world_cities, columns=['name', 'country', 'subcountry', 'geonameid'])

In [148]:
world_cities_df

                   name               country           subcountry  geonameid
0          les Escaldes               Andorra   Escaldes-Engordany    3040051
1      Andorra la Vella               Andorra     Andorra la Vella    3041563
2        Umm al Qaywayn  United Arab Emirates       Umm al Qaywayn     290594
3        Ras al-Khaimah  United Arab Emirates      Raʼs al Khaymah     291074
4          Khawr Fakkān  United Arab Emirates         Ash Shāriqah     291696
...                 ...                   ...                  ...        ...
23013          Bulawayo              Zimbabwe             Bulawayo     894701
23014           Bindura              Zimbabwe  Mashonaland Central     895061
23015        Beitbridge              Zimbabwe   Matabeleland South     895269
23016           Epworth              Zimbabwe               Harare    1085510
23017       Chitungwiza              Zimbabwe               Harare    1106542

[23018 rows x 4 columns]

In [155]:
world_cities_df = world_cities_df.applymap(lambda s:s.lower() if type(s) == str else s)

In [159]:
world_cities_df[world_cities_df['country']=='france']

,name,country,subcountry,geonameid
6633,yerres,france,île-de-france,2967245
6634,wittenheim,france,alsace-champagne-ardenne-lorraine,2967318
6635,wattrelos,france,nord-pas-de-calais-picardie,2967421
6636,wasquehal,france,nord-pas-de-calais-picardie,2967438
6637,voiron,france,auvergne-rhône-alpes,2967758
...,...,...,...,...
7261,marseille 15,france,provence-alpes-côte d'azur,7284896
7262,marseille 16,france,provence-alpes-côte d'azur,7284897
7263,la defense,france,île-de-france,8504417
7264,saint-quentin-en-yvelines,france,île-de-france,8533870
7265,cergy-pontoise,france,île-de-france,8555643

In [168]:
cities = set(world_cities_df['name'].unique())
countries = set(world_cities_df['country'].unique())
subcountries = set(world_cities_df['subcountry'].unique())

In [169]:
#We will add this to stopwords
geo_data = cities | countries | subcountries

In [171]:
len(cities)

21940

In [172]:
len(countries)

244

In [173]:
len(subcountries)

2594

In [170]:
len(geo_data)

23803

In [260]:
language_package = Package('https://datahub.io/core/language-codes/datapackage.json')

# print list of all resources:
print(language_package.resource_names)

['validation_report', 'language-codes_csv', 'language-codes-3b2_csv', 'language-codes-full_csv', 'ietf-language-tags_csv', 'language-codes_json', 'language-codes-3b2_json', 'language-codes-full_json', 'ietf-language-tags_json', 'language-codes_zip', 'language-codes', 'language-codes-3b2', 'language-codes-full', 'ietf-language-tags']

In [263]:
# print processed tabular data (if exists any)
languages_data = []
#for resource in language_package.resources:
#    if resource.descriptor['datahub']['derivedFrom']=='language-codes':
#        print(resource.read())

In [264]:
languages_data = language_package.resources[1].read()

In [266]:
languages_data

[['aa', 'Afar'],
 ['ab', 'Abkhazian'],
 ['ae', 'Avestan'],
 ['af', 'Afrikaans'],
 ['ak', 'Akan'],
 ['am', 'Amharic'],
 ['an', 'Aragonese'],
 ['ar', 'Arabic'],
 ['as', 'Assamese'],
 ['av', 'Avaric'],
 ['ay', 'Aymara'],
 ['az', 'Azerbaijani'],
 ['ba', 'Bashkir'],
 ['be', 'Belarusian'],
 ['bg', 'Bulgarian'],
 ['bh', 'Bihari languages'],
 ['bi', 'Bislama'],
 ['bm', 'Bambara'],
 ['bn', 'Bengali'],
 ['bo', 'Tibetan'],
 ['br', 'Breton'],
 ['bs', 'Bosnian'],
 ['ca', 'Catalan; Valencian'],
 ['ce', 'Chechen'],
 ['ch', 'Chamorro'],
 ['co', 'Corsican'],
 ['cr', 'Cree'],
 ['cs', 'Czech'],
 ['cu',
  'Church Slavic; Old Slavonic; Church Slavonic; Old Bulgarian; Old Church Slavonic'],
 ['cv', 'Chuvash'],
 ['cy', 'Welsh'],
 ['da', 'Danish'],
 ['de', 'German'],
 ['dv', 'Divehi; Dhivehi; Maldivian'],
 ['dz', 'Dzongkha'],
 ['ee', 'Ewe'],
 ['el', 'Greek, Modern (1453-)'],
 ['en', 'English'],
 ['eo', 'Esperanto'],
 ['es', 'Spanish; Castilian'],
 ['et', 'Estonian'],
 ['eu', 'Basque'],
 ['fa', 'Persian'],
 ['ff', 'Fulah'],
 ['fi', 'Finnish'],
 ['fj', 'Fijian'],
 ['fo', 'Faroese'],
 ['fr', 'French'],
 ['fy', 'Western Frisian'],
 ['ga', 'Irish'],
 ['gd', 'Gaelic; Scottish Gaelic'],
 ['gl', 'Galician'],
 ['gn', 'Guarani'],
 ['gu', 'Gujarati'],
 ['gv', 'Manx'],
 ['ha', 'Hausa'],
 ['he', 'Hebrew'],
 ['hi', 'Hindi'],
 ['ho', 'Hiri Motu'],
 ['hr', 'Croatian'],
 ['ht', 'Haitian; Haitian Creole'],
 ['hu', 'Hungarian'],
 ['hy', 'Armenian'],
 ['hz', 'Herero'],
 ['ia', 'Interlingua (International Auxiliary Language Association)'],
 ['id', 'Indonesian'],
 ['ie', 'Interlingue; Occidental'],
 ['ig', 'Igbo'],
 ['ii', 'Sichuan Yi; Nuosu'],
 ['ik', 'Inupiaq'],
 ['io', 'Ido'],
 ['is', 'Icelandic'],
 ['it', 'Italian'],
 ['iu', 'Inuktitut'],
 ['ja', 'Japanese'],
 ['jv', 'Javanese'],
 ['ka', 'Georgian'],
 ['kg', 'Kongo'],
 ['ki', 'Kikuyu; Gikuyu'],
 ['kj', 'Kuanyama; Kwanyama'],
 ['kk', 'Kazakh'],
 ['kl', 'Kalaallisut; Greenlandic'],
 ['km', 'Central Khmer'],
 ['kn', 'Kannada'],
 ['ko', 'Korean'],
 ['kr', 'Kanuri'],
 ['ks', 'Kashmiri'],
 ['ku', 'Kurdish'],
 ['kv', 'Komi'],
 ['kw', 'Cornish'],
 ['ky', 'Kirghiz; Kyrgyz'],
 ['la', 'Latin'],
 ['lb', 'Luxembourgish; Letzeburgesch'],
 ['lg', 'Ganda'],
 ['li', 'Limburgan; Limburger; Limburgish'],
 ['ln', 'Lingala'],
 ['lo', 'Lao'],
 ['lt', 'Lithuanian'],
 ['lu', 'Luba-Katanga'],
 ['lv', 'Latvian'],
 ['mg', 'Malagasy'],
 ['mh', 'Marshallese'],
 ['mi', 'Maori'],
 ['mk', 'Macedonian'],
 ['ml', 'Malayalam'],
 ['mn', 'Mongolian'],
 ['mr', 'Marathi'],
 ['ms', 'Malay'],
 ['mt', 'Maltese'],
 ['my', 'Burmese'],
 ['na', 'Nauru'],
 ['nb', 'Bokmål, Norwegian; Norwegian Bokmål'],
 ['nd', 'Ndebele, North; North Ndebele'],
 ['ne', 'Nepali'],
 ['ng', 'Ndonga'],
 ['nl', 'Dutch; Flemish'],
 ['nn', 'Norwegian Nynorsk; Nynorsk, Norwegian'],
 ['no', 'Norwegian'],
 ['nr', 'Ndebele, South; South Ndebele'],
 ['nv', 'Navajo; Navaho'],
 ['ny', 'Chichewa; Chewa; Nyanja'],
 ['oc', 'Occitan (post 1500)'],
 ['oj', 'Ojibwa'],
 ['om', 'Oromo'],
 ['or', 'Oriya'],
 ['os', 'Ossetian; Ossetic'],
 ['pa', 'Panjabi; Punjabi'],
 ['pi', 'Pali'],
 ['pl', 'Polish'],
 ['ps', 'Pushto; Pashto'],
 ['pt', 'Portuguese'],
 ['qu', 'Quechua'],
 ['rm', 'Romansh'],
 ['rn', 'Rundi'],
 ['ro', 'Romanian; Moldavian; Moldovan'],
 ['ru', 'Russian'],
 ['rw', 'Kinyarwanda'],
 ['sa', 'Sanskrit'],
 ['sc', 'Sardinian'],
 ['sd', 'Sindhi'],
 ['se', 'Northern Sami'],
 ['sg', 'Sango'],
 ['si', 'Sinhala; Sinhalese'],
 ['sk', 'Slovak'],
 ['sl', 'Slovenian'],
 ['sm', 'Samoan'],
 ['sn', 'Shona'],
 ['so', 'Somali'],
 ['sq', 'Albanian'],
 ['sr', 'Serbian'],
 ['ss', 'Swati'],
 ['st', 'Sotho, Southern'],
 ['su', 'Sundanese'],
 ['sv', 'Swedish'],
 ['sw', 'Swahili'],
 ['ta', 'Tamil'],
 ['te', 'Telugu'],
 ['tg', 'Tajik'],
 ['th', 'Thai'],
 ['ti', 'Tigrinya'],
 ['tk', 'Turkmen'],
 ['tl', 'Tagalog'],
 ['tn', 'Tswana'],
 ['to', 'Tonga (Tonga Islands)'],
 ['tr', 'Turkish'],
 ['ts', 'Tsonga'],
 ['tt', 'Tatar'],
 ['tw', 'Twi'],
 ['ty', 'Tahitian'],
 ['ug', 'Uighur; Uyghur'],
 ['uk', 'Ukrainian'],
 ['ur', 'Urdu'],
 ['uz', 'Uzbek'],
 ['ve', 'Venda'],
 ['vi', 'Vietnamese'],
 ['vo', 'Volapük'],
 ['wa', 'Walloon'],
 ['wo', 'Wolof'],
 ['xh', 'Xhosa'],
 ['yi', 'Yiddish'],
 ['yo', 'Yoruba'],
 ['za', 'Zhuang; Chuang'],
 ['zh', 'Chinese'],
 ['zu', 'Zulu']]

In [269]:
languages_df = pd.DataFrame(languages_data, columns=['alpha2', 'english'])
languages_df = languages_df.applymap(lambda s:s.lower() if type(s) == str else s)
languages_df

    alpha2         english
0       aa            afar
1       ab       abkhazian
2       ae         avestan
3       af       afrikaans
4       ak            akan
..     ...             ...
179     yi         yiddish
180     yo          yoruba
181     za  zhuang; chuang
182     zh         chinese
183     zu            zulu

[184 rows x 2 columns]

In [270]:
languages = set(languages_df['english'].unique())

In [271]:
len(languages)

184

In [324]:
nationality_path = 'Data/CH_Nationality_List_20171130_v1.csv'
nationality_df = pd.read_csv(nationality_path, skiprows=0, skipfooter=0, engine='python')
nationality_df = nationality_df.applymap(lambda s:s.lower() if type(s) == str else s)
nationality_df

    Nationality
0        afghan
1      albanian
2      algerian
3      american
4      andorran
..          ...
220   wallisian
221       welsh
222      yemeni
223     zambian
224  zimbabwean

[225 rows x 1 columns]

In [327]:
nationalities = set(nationality_df['Nationality'].unique())
len(nationalities)

225

In [391]:
firstname_path = 'Data/new-top-firstNames.csv'
firstname_df = pd.read_csv(firstname_path, skiprows=0, skipfooter=0, engine='python')
firstname_df = firstname_df.applymap(lambda s:s.lower() if type(s) == str else s)
firstname_df

    Unnamed: 0       name  newPerct2013
0            1    michael      0.011577
1            2      james      0.010218
2            3       john      0.009675
3            4     robert      0.009493
4            5      david      0.008943
..         ...        ...           ...
95          96  christina      0.001435
96          97      julie      0.001418
97          98     jordan      0.001416
98          99       kyle      0.001413
99         100       anna      0.001400

[100 rows x 3 columns]

In [392]:
firstnames = set(firstname_df['name'].unique())
len(firstnames)

100

In [605]:
firstname_path2 = 'Data/babynames-clean.csv'
firstname_df2 = pd.read_csv(firstname_path2, header= None, skiprows=0, skipfooter=0, engine='python')
firstname_df2 = firstname_df2.applymap(lambda s:s.lower() if type(s) == str else s)
firstname_df2

             0     1
0         john   boy
1      william   boy
2        james   boy
3      charles   boy
4       george   boy
...        ...   ...
6777    laylah  girl
6778  carleigh  girl
6779    kenley  girl
6780    sloane  girl
6781   elianna  girl

[6782 rows x 2 columns]

In [607]:
firstnames2 = set(firstname_df2[0].unique())
len(firstnames2)

6782

In [609]:
firstnames = firstnames | firstnames2
len(firstnames)

6782

In [610]:
surname_path = 'Data/new-top-surnames.csv'
surname_df = pd.read_csv(surname_path, skiprows=0, skipfooter=0, engine='python')
surname_df = surname_df.applymap(lambda s:s.lower() if type(s) == str else s)
surname_df

    Unnamed: 0      name  perct2013
0            1     smith   0.007999
1            2   johnson   0.006346
2            3  williams   0.005330
3            4     brown   0.004724
4            5     jones   0.004676
..         ...       ...        ...
95          96   vasquez   0.000760
96          97   sanders   0.000753
97          98   jimenez   0.000751
98          99      long   0.000747
99         100    foster   0.000746

[100 rows x 3 columns]

In [611]:
surnames = set(surname_df['name'].unique())
len(surnames)

100

In [612]:
days=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
months=['January','February','March', 'April','May','June','July','August','September','October','November','December']
calendar = days.copy()
calendar.extend(months)
calendar = set([w.lower() for w in calendar])

In [613]:
calendar

{'april',
 'august',
 'december',
 'february',
 'friday',
 'january',
 'july',
 'june',
 'march',
 'may',
 'monday',
 'november',
 'october',
 'saturday',
 'september',
 'sunday',
 'thursday',
 'tuesday',
 'wednesday'}

In [614]:
X_train

304501    1979-80 Buffalo Sabres NHL 32 1880 74 1 4 2.36...
162313    Diseases Lentils in culture Lentils are mentio...
336845    Railroads , like the Lehigh Valley Railroad , ...
150625    An example of this would be an individual anim...
40240     Both the Matanuska and Susitna Rivers have maj...
                                ...
259178    After the Germans invaded Norway in April 1940...
365838    July 28 - Henry Bennet , 1st Earl of Arlington...
131932    Pancake restaurants are popular family restaur...
146867                                 A cycling domestique
121958    David Boreanaz 's first paid acting appearance...
Name: original_text, Length: 333414, dtype: object

In [615]:
X_train[304501]

'1979-80 Buffalo Sabres NHL 32 1880 74 1 4 2.36 20 8 4 0 0.000'

In [616]:
gensim.utils.simple_preprocess(X_train[304501])

['buffalo', 'sabres', 'nhl']

In [617]:
#gensim.parsing.preprocessing.STOPWORDS
#stopWords

In [618]:
tokenized_text_train=[]
tokenized_text_test=[]
stopWords = set(stopwords.words('english')) | dale | geo_data | languages | nationalities | firstnames | surnames | calendar
# This cell will run 4 minutes
import gensim
from nltk.stem.porter import *
def lemmatize_stemming(text):
    stemmer = PorterStemmer()
    #Un-hash next line to use stemming
    #return stemmer.stem(WordNetLemmatizer().lemmatize(text, pos='v'))
    #Un-hash next line to NOT use stemming
    return WordNetLemmatizer().lemmatize(text, pos='v')

# Tokenize and lemmatize
def preprocess(text):
    result=[]
    for token in gensim.utils.simple_preprocess(text) :
        if token not in stopWords and len(token) > 3:
            #Un-hash next line to use lemmatization/stemming
            result.append(lemmatize_stemming(token))
            #Un-hash next line to NOT use lemmatization/stemming
            #result.append(token)
            
    return result

tokenized_text_train = [preprocess(text) for text in X_train]
tokenized_text_test=[preprocess(text) for text in X_test]

#for text in tqdm(X_train):
#    tokens_in_text = word_tokenize(text)
#    tokens_in_text = [word for word in tokens_in_text if word.lower() not in stopWords]
#    tokenized_text_train.append(tokens_in_text)
    
#for text in tqdm(X_test):
#    tokens_in_text = word_tokenize(text)
#    tokens_in_text = [word for word in tokens_in_text if word.lower() not in stopWords]
#    tokenized_text_test.append(tokens_in_text)

In [619]:
len(stopWords)

33276

In [620]:
#tokenized_text_train

In [621]:
model = Word2Vec(vector_size=100,window=2,min_count=100,seed= RANDOM_SEED,workers=4)
model.build_vocab(tokenized_text_train)
model.train(tokenized_text_train,total_examples=model.corpus_count,epochs=model.epochs)

(5883773, 9470970)

In [622]:
word_vectors = model.wv

In [623]:
#word_vectors.vocab

In [624]:
word_dict = word_vectors.key_to_index

In [625]:
word_dict

{'unite': 0,
 'department': 1,
 'state': 2,
 'region': 3,
 'commune': 4,
 'include': 5,
 'call': 6,
 'play': 7,
 'national': 8,
 'district': 9,
 'release': 10,
 'years': 11,
 'name': 12,
 'locate': 13,
 'area': 14,
 'former': 15,
 'series': 16,
 'later': 17,
 'album': 18,
 'league': 19,
 'system': 20,
 'work': 21,
 'century': 22,
 'base': 23,
 'award': 24,
 'population': 25,
 'refer': 26,
 'largest': 27,
 'province': 28,
 'start': 29,
 'record': 30,
 'form': 31,
 'ndash': 32,
 'create': 33,
 'main': 34,
 'usually': 35,
 'president': 36,
 'international': 37,
 'force': 38,
 'produce': 39,
 'type': 40,
 'television': 41,
 'use': 42,
 'species': 43,
 'game': 44,
 'common': 45,
 'feature': 46,
 'professional': 47,
 'publish': 48,
 'found': 49,
 'municipality': 50,
 'although': 51,
 'currently': 52,
 'character': 53,
 'championship': 54,
 'modern': 55,
 'famous': 56,
 'develop': 57,
 'members': 58,
 'popular': 59,
 'video': 60,
 'tropical': 61,
 'time': 62,
 'serve': 63,
 'republic': 64,
 'show': 65,
 'hurricane': 66,
 'within': 67,
 'period': 68,
 'aisne': 69,
 'europe': 70,
 'consider': 71,
 'official': 72,
 'change': 73,
 'contain': 74,
 'design': 75,
 'example': 76,
 'move': 77,
 'countries': 78,
 'result': 79,
 'reference': 80,
 'original': 81,
 'program': 82,
 'european': 83,
 'calvados': 84,
 'total': 85,
 'appear': 86,
 'accord': 87,
 'career': 88,
 'minister': 89,
 'control': 90,
 'support': 91,
 'basse': 92,
 'normandie': 93,
 'allow': 94,
 'perform': 95,
 'current': 96,
 'hockey': 97,
 'northwest': 98,
 'article': 99,
 'commonly': 100,
 'border': 101,
 'islands': 102,
 'footballer': 103,
 'local': 104,
 'empire': 105,
 'wrestle': 106,
 'star': 107,
 'division': 108,
 'range': 109,
 'establish': 110,
 'open': 111,
 'actor': 112,
 'study': 113,
 'originally': 114,
 'join': 115,
 'part': 116,
 'cause': 117,
 'remain': 118,
 'role': 119,
 'continue': 120,
 'political': 121,
 'receive': 122,
 'consist': 123,
 'version': 124,
 'human': 125,
 'similar': 126,
 'days': 127,
 'emperor': 128,
 'mean': 129,
 'provide': 130,
 'areas': 131,
 'process': 132,
 'final': 133,
 'network': 134,
 'pay': 135,
 'science': 136,
 'source': 137,
 'book': 138,
 'loire': 139,
 'describe': 140,
 'association': 141,
 'operate': 142,
 'ancient': 143,
 'style': 144,
 'military': 145,
 'place': 146,
 'gironde': 147,
 'computer': 148,
 'event': 149,
 'position': 150,
 'events': 151,
 'energy': 152,
 'complete': 153,
 'various': 154,
 'africa': 155,
 'picardie': 156,
 'sign': 157,
 'languages': 158,
 'natural': 159,
 'replace': 160,
 'prime': 161,
 'aquitaine': 162,
 'generally': 163,
 'atlantic': 164,
 'discover': 165,
 'reach': 166,
 'census': 167,
 'development': 168,
 'formula': 169,
 'exist': 170,
 'director': 171,
 'relate': 172,
 'represent': 173,
 'orchestra': 174,
 'parliament': 175,
 'writer': 176,
 'team': 177,
 'project': 178,
 'site': 179,
 'race': 180,
 'songs': 181,
 'special': 182,
 'model': 183,
 'occur': 184,
 'systems': 185,
 'film': 186,
 'plant': 187,
 'sport': 188,
 'information': 189,
 'image': 190,
 'others': 191,
 'port': 192,
 'follow': 193,
 'chemical': 194,
 'number': 195,
 'rule': 196,
 'software': 197,
 'object': 198,
 'win': 199,
 'group': 200,
 'theory': 201,
 'highest': 202,
 'cities': 203,
 'cover': 204,
 'organization': 205,
 'actress': 206,
 'tour': 207,
 'train': 208,
 'almost': 209,
 'lead': 210,
 'movement': 211,
 'across': 212,
 'speak': 213,
 'elect': 214,
 'stadium': 215,
 'increase': 216,
 'return': 217,
 'composer': 218,
 'research': 219,
 'opera': 220,
 'novel': 221,
 'culture': 222,
 'live': 223,
 'studio': 224,
 'divide': 225,
 'influence': 226,
 'independent': 227,
 'debut': 228,
 'officially': 229,
 'entertainment': 230,
 'players': 231,
 'community': 232,
 'structure': 233,
 'claim': 234,
 'lower': 235,
 'simply': 236,
 'introduce': 237,
 'social': 238,
 'end': 239,
 'issue': 240,
 'involve': 241,
 'catholic': 242,
 'pass': 243,
 'animals': 244,
 'especially': 245,
 'northwestern': 246,
 'disney': 247,
 'genus': 248,
 'throughout': 249,
 'retire': 250,
 'guitar': 251,
 'soviet': 252,
 'act': 253,
 'brand': 254,
 'territory': 255,
 'traditional': 256,
 'mass': 257,
 'add': 258,
 'britain': 259,
 'grow': 260,
 'word': 261,
 'airport': 262,
 'production': 263,
 'travel': 264,
 'wikipedia': 265,
 'approximately': 266,
 'native': 267,
 'announce': 268,
 'effect': 269,
 'politician': 270,
 'unit': 271,
 'defeat': 272,
 'come': 273,
 'standard': 274,
 'civil': 275,
 'oldest': 276,
 'define': 277,
 'units': 278,
 'available': 279,
 'data': 280,
 'direct': 281,
 'society': 282,
 'point': 283,
 'successful': 284,
 'associate': 285,
 'channel': 286,
 'distance': 287,
 'musical': 288,
 'rank': 289,
 'action': 290,
 'academy': 291,
 'limit': 292,
 'report': 293,
 'help': 294,
 'service': 295,
 'super': 296,
 'pacific': 297,
 'orbit': 298,
 'average': 299,
 'require': 300,
 'instrument': 301,
 'episode': 302,
 'education': 303,
 'page': 304,
 'term': 305,
 'websites': 306,
 'smaller': 307,
 'windows': 308,
 'section': 309,
 'premier': 310,
 'secretary': 311,
 'mainly': 312,
 'turn': 313,
 'date': 314,
 'dynasty': 315,
 'attempt': 316,
 'larger': 317,
 'function': 318,
 'estimate': 319,
 'mountains': 320,
 'note': 321,
 'make': 322,
 'arts': 323,
 'line': 324,
 'compose': 325,
 'label': 326,
 'cathedral': 327,
 'scale': 328,
 'nintendo': 329,
 'festival': 330,
 'performance': 331,
 'thus': 332,
 'say': 333,
 'administrative': 334,
 'albums': 335,
 'fiction': 336,
 'metropolitan': 337,
 'students': 338,
 'alpes': 339,
 'nations': 340,
 'partement': 341,
 'producer': 342,
 'nuclear': 343,
 'success': 344,
 'display': 345,
 'months': 346,
 'typically': 347,
 'become': 348,
 'surround': 349,
 'link': 350,
 'female': 351,
 'own': 352,
 'recognize': 353,
 'material': 354,
 'nobel': 355,
 'addition': 356,
 'want': 357,
 'conduct': 358,
 'list': 359,
 'decide': 360,
 'african': 361,
 'believe': 362,
 'arm': 363,
 'right': 364,
 'title': 365,
 'derive': 366,
 'school': 367,
 'text': 368,
 'museum': 369,
 'finish': 370,
 'things': 371,
 'greater': 372,
 'concert': 373,
 'suggest': 374,
 'religious': 375,
 'widely': 376,
 'cells': 377,
 'pope': 378,
 'attack': 379,
 'edition': 380,
 'election': 381,
 'take': 382,
 'physical': 383,
 'institute': 384,
 'compound': 385,
 'pressure': 386,
 'higher': 387,
 'purpose': 388,
 'eventually': 389,
 'single': 390,
 'practice': 391,
 'picardy': 392,
 'primary': 393,
 'lie': 394,
 'borough': 395,
 'combine': 396,
 'condition': 397,
 'plan': 398,
 'private': 399,
 'extend': 400,
 'guitarist': 401,
 'musician': 402,
 'enter': 403,
 'code': 404,
 'treaty': 405,
 'symbol': 406,
 'situate': 407,
 'house': 408,
 'category': 409,
 'professor': 410,
 'comedy': 411,
 'towns': 412,
 'sarthe': 413,
 'survive': 414,
 'share': 415,
 'website': 416,
 'engineer': 417,
 'songwriter': 418,
 'season': 419,
 'build': 420,
 'regard': 421,
 'declare': 422,
 'worldwide': 423,
 'particularly': 424,
 'connect': 425,
 'nature': 426,
 'status': 427,
 'host': 428,
 'active': 429,
 'air': 430,
 'regions': 431,
 'internet': 432,
 'economic': 433,
 'historical': 434,
 'formerly': 435,
 'location': 436,
 'humans': 437,
 'copy': 438,
 'apply': 439,
 'animate': 440,
 'nickname': 441,
 'classical': 442,
 'temperature': 443,
 'democratic': 444,
 'destroy': 445,
 'multiple': 446,
 'elements': 447,
 'alternative': 448,
 'planet': 449,
 'particular': 450,
 'bass': 451,
 'industry': 452,
 'revolution': 453,
 'olympic': 454,
 'nation': 455,
 'appoint': 456,
 'draft': 457,
 'fall': 458,
 'jewish': 459,
 'experience': 460,
 'primarily': 461,
 'launch': 462,
 'hold': 463,
 'future': 464,
 'access': 465,
 'adopt': 466,
 'individual': 467,
 'foreign': 468,
 'parent': 469,
 'rat': 470,
 'prix': 471,
 'recent': 472,
 'chess': 473,
 'regular': 474,
 'korea': 475,
 'statistics': 476,
 'older': 477,
 'advance': 478,
 'depression': 479,
 'graduate': 480,
 'capture': 481,
 'literature': 482,
 'zone': 483,
 'disease': 484,
 'need': 485,
 'founder': 486,
 'flower': 487,
 'complex': 488,
 'power': 489,
 'account': 490,
 'inhabitants': 491,
 'peninsula': 492,
 'southeast': 493,
 'earlier': 494,
 'ask': 495,
 'vote': 496,
 'commercial': 497,
 'basketball': 498,
 'medical': 499,
 'greatest': 500,
 'user': 501,
 'poet': 502,
 'despite': 503,
 'conference': 504,
 'license': 505,
 'age': 506,
 'stand': 507,
 'southeastern': 508,
 'previously': 509,
 'fame': 510,
 'solar': 511,
 'degree': 512,
 'southwestern': 513,
 'wind': 514,
 'hours': 515,
 'succeed': 516,
 'directly': 517,
 'collection': 518,
 'variety': 519,
 'principal': 520,
 'digital': 521,
 'probably': 522,
 'brothers': 523,
 'discovery': 524,
 'previous': 525,
 'notable': 526,
 'construction': 527,
 'carry': 528,
 'accept': 529,
 'friends': 530,
 'competition': 531,
 'theme': 532,
 'personal': 533,
 'war': 534,
 'look': 535,
 'longer': 536,
 'drama': 537,
 'reduce': 538,
 'vocals': 539,
 'focus': 540,
 'campaign': 541,
 'attend': 542,
 'comprise': 543,
 'biggest': 544,
 'challenge': 545,
 'interest': 546,
 'circuit': 547,
 'paint': 548,
 'rename': 549,
 'saturn': 550,
 'organize': 551,
 'counties': 552,
 'entire': 553,
 'foundation': 554,
 'compete': 555,
 'band': 556,
 'annual': 557,
 'cultural': 558,
 'problems': 559,
 'leave': 560,
 'security': 561,
 'belong': 562,
 'transfer': 563,
 'online': 564,
 'bomb': 565,
 'element': 566,
 'offer': 567,
 'cycle': 568,
 'raise': 569,
 'score': 570,
 'examples': 571,
 'edit': 572,
 'station': 573,
 'acid': 574,
 'appearance': 575,
 'recently': 576,
 'technology': 577,
 'symphony': 578,
 'fictional': 579,
 'mix': 580,
 'commission': 581,
 'head': 582,
 'majority': 583,
 'olympics': 584,
 'merge': 585,
 'distribution': 586,
 'architecture': 587,
 'significant': 588,
 'document': 589,
 'transport': 590,
 'reign': 591,
 'express': 592,
 'cyclone': 593,
 'gain': 594,
 'begin': 595,
 'picture': 596,
 'users': 597,
 'identify': 598,
 'order': 599,
 'scientific': 600,
 'soccer': 601,
 'mythology': 602,
 'occupy': 603,
 'maintain': 604,
 'sell': 605,
 'translate': 606,
 'separate': 607,
 'artists': 608,
 'present': 609,
 'bird': 610,
 'specific': 611,
 'format': 612,
 'run': 613,
 'fight': 614,
 'device': 615,
 'headquarter': 616,
 'give': 617,
 'weeks': 618,
 'muslim': 619,
 'asteroid': 620,
 'close': 621,
 'adventure': 622,
 'command': 623,
 'flow': 624,
 'products': 625,
 'core': 626,
 'climate': 627,
 'roles': 628,
 'content': 629,
 'land': 630,
 'committee': 631,
 'initially': 632,
 'satellite': 633,
 'color': 634,
 'philosophy': 635,
 'contest': 636,
 'achieve': 637,
 'origin': 638,
 'ship': 639,
 'actually': 640,
 'congress': 641,
 'hand': 642,
 'constitution': 643,
 'highly': 644,
 'provence': 645,
 'nazi': 646,
 'method': 647,
 'anti': 648,
 'determine': 649,
 'angle': 650,
 'commonwealth': 651,
 'affect': 652,
 'overall': 653,
 'isbn': 654,
 'signal': 655,
 'diameter': 656,
 'celebrate': 657,
 'count': 658,
 'vary': 659,
 'happen': 660,
 'cancer': 661,
 'linux': 662,
 'solo': 663,
 'agree': 664,
 'executive': 665,
 'younger': 666,
 'volume': 667,
 'mention': 668,
 'numerous': 669,
 'store': 670,
 'relationship': 671,
 'credit': 672,
 'originate': 673,
 'evidence': 674,
 'corporation': 675,
 'tree': 676,
 'physics': 677,
 'regional': 678,
 'underground': 679,
 'industrial': 680,
 'earn': 681,
 'versions': 682,
 'provinces': 683,
 'labor': 684,
 'growth': 685,
 'environment': 686,
 'earliest': 687,
 'student': 688,
 'case': 689,
 'product': 690,
 'religion': 691,
 'breed': 692,
 'cast': 693,
 'islamic': 694,
 'longest': 695,
 'strike': 696,
 'mathematics': 697,
 'basic': 698,
 'administration': 699,
 'measure': 700,
 'therefore': 701,
 'kill': 702,
 'track': 703,
 'tell': 704,
 'promote': 705,
 'triple': 706,
 'letter': 707,
 'contract': 708,
 'drug': 709,
 'ways': 710,
 'troop': 711,
 'last': 712,
 'compare': 713,
 'company': 714,
 'punk': 715,
 'shape': 716,
 'level': 717,
 'prior': 718,
 'policy': 719,
 'indicate': 720,
 'sit': 721,
 'khan': 722,
 'visit': 723,
 'adult': 724,
 'match': 725,
 'invent': 726,
 'operation': 727,
 'pronounce': 728,
 'normally': 729,
 'whether': 730,
 'wrestler': 731,
 'responsible': 732,
 'approach': 733,
 'materials': 734,
 'blue': 735,
 'incorporate': 736,
 'medal': 737,
 'concern': 738,
 'federation': 739,
 'microsoft': 740,
 'unlike': 741,
 'expand': 742,
 'creation': 743,
 'address': 744,
 'supply': 745,
 'fantasy': 746,
 'manage': 747,
 'hill': 748,
 'authority': 749,
 'legal': 750,
 'fail': 751,
 'centuries': 752,
 'field': 753,
 'console': 754,
 'bury': 755,
 'rhine': 756,
 'propose': 757,
 'construct': 758,
 'detail': 759,
 'nominate': 760,
 'teach': 761,
 'distinguish': 762,
 'church': 763,
 'select': 764,
 'secondary': 765,
 'relatively': 766,
 'billion': 767,
 'goals': 768,
 'historic': 769,
 'electronic': 770,
 'universe': 771,
 'remove': 772,
 'alone': 773,
 'kilometres': 774,
 'aircraft': 775,
 'evolution': 776,
 'view': 777,
 'medieval': 778,
 'generation': 779,
 'management': 780,
 'print': 781,
 'novels': 782,
 'families': 783,
 'mine': 784,
 'trade': 785,
 'layer': 786,
 'prevent': 787,
 'vice': 788,
 'classic': 789,
 'staff': 790,
 'deaths': 791,
 'try': 792,
 'meter': 793,
 'entry': 794,
 'completely': 795,
 'concept': 796,
 'sexual': 797,
 'classify': 798,
 'piece': 799,
 'dictionary': 800,
 'density': 801,
 'kong': 802,
 'ability': 803,
 'reserve': 804,
 'activity': 805,
 'lack': 806,
 'motion': 807,
 'biography': 808,
 'tradition': 809,
 'reform': 810,
 'assembly': 811,
 'depend': 812,
 'chamber': 813,
 'weight': 814,
 'aube': 815,
 'territories': 816,
 'frequently': 817,
 'orthodox': 818,
 'conservative': 819,
 'carbon': 820,
 'heritage': 821,
 'minutes': 822,
 'theatre': 823,
 'spell': 824,
 'ally': 825,
 'municipalities': 826,
 'azur': 827,
 'manufacture': 828,
 'water': 829,
 'roll': 830,
 'rural': 831,
 'agreement': 832,
 'landfall': 833,
 'parallel': 834,
 'portion': 835,
 'cars': 836,
 'ministry': 837,
 'trophy': 838,
 'outer': 839,
 'championships': 840,
 'roughly': 841,
 'soldier': 842,
 'find': 843,
 'reveal': 844,
 'strength': 845,
 'shortly': 846,
 'tube': 847,
 'experiment': 848,
 'gregorian': 849,
 'pattern': 850,
 'mark': 851,
 'closely': 852,
 'convert': 853,
 'fund': 854,
 'largely': 855,
 'sing': 856,
 'laws': 857,
 'side': 858,
 'tribe': 859,
 'applications': 860,
 'opposite': 861,
 'episodes': 862,
 'writers': 863,
 'definition': 864,
 'agency': 865,
 'traditionally': 866,
 'cents': 867,
 'boys': 868,
 'chart': 869,
 'observe': 870,
 'latter': 871,
 'draw': 872,
 'activities': 873,
 'sons': 874,
 'govern': 875,
 'sequel': 876,
 'market': 877,
 'economy': 878,
 'marine': 879,
 'jazz': 880,
 'traffic': 881,
 'designate': 882,
 'ideas': 883,
 'reason': 884,
 'drop': 885,
 'difficult': 886,
 'asian': 887,
 'external': 888,
 'multi': 889,
 'inspire': 890,
 'problem': 891,
 'engines': 892,
 'script': 893,
 'distribute': 894,
 'distinct': 895,
 'scene': 896,
 'studios': 897,
 'temple': 898,
 'additional': 899,
 'couple': 900,
 'metres': 901,
 'philosopher': 902,
 'folk': 903,
 'meet': 904,
 'mediterranean': 905,
 'impact': 906,
 'formal': 907,
 'interstate': 908,
 'ardãƒ': 909,
 'semi': 910,
 'girls': 911,
 'affairs': 912,
 'respectively': 913,
 'bureau': 914,
 'arrest': 915,
 'musicians': 916,
 'slightly': 917,
 'disk': 918,
 'caribbean': 919,
 'charge': 920,
 'burn': 921,
 'senior': 922,
 'christmas': 923,
 'suffer': 924,
 'prominent': 925,
 'lyric': 926,
 'alphabet': 927,
 'club': 928,
 'sciences': 929,
 'pioneer': 930,
 'memory': 931,
 'eye': 932,
 'avoid': 933,
 'intend': 934,
 'target': 935,
 'write': 936,
 'hit': 937,
 'legend': 938,
 'drum': 939,
 'tehsil': 940,
 'colony': 941,
 'egg': 942,
 'computers': 943,
 'contact': 944,
 'tournament': 945,
 'factor': 946,
 'global': 947,
 'midfielder': 948,
 'socialist': 949,
 'smackdown': 950,
 'workers': 951,
 'universities': 952,
 'organizations': 953,
 'interview': 954,
 'formation': 955,
 'pilot': 956,
 'size': 957,
 'extreme': 958,
 'councils': 959,
 'abbottabad': 960,
 'grammy': 961,
 'bond': 962,
 'knight': 963,
 'yorkshire': 964,
 'collect': 965,
 'communist': 966,
 'request': 967,
 'span': 968,
 'fan': 969,
 'basis': 970,
 'conflict': 971,
 'plot': 972,
 'bear': 973,
 'supreme': 974,
 'franchise': 975,
 'purchase': 976,
 'voice': 977,
 'editor': 978,
 'property': 979,
 'initial': 980,
 'behavior': 981,
 'kinds': 982,
 'grant': 983,
 'earthquake': 984,
 'designation': 985,
 'journal': 986,
 'atomic': 987,
 'johann': 988,
 'stay': 989,
 'chairman': 990,
 'register': 991,
 'individuals': 992,
 'continental': 993,
 'oppose': 994,
 'test': 995,
 'immediately': 996,
 'permanent': 997,
 'flavor': 998,
 'internal': 999,
 ...}

In [626]:
word_vectors[0] == word_vectors['unite']

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [627]:
words_in_vector = word_vectors.index_to_key
len(words_in_vector)

2896

# Word's Difficulty Considered

== Concreteness_ratings_Brysbaert_et_al_BRM.txt ==

This file contains concreteness ratings for 40 thousand English lemma words gathered via Amazon Mechanical Turk. The ratings come from a larger list of 63 thousand words and represent all English words known to 85% of the raters.

The file contains eight columns:
1. The word
2. Whether it is a single word or a two-word expression 
3. The mean concreteness rating
4. The standard deviation of the concreteness ratings
5. The number of persons indicating they did not know the word
6. The total number of persons who rated the word
7. Percentage participants who knew the word
8. The SUBTLEX-US frequency count (on a total of 51 million; Brysbaert & New, 2009) 
9. The dominant part-of-speech usage

Original source: http://crr.ugent.be/archives/1330

Brysbaert, M., Warriner, A.B., & Kuperman, V. (2014). Concreteness ratings for 40 thousand generally known English word lemmas. Behavior Research Methods, 46, 904-911.
http://crr.ugent.be/papers/Brysbaert_Warriner_Kuperman_BRM_Concreteness_ratings.pdf

In [628]:
#Concreteness rating - the higher Conc.M, the easier the word is.
concreteness_path = 'Data/Concreteness_ratings_Brysbaert_et_al_BRM.txt'
concrete_df = pd.read_csv(concreteness_path,delimiter='\t', keep_default_na=False)
concreteset=(concrete_df['Word'].values)

In [629]:
concrete_df

,Word,Bigram,Conc.M,Conc.SD,Unknown,Total,Percent_known,SUBTLEX,Dom_Pos
0,roadsweeper,0,4.85,0.37,1,27,0.96,0,0
1,traindriver,0,4.54,0.71,3,29,0.90,0,0
2,tush,0,4.45,1.01,3,25,0.88,66,0
3,hairdress,0,3.93,1.28,0,29,1.00,1,0
4,pharmaceutics,0,3.77,1.41,4,26,0.85,0,0
...,...,...,...,...,...,...,...,...,...
39949,unenvied,0,1.21,0.62,1,30,0.97,0,#N/A
39950,agnostically,0,1.20,0.50,2,27,0.93,0,#N/A
39951,conceptualistic,0,1.18,0.50,4,26,0.85,0,#N/A
39952,conventionalism,0,1.18,0.48,1,29,0.97,0,#N/A
39953,essentialness,0,1.04,0.20,2,26,0.92,0,#N/A

In [630]:
concrete_df.Bigram.value_counts()

0    37058
1     2896
Name: Bigram, dtype: int64

In [631]:
concrete_df[concrete_df.Bigram==1]

,Word,Bigram,Conc.M,Conc.SD,Unknown,Total,Percent_known,SUBTLEX,Dom_Pos
28707,baking soda,1,5.00,0.00,0,30,1.00,0,#N/A
28709,baseball bat,1,5.00,0.00,0,29,1.00,0,#N/A
28710,bath towel,1,5.00,0.00,0,29,1.00,0,#N/A
28711,beach ball,1,5.00,0.00,0,28,1.00,0,#N/A
28712,bed sheet,1,5.00,0.00,0,28,1.00,0,#N/A
...,...,...,...,...,...,...,...,...,...
39619,tantamount to,1,1.52,0.85,4,27,0.85,0,#N/A
39857,chance on,1,1.38,0.75,2,28,0.93,0,#N/A
39871,free rein,1,1.37,0.63,2,29,0.93,0,#N/A
39899,by chance,1,1.34,0.72,1,30,0.97,0,#N/A
39947,in principle,1,1.21,0.41,4,28,0.86,0,#N/A

In [632]:
#There is no Nan value in Conc.M column
concrete_df[concrete_df['Conc.M'].isna()]

Empty DataFrame
Columns: [Word, Bigram, Conc.M, Conc.SD, Unknown, Total, Percent_known, SUBTLEX, Dom_Pos]
Index: []

### Are we gonna consider bigrams in this dataset, given it's only a small fraction ~ 8% in size?

In [633]:
np.min(concrete_df['Conc.M'])

1.04

In [634]:
np.max(concrete_df['Conc.M'])

5.0

### Concreteness values range from 1 - 5, we could possible use the inverse value of concreteness to scale it to a 0-1 range and give easier words less weight.

In [635]:
concrete_words = list(concrete_df['Word'].values)

In [636]:
len(concrete_words)

39954

In [637]:
concrete_complement = [word for word in words_in_vector if word not in concrete_words]

In [638]:
len(concrete_complement)

570

In [639]:
concrete_complement

['years',
 'largest',
 'ndash',
 'members',
 'aisne',
 'europe',
 'countries',
 'european',
 'calvados',
 'basse',
 'normandie',
 'islands',
 'areas',
 'loire',
 'gironde',
 'events',
 'africa',
 'picardie',
 'languages',
 'aquitaine',
 'songs',
 'systems',
 'others',
 'cities',
 'players',
 'animals',
 'disney',
 'britain',
 'oldest',
 'units',
 'websites',
 'windows',
 'larger',
 'mountains',
 'albums',
 'students',
 'alpes',
 'nations',
 'partement',
 'months',
 'nobel',
 'african',
 'things',
 'cells',
 'picardy',
 'towns',
 'sarthe',
 'regions',
 'humans',
 'elements',
 'prix',
 'korea',
 'inhabitants',
 'earlier',
 'greatest',
 'hours',
 'brothers',
 'friends',
 'vocals',
 'saturn',
 'counties',
 'problems',
 'examples',
 'users',
 'artists',
 'weeks',
 'products',
 'roles',
 'provence',
 'nazi',
 'isbn',
 'linux',
 'versions',
 'provinces',
 'earliest',
 'longest',
 'khan',
 'materials',
 'microsoft',
 'centuries',
 'rhine',
 'goals',
 'kilometres',
 'novels',
 'families',
 'deaths',
 'kong',
 'aube',
 'territories',
 'minutes',
 'theatre',
 'municipalities',
 'azur',
 'cars',
 'championships',
 'gregorian',
 'laws',
 'applications',
 'episodes',
 'writers',
 'cents',
 'boys',
 'activities',
 'ideas',
 'asian',
 'engines',
 'studios',
 'metres',
 'ardãƒ',
 'girls',
 'affairs',
 'musicians',
 'caribbean',
 'sciences',
 'tehsil',
 'computers',
 'smackdown',
 'workers',
 'universities',
 'organizations',
 'councils',
 'abbottabad',
 'grammy',
 'yorkshire',
 'kinds',
 'johann',
 'individuals',
 'montreal',
 'hong',
 'hitler',
 'organisms',
 'jews',
 'tribes',
 'gods',
 'muslims',
 'ones',
 'smallest',
 'pokãƒ',
 'mammals',
 'relations',
 'villages',
 'fifa',
 'youngest',
 'operations',
 'kilometers',
 'kings',
 'weapons',
 'arab',
 'neptune',
 'methods',
 'decades',
 'leaders',
 'colour',
 'puerto',
 'devices',
 'asteroids',
 'westphalia',
 'properties',
 'communities',
 'rout',
 'particles',
 'thousands',
 'friedrich',
 'bros',
 'vendãƒ',
 'differences',
 'scientists',
 'temperatures',
 'tallest',
 'degrees',
 'males',
 'prefecture',
 'vaucluse',
 'drivers',
 'sisters',
 'appearances',
 'mar',
 'beatles',
 'wrestlemania',
 'composers',
 'critics',
 'females',
 'residents',
 'items',
 'legs',
 'performances',
 'ardã',
 'elections',
 'christians',
 'institutions',
 'airlines',
 'viii',
 'saxe',
 'romans',
 'americans',
 'representatives',
 'authorities',
 'glasgow',
 'indo',
 'planets',
 'byzantine',
 'anglo',
 'duchy',
 'governments',
 'orton',
 'rangers',
 'bach',
 'edinburgh',
 'colonies',
 'divisions',
 'standards',
 'homo',
 'hundreds',
 'poems',
 'uranus',
 'origins',
 'roads',
 'actors',
 'uefa',
 'scholars',
 'techniques',
 'tram',
 'offices',
 'contributions',
 'citizens',
 'prussia',
 'wagner',
 'cyclones',
 'populations',
 'texts',
 'departments',
 'boundaries',
 'productions',
 'winners',
 'adults',
 'vehicles',
 'britannica',
 'officials',
 'resources',
 'movements',
 'shakespeare',
 'efforts',
 'instructions',
 'molecules',
 'persons',
 'closest',
 'passengers',
 'labour',
 'electrons',
 'zeus',
 'insects',
 'serie',
 'hurricanes',
 'ecliptic',
 'atlantiques',
 'genera',
 'canadiens',
 'bengal',
 'forbes',
 'colleges',
 'pokã',
 'lowest',
 'jura',
 'batista',
 'bits',
 'foods',
 'fossils',
 'hampshire',
 'components',
 'brabant',
 'norse',
 'beliefs',
 'operas',
 'frankfurt',
 'josã',
 'communications',
 'editors',
 'maritimes',
 'shah',
 'mcmahon',
 'theorem',
 'whedon',
 'mosques',
 'shire',
 'instal',
 'baptist',
 'worlds',
 'newspapers',
 'neighbour',
 'aspects',
 'visitors',
 'bouches',
 'societies',
 'traditions',
 'oceans',
 'symptoms',
 'symbols',
 'dollars',
 'videos',
 'renault',
 'leonese',
 'indus',
 'sony',
 'nasa',
 'locomotives',
 'daughters',
 'variations',
 'slavic',
 'atoms',
 'generations',
 'reich',
 'finals',
 'janeiro',
 'mccartney',
 'michaels',
 'centre',
 'fastest',
 'rulers',
 'categories',
 'observations',
 'mozart',
 'nuremberg',
 'railways',
 'suffolk',
 'historians',
 'costa',
 'pyrã',
 'predators',
 'arabia',
 'singers',
 'simpsons',
 'diseases',
 'antarctica',
 'strongest',
 'scenes',
 'newfoundland',
 'knowles',
 'buenos',
 'americas',
 'persia',
 'khyber',
 'unesco',
 'castile',
 'vendã',
 'anglican',
 'thames',
 'armies',
 'organs',
 'programme',
 'honour',
 'harvard',
 'amazon',
 'alps',
 'petersburg',
 'saudi',
 'vector',
 'winger',
 'restaurants',
 'organise',
 'georg',
 'relatives',
 'apollo',
 'laureate',
 'households',
 'teau',
 'plat',
 'wider',
 'flemish',
 'policies',
 'locations',
 'nazis',
 'extratropical',
 'heinrich',
 'producers',
 'crimes',
 'pakhtunkhwa',
 'josãƒ',
 'ubuntu',
 'kingdoms',
 'prisoners',
 'bundesliga',
 'minerals',
 'glands',
 'harbour',
 'relationships',
 'religions',
 'editions',
 'sussex',
 'chakwal',
 'soundgarden',
 'industries',
 'blackhawks',
 'ferrari',
 'yugoslavia',
 'emirates',
 'saxon',
 'victims',
 'platforms',
 'chãƒ',
 'hume',
 'prussian',
 'skills',
 'debian',
 'theories',
 'dinosaurs',
 'giants',
 'doors',
 'volkswagen',
 'lanka',
 'emperors',
 'ussr',
 'basilica',
 'wiki',
 'duties',
 'jurassic',
 'supporters',
 'substances',
 'varieties',
 'creatures',
 'tehsils',
 'empress',
 'readers',
 'baltic',
 'sainte',
 'unions',
 'reactions',
 'facto',
 'descendants',
 'sega',
 'wolfgang',
 'astronomers',
 'settlers',
 'viewers',
 'arabian',
 'medici',
 'victorian',
 'athletes',
 'tibet',
 'arrondissement',
 'candidates',
 'collections',
 'vegas',
 'boroughs',
 'grande',
 'germanic',
 'pradesh',
 'trials',
 'directors',
 'environments',
 'europeans',
 'competitions',
 'burma',
 'enemies',
 'continents',
 'cardinals',
 'antilles',
 'georges',
 'germans',
 'canton',
 'fischer',
 'owners',
 'stronger',
 'businesses',
 'proteins',
 'employees',
 'fewer',
 'tournaments',
 'tourists',
 'teachers',
 'ions',
 'broadway',
 'bruins',
 'silva',
 'pluto',
 'acids',
 'seas',
 'subfamily',
 'tico',
 'conductors',
 'agents',
 'extant',
 'hainaut',
 'bishops',
 'indians',
 'settlements',
 'nixon',
 'volcanoes',
 'monuments',
 'nascar',
 'airways',
 'compositions',
 'photos',
 'presidents',
 'ncaa',
 'organisation',
 'lessons',
 'medals',
 'hindenburg',
 'antwerp',
 'theaters',
 'wrestlers',
 'fibers',
 'keynes',
 'valleys',
 'kreis',
 'boeing',
 'beyoncã',
 'mecklenburg',
 'genes',
 'chevrolet',
 'greeks',
 'slower',
 'heights',
 'magazines',
 'ville',
 'scala',
 'lions',
 'derbyshire',
 'pichilemu',
 'buddha',
 'cyrillic',
 'warriors',
 'genres',
 'patients',
 'busiest',
 'denominations',
 'publications',
 'rica',
 'followers',
 'nato',
 'developers',
 'gettysburg',
 'topics',
 'ants',
 'dialects',
 'aang',
 'prayers',
 'vertebrates',
 'lancashire',
 'ears',
 'poets',
 'sunderland',
 'ming',
 'oblast',
 'mongol',
 'translations',
 'researchers',
 'rttemberg',
 'dolphins',
 'bavarian',
 'trojan',
 'haute',
 'rhode',
 'grameen',
 'benoit',
 'specimens',
 'agencies',
 'disambiguation',
 'defence',
 'czechoslovakia',
 'stallone',
 'vegetables',
 'recipes',
 'immigrants',
 'catholics',
 'terminus',
 'earthquakes',
 'amadeus',
 'ipswich',
 'congo']

In [640]:
concrete_intersect = [word for word in words_in_vector if word in concrete_words]

In [641]:
len(concrete_intersect)

2326

In [642]:
concrete_intersect[0]

'unite'

In [643]:
word_vectors['state']

array([-0.34864047, -0.96178025,  1.0424236 , -0.27514943, -1.125268  ,
        0.17379373, -0.5000698 ,  0.61671704,  0.3502842 , -0.0587092 ,
        0.11508509, -0.21317965,  1.1454185 , -0.40656507, -0.89661133,
       -1.2150089 ,  0.40510127, -0.758923  , -0.7322218 , -0.38091078,
        0.09221615,  0.01026862,  0.4988388 ,  0.6096505 ,  1.1464705 ,
       -0.46910125,  0.2855899 , -0.5065553 , -1.1206437 ,  0.49509016,
       -0.4553206 , -0.20433855,  0.1936442 ,  0.00710674,  1.4585135 ,
       -0.3271947 ,  0.09666988,  0.23133074,  0.59747565,  0.6051638 ,
       -0.821614  , -0.25832888, -0.08141857, -1.1627805 , -0.1859263 ,
       -0.74427146, -0.2904973 , -1.0154371 , -0.09791026, -0.28925666,
       -0.27558604, -0.28107327,  0.45664597, -0.73296994,  0.01105025,
       -0.03365638,  0.07879242, -0.16169213, -0.5991656 , -0.29063004,
        0.4216433 , -0.01379751, -0.18666983,  0.22629549, -1.3479476 ,
       -0.8134935 , -0.31116077,  0.22562763, -0.07893478,  0.5850851 ,
        0.4344932 ,  0.543718  , -0.5242279 ,  0.45136374,  0.7665201 ,
       -0.44161308,  0.32743797,  0.94204414, -0.17063637,  0.1022554 ,
       -0.49121517, -1.631073  , -0.55016595,  0.23735161,  0.07527448,
        0.5882919 ,  0.4307339 , -0.47949505, -0.19959149,  0.45376033,
       -0.05501731, -0.36052817,  1.1274532 , -0.0575669 , -0.6127581 ,
        0.16628341,  1.0270311 ,  0.8726847 , -0.5509129 , -0.74375904],
      dtype=float32)

In [644]:
concrete_df[concrete_df['Word']=='state']['Conc.M'].values

array([3.52])

In [645]:
for word in concrete_intersect:
    word_vectors[word] = word_vectors[word] * 1/concrete_df[concrete_df['Word']==word]['Conc.M'].values

== AoA_51715_words.csv ==

This file contains "Age of Acquisition" (AoA) estimates for about 51k English words, which refers to the approximate age (in years) when a word was learned. Early words, being more basic, have lower average AoA.

The main columns you will be interested in are "Word" and "AoA_Kup_lem". But the others may be useful too.

The file contains these columns:

Word :: The word in question
Alternative.spelling :: if the Word may be spelled frequently in another form	
Freq_pm	:: Freq of the Word in general English (larger -> more common)
Dom_PoS_SUBTLEX	:: Dominant part of speech in general usage
Nletters :: number of letters 
Nphon :: number of phonemes
Nsyll :: number of syllables
Lemma_highest_PoS :: the "lemmatized" or "root" form of the word (in the dominant part of speech. e.g. The root form of the verb "abates" is "abate".
AoA_Kup	:: The AoA from a previous study by Kuperman et al.
Perc_known :: Percent of people who knew the word in the Kuperman et al. study
AoA_Kup_lem :: Estimated AoA based on Kuperman et al. study lemmatized words. THIS IS THE MAIN COLUMN OF INTEREST.
Perc_known_lem	:: Estimated percentage of people who would know this form of the word in the Kuperman study.
AoA_Bird_lem :: AoA reported in previous study by Bird (2001) 
AoA_Bristol_lem	:: AoA reported in previous study from Bristol Univ. (2006)
AoA_Cort_lem :: AoA reported in previous study by Cortese & Khanna (2008)
AoA_Schock :: AoA reported in previous study by Schock (2012)

Original source : http://crr.ugent.be/archives/806

In [646]:
#AoA
#Perc_known_lem, AoA_Kup_lem
aoawords_path = 'Data/AoA_51715_words.csv'
AoA = pd.read_csv(aoawords_path,encoding = 'unicode_escape')
AoA_set = set(AoA['Word'].values)
AoA.head(5)

,Word,Alternative.spelling,Freq_pm,Dom_PoS_SUBTLEX,Nletters,Nphon,Nsyll,Lemma_highest_PoS,AoA_Kup,Perc_known,AoA_Kup_lem,Perc_known_lem,AoA_Bird_lem,AoA_Bristol_lem,AoA_Cort_lem,AoA_Schock
0,a,a,20415.27,Article,1,1,1,a,2.89,1.00,2.89,1.00,3.16,NaN,NaN,NaN
1,aardvark,aardvark,0.41,Noun,8,7,2,aardvark,9.89,1.00,9.89,1.00,NaN,NaN,NaN,NaN
2,abacus,abacus,0.24,Noun,6,6,3,abacus,8.69,0.65,8.69,0.65,NaN,NaN,NaN,NaN
3,abacuses,abacuses,0.02,Noun,8,9,4,abacus,NaN,NaN,8.69,0.65,NaN,NaN,NaN,NaN
4,abalone,abalone,0.51,Verb,7,7,4,abalone,12.23,0.72,12.23,0.72,NaN,NaN,NaN,NaN

In [647]:
len(AoA)

51715

In [648]:
AoA.AoA_Kup_lem.min()

1.58

In [649]:
AoA.AoA_Kup_lem.max()

25.0

In [650]:
AoA.sort_values(['AoA_Kup_lem'], ascending=False)

,Word,Alternative.spelling,Freq_pm,Dom_PoS_SUBTLEX,Nletters,Nphon,Nsyll,Lemma_highest_PoS,AoA_Kup,Perc_known,AoA_Kup_lem,Perc_known_lem,AoA_Bird_lem,AoA_Bristol_lem,AoA_Cort_lem,AoA_Schock
14878,eisteddfod,eisteddfod,NaN,NaN,10,8,3,eisteddfod,25.0,0.05,25.0,0.05,NaN,NaN,NaN,NaN
2084,architrave,architrave,0.04,Noun,10,8,3,architrave,21.0,0.05,21.0,0.05,NaN,NaN,NaN,NaN
6274,calceolaria,calceolaria,0.02,Noun,11,11,6,calceolaria,21.0,0.11,21.0,0.11,NaN,NaN,NaN,NaN
32931,penury,penury,0.02,Noun,6,7,3,penury,20.6,0.28,20.6,0.28,NaN,NaN,NaN,NaN
25243,kendo,kendo,0.37,Noun,5,5,2,kendo,20.5,0.11,20.5,0.11,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38932,rogation,rogation,NaN,NaN,8,7,3,rogation,NaN,0.00,NaN,0.00,NaN,NaN,NaN,NaN
42089,smilax,smilax,NaN,NaN,6,7,2,smilax,NaN,0.00,NaN,0.00,NaN,NaN,NaN,NaN
46368,thulium,thulium,NaN,NaN,7,6,3,thulium,NaN,0.00,NaN,0.00,NaN,NaN,NaN,NaN
50862,wickiup,wickiup,0.27,Noun,7,6,3,wickiup,NaN,0.00,NaN,0.00,NaN,NaN,NaN,NaN
50941,williwaw,williwaw,NaN,NaN,8,6,3,williwaw,NaN,0.00,NaN,0.00,NaN,NaN,NaN,NaN

In [651]:
len(AoA[AoA['AoA_Kup_lem'].isna()])

20

In [652]:
AoA[AoA['AoA_Kup_lem'].isna()]

,Word,Alternative.spelling,Freq_pm,Dom_PoS_SUBTLEX,Nletters,Nphon,Nsyll,Lemma_highest_PoS,AoA_Kup,Perc_known,AoA_Kup_lem,Perc_known_lem,AoA_Bird_lem,AoA_Bristol_lem,AoA_Cort_lem,AoA_Schock
442,actinium,actinium,NaN,NaN,8,8,4,actinium,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
1322,ambuscade,ambuscade,NaN,NaN,9,8,3,ambuscade,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
2306,ashlar,ashlar,NaN,NaN,6,5,2,ashlar,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
5095,bosky,bosky,NaN,NaN,5,4,2,bosky,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
6404,canaille,canaille,NaN,NaN,8,5,2,canaille,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
9004,compeer,compeer,NaN,NaN,7,6,3,compeer,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
9005,compeers,compeers,0.02,Noun,8,7,3,compeer,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
16000,europium,europium,NaN,NaN,8,8,4,europium,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
19065,gallimaufry,gallimaufry,NaN,NaN,11,9,4,gallimaufry,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
22498,hutment,hutment,NaN,NaN,7,7,2,hutment,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
25196,karakul,karakul,NaN,NaN,7,7,3,karakul,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
25219,kedge,kedge,NaN,NaN,5,3,1,kedge,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
25575,kyat,kyat,NaN,NaN,4,4,2,kyat,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
32754,peculation,peculation,NaN,NaN,10,10,4,peculation,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
34588,pother,pother,NaN,NaN,6,5,2,pother,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
38932,rogation,rogation,NaN,NaN,8,7,3,rogation,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
42089,smilax,smilax,NaN,NaN,6,7,2,smilax,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
46368,thulium,thulium,NaN,NaN,7,6,3,thulium,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
50862,wickiup,wickiup,0.27,Noun,7,6,3,wickiup,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
50941,williwaw,williwaw,NaN,NaN,8,6,3,williwaw,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN

In [653]:
# We are going to impute all Nan values in AoA_Kup_lem as the max AoA value 25, as they appear to be hard words.
AoA['AoA_Kup_lem'].fillna(value=AoA['AoA_Kup_lem'].max(), inplace=True)

In [654]:
AoA.sort_values(['AoA_Kup_lem'], ascending=False)

,Word,Alternative.spelling,Freq_pm,Dom_PoS_SUBTLEX,Nletters,Nphon,Nsyll,Lemma_highest_PoS,AoA_Kup,Perc_known,AoA_Kup_lem,Perc_known_lem,AoA_Bird_lem,AoA_Bristol_lem,AoA_Cort_lem,AoA_Schock
2306,ashlar,ashlar,NaN,NaN,6,5,2,ashlar,NaN,0.00,25.00,0.00,NaN,NaN,NaN,NaN
38932,rogation,rogation,NaN,NaN,8,7,3,rogation,NaN,0.00,25.00,0.00,NaN,NaN,NaN,NaN
46368,thulium,thulium,NaN,NaN,7,6,3,thulium,NaN,0.00,25.00,0.00,NaN,NaN,NaN,NaN
14878,eisteddfod,eisteddfod,NaN,NaN,10,8,3,eisteddfod,25.00,0.05,25.00,0.05,NaN,NaN,NaN,NaN
5095,bosky,bosky,NaN,NaN,5,4,2,bosky,NaN,0.00,25.00,0.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27395,mamma,mamma,3.02,Noun,5,4,2,mama,NaN,NaN,1.89,1.00,NaN,NaN,NaN,NaN
27393,mamas,mamas,0.71,Noun,5,5,2,mama,NaN,NaN,1.89,1.00,NaN,NaN,NaN,NaN
27392,mama,mama,103.71,Noun,4,4,2,mama,1.89,1.00,1.89,1.00,NaN,NaN,NaN,NaN
29050,mommas,mommas,0.10,Noun,6,5,2,momma,NaN,NaN,1.58,1.00,NaN,NaN,NaN,NaN
29049,momma,momma,8.08,Noun,5,4,2,momma,1.58,1.00,1.58,1.00,NaN,NaN,NaN,NaN

### AoA values range from 0 - 25, which means the smaller the AoA value, the easier the word is. We could possibly use the AoA value to give easier words less weight.

In [655]:
aoa_words = list(AoA['Word'].values)

In [656]:
len(aoa_words)

51715

In [657]:
aoa_complement = [word for word in words_in_vector if word not in aoa_words]
aoa_intersect = [word for word in words_in_vector if word in aoa_words]

In [658]:
len(aoa_complement)

342

In [659]:
aoa_complement

['ndash',
 'usually',
 'aisne',
 'europe',
 'european',
 'calvados',
 'basse',
 'normandie',
 'commonly',
 'loire',
 'gironde',
 'africa',
 'picardie',
 'aquitaine',
 'generally',
 'atlantic',
 'officially',
 'lower',
 'especially',
 'disney',
 'throughout',
 'britain',
 'wikipedia',
 'approximately',
 'pacific',
 'mainly',
 'nintendo',
 'alpes',
 'partement',
 'typically',
 'nobel',
 'african',
 'widely',
 'picardy',
 'sarthe',
 'particularly',
 'formerly',
 'olympic',
 'jewish',
 'prix',
 'korea',
 'previously',
 'directly',
 'probably',
 'saturn',
 'online',
 'recently',
 'highly',
 'provence',
 'nazi',
 'isbn',
 'linux',
 'islamic',
 'microsoft',
 'unlike',
 'rhine',
 'relatively',
 'kilometres',
 'completely',
 'kong',
 'aube',
 'frequently',
 'municipalities',
 'azur',
 'shortly',
 'gregorian',
 'closely',
 'largely',
 'traditionally',
 'asian',
 'metres',
 'ardãƒ',
 'respectively',
 'caribbean',
 'tehsil',
 'smackdown',
 'abbottabad',
 'grammy',
 'yorkshire',
 'johann',
 'montreal',
 'hong',
 'hitler',
 'jews',
 'subsequently',
 'muslims',
 'specifically',
 'islam',
 'pokãƒ',
 'playstation',
 'possibly',
 'easily',
 'fifa',
 'subtropical',
 'notably',
 'christianity',
 'arab',
 'neptune',
 'historically',
 'colour',
 'onto',
 'puerto',
 'newly',
 'westphalia',
 'extremely',
 'friedrich',
 'vendãƒ',
 'entirely',
 'alongside',
 'vaucluse',
 'voyager',
 'beatles',
 'wrestlemania',
 'xbox',
 'ardã',
 'christians',
 'formally',
 'gaelic',
 'viii',
 'saxe',
 'romans',
 'americans',
 'glasgow',
 'indo',
 'anglo',
 'orton',
 'bach',
 'edinburgh',
 'google',
 'uranus',
 'uefa',
 'prussia',
 'wagner',
 'celtic',
 'heavily',
 'annually',
 'britannica',
 'shakespeare',
 'labour',
 'hindu',
 'zeus',
 'serie',
 'ecliptic',
 'atlantiques',
 'canadiens',
 'bengal',
 'forbes',
 'pokã',
 'jura',
 'batista',
 'hampshire',
 'brabant',
 'commons',
 'norse',
 'operas',
 'frankfurt',
 'josã',
 'overseas',
 'maritimes',
 'greatly',
 'shah',
 'mcmahon',
 'whedon',
 'gradually',
 'briefly',
 'instal',
 'fairly',
 'baptist',
 'neighbour',
 'bouches',
 'renault',
 'leonese',
 'indus',
 'sony',
 'nasa',
 'slavic',
 'reich',
 'janeiro',
 'mccartney',
 'michaels',
 'mozart',
 'nuremberg',
 'suffolk',
 'costa',
 'pyrã',
 'arabia',
 'simpsons',
 'antarctica',
 'buddhism',
 'newfoundland',
 'knowles',
 'strongly',
 'buenos',
 'inland',
 'americas',
 'internationally',
 'persia',
 'khyber',
 'unesco',
 'successfully',
 'castile',
 'vendã',
 'anglican',
 'thames',
 'orient',
 'somewhat',
 'subspecies',
 'programme',
 'honour',
 'harvard',
 'amazon',
 'alps',
 'petersburg',
 'saudi',
 'antarctic',
 'organise',
 'georg',
 'apollo',
 'teau',
 'exclusively',
 'flemish',
 'publicly',
 'nazis',
 'extratropical',
 'heinrich',
 'similarly',
 'significantly',
 'pakhtunkhwa',
 'josãƒ',
 'ubuntu',
 'bundesliga',
 'harbour',
 'sussex',
 'chakwal',
 'soundgarden',
 'blackhawks',
 'ferrari',
 'yugoslavia',
 'emirates',
 'saxon',
 'chãƒ',
 'hume',
 'prussian',
 'debian',
 'volkswagen',
 'lanka',
 'twentieth',
 'ussr',
 'jurassic',
 'loosely',
 'tehsils',
 'increasingly',
 'baltic',
 'sainte',
 'facto',
 'partially',
 'necessarily',
 'sega',
 'wolfgang',
 'arabian',
 'medici',
 'victorian',
 'tibet',
 'arrondissement',
 'vegas',
 'grande',
 'germanic',
 'pradesh',
 'independently',
 'europeans',
 'burma',
 'antilles',
 'commercially',
 'georges',
 'germans',
 'canton',
 'fischer',
 'broadway',
 'bruins',
 'silva',
 'pluto',
 'subfamily',
 'tico',
 'forever',
 'hainaut',
 'indians',
 'nixon',
 'nascar',
 'ncaa',
 'organisation',
 'simultaneously',
 'legally',
 'hindenburg',
 'antwerp',
 'properly',
 'keynes',
 'apparently',
 'kreis',
 'boeing',
 'beyoncã',
 'mecklenburg',
 'thereafter',
 'chevrolet',
 'greeks',
 'ville',
 'scala',
 'additionally',
 'derbyshire',
 'pichilemu',
 'buddha',
 'cyrillic',
 'rica',
 'nato',
 'gettysburg',
 'aang',
 'lancashire',
 'sunderland',
 'ming',
 'extensively',
 'yearly',
 'oblast',
 'mongol',
 'nineteenth',
 'rttemberg',
 'bavarian',
 'trojan',
 'haute',
 'rhode',
 'grameen',
 'predominantly',
 'benoit',
 'disambiguation',
 'czechoslovakia',
 'eleventh',
 'stallone',
 'meanwhile',
 'unitary',
 'catholics',
 'sexually',
 'amadeus',
 'ipswich',
 'congo']

In [675]:
cities

{'saitama',
 'shardara',
 'rapallo',
 'wazīrābād',
 'malvar',
 'vīsāvadar',
 'yōkaichiba',
 'fundación',
 'gondomar',
 'konya',
 'skadovs’k',
 'tulsa',
 'grenoble',
 'la fría',
 'masumbwe',
 'yangzhou',
 'belleville',
 'cortazar',
 'southall',
 'kolhāpur',
 'zürich (kreis 12)',
 'bhubaneshwar',
 'puurs',
 'challans',
 'kėdainiai',
 'kalach',
 'montebello',
 'north valley stream',
 'astorga',
 'pingliang',
 'ijūin',
 'joliette',
 'kwale',
 'nador',
 'chhala',
 'vikhorevka',
 'wellingborough',
 'asyūţ',
 'viçosa',
 'beveren',
 'ossett',
 'rustenburg',
 'santiago de los caballeros',
 'almansa',
 'santa maria capua vetere',
 'leer',
 'pilsen',
 'gaspar',
 'žiar nad hronom',
 'labé',
 'lys’va',
 'altagracia de orituco',
 'banning',
 'port moody',
 'cibinong',
 'deventer',
 'harīpur',
 'cần giờ',
 'kundla',
 'city center',
 'antibes',
 'diwek',
 'lake zurich',
 'kangaba',
 'maghār',
 'ashta',
 'pimentel',
 'linxia chengguanzhen',
 'jerez de la frontera',
 'arrentela',
 'breda',
 'supaul',
 'yeadon',
 'ostuncalco',
 'dhuburi',
 'naraura',
 'eltham',
 'santiago pinotepa nacional',
 'egra',
 'skawina',
 'lübeck',
 'cachoeira do sul',
 'tolga',
 'kélibia',
 'bhairab bāzār',
 'desenzano del garda',
 'ōyama',
 'mount lebanon',
 'mcdonough',
 'taunggyi',
 'falāvarjān',
 'sakata',
 'oklahoma city',
 'loandjili',
 'algete',
 'la chapelle-sur-erdre',
 'radnor',
 'veshnyaki',
 'camaçari',
 'ciudad sandino',
 'mahālingpur',
 'new malden',
 'san benito',
 'zhezqazghan',
 'frohnau',
 'hennigsdorf',
 'mastic',
 'makakilo',
 'mithi',
 'wajir',
 'les ulis',
 'port angeles',
 'sijunjung',
 'piaseczno',
 'west valley city',
 'emirdağ',
 'yudong',
 'imperial beach',
 'cacocum',
 'kuchera',
 'ciamis',
 'almaty',
 'ahraura',
 'malmö',
 'kolokani',
 'tabora',
 'svetlograd',
 'charlottetown',
 'são jerônimo',
 'culemborg',
 'phulera',
 'mauá',
 'synel’nykove',
 'bolzano',
 'ilobu',
 'mount martha',
 'naivasha',
 'gisenyi',
 'bayshore gardens',
 'east florence',
 'la cruz',
 'seoul',
 'pont-à-mousson',
 'katav-ivanovsk',
 'kariya',
 'dasmariñas',
 'torrox',
 'sannois',
 'vemalwāda',
 'rozzano',
 'werdohl',
 'zadar',
 'corozal',
 'candiac',
 'al ‘ulá',
 'douar tindja',
 'hamtramck',
 'wodzisław śląski',
 'nazran’',
 'anyama',
 'horad zhodzina',
 'corvallis',
 'gangārāmpur',
 'al hārithah',
 'reconquista',
 'laboulaye',
 'misawa',
 'wiener neustadt',
 'tervuren',
 'uray',
 'costa mesa',
 'bắc giang',
 'tāsgaon',
 'kertih',
 'tandil',
 'bījār',
 'tortola',
 'farragut',
 'pistoia',
 'alotenango',
 'sunām',
 'bloemhof',
 'tobias barreto',
 'seynod',
 'saint-jean-sur-richelieu',
 'mānāvadar',
 'quthbullapur',
 'papanasam',
 'nagano',
 'horlivka',
 'yangliuqing',
 'salamá',
 'concord',
 'wakimachi',
 'tomigusuku',
 'jolārpettai',
 'bouinan',
 'nāngal township',
 'mililani town',
 'taverny',
 'nantes',
 'avignon',
 'soba',
 'jesi',
 'sōka',
 'leichlingen',
 'kyzyl-kyya',
 'ivoti',
 'sodhra',
 'maría la baja',
 'tabou',
 'kaliningrad',
 'sonsonate',
 'abhayāpuri',
 'launceston',
 'leiderdorp',
 'kharsia',
 'mangilao village',
 'kudus',
 'bernau bei berlin',
 'wauwatosa',
 'la laja',
 'rheinberg',
 'salwá',
 'asia',
 'seabra',
 'caucasia',
 'heilbron',
 'qoryooley',
 'lota',
 'ciudad guzmán',
 'santa isabel',
 'torredembarra',
 'albufeira',
 'conversano',
 'gokak',
 'khairābād',
 'harrison',
 'jūrmala',
 'zürich (kreis 10) / wipkingen',
 'tārūt',
 'wete',
 'dodola',
 'la breita',
 'çubuk',
 'machalí',
 'dęblin',
 'chełm',
 'khāliş',
 'samara',
 'bāpatla',
 'ballymena',
 'khorugh',
 'singojuruh',
 'békés',
 'namp’o',
 'piedecuesta',
 'télimélé',
 'são pedro da aldeia',
 'rafsanjān',
 'parung',
 'morsi',
 'binghamton',
 'ermua',
 'novogireyevo',
 'keystone',
 'bismil',
 'oroquieta',
 'jogbani',
 'pinhão',
 'l’isle-sur-la-sorgue',
 'mishawaka',
 'bcharré',
 'kikwit',
 'mauganj',
 'kaura namoda',
 'peniche',
 'aburi',
 'segamat',
 'ilmenau',
 'ontinyent',
 'yutan',
 'jhānsi',
 'chlef',
 'chizhou',
 'oradea',
 'chillupār',
 'villa allende',
 'pingzhuang',
 'rochdale',
 'çarşamba',
 'bitola',
 'lianyuan',
 'joensuu',
 'al jahrā’',
 'pandan',
 'nauen',
 'pagaluñgan',
 'newry',
 'mytilíni',
 'takanosu',
 'los ángeles',
 'royan',
 'keta',
 'tiruvalla',
 'shaoguan',
 'serchhīp',
 'kutná hora',
 'nepalgunj',
 'matsudo',
 'khenifra',
 'surendranagar',
 'chunskiy',
 'sivaganga',
 'huai yot',
 'sitampiky',
 'la rioja',
 'belëv',
 'bethal',
 'zhigulevsk',
 'hsinchu',
 'lüderitz',
 'são tomé',
 'königsbrunn',
 'sisŏphŏn',
 'niquero',
 'pisco',
 'perris',
 'baeza',
 'cikampek',
 'boû arfa',
 'al ḩāmūl',
 'whangarei',
 'liberal',
 'cambre',
 'lakshmīpur',
 'tharangambadi',
 'jasper',
 'new delhi',
 'iwade',
 'janakpur',
 'rockingham',
 'saint-augustin-de-desmaures',
 'kırklareli',
 'weiden',
 'medemblik',
 'baia mare',
 'rutland',
 'sittwe',
 'ermesinde',
 'tuen mun',
 'barnstable',
 'jagalūr',
 'örnsköldsvik',
 'taquara',
 'mohyliv-podil’s’kyy',
 'perm',
 'molde',
 'tarkwa',
 'nandigāma',
 'teguise',
 'port glasgow',
 'pires do rio',
 'zhuangyuan',
 'springs',
 'yāval',
 'werota',
 'gastonia',
 'srīnagar',
 'ar rumaythah',
 'nioro du rip',
 'dunwoody',
 'londrina',
 'najaf',
 'yafo',
 'kyshtym',
 'sant just desvern',
 'fontenay-aux-roses',
 'capivari',
 'llaillay',
 'arang',
 'pinar de chamartín',
 'río gallegos',
 'raebareli',
 'fort erie',
 'divo',
 'xiaoweizhai',
 'tashtagol',
 'filderstadt',
 'visakhapatnam',
 'cusco',
 'sanjō',
 'wanparti',
 'dalton',
 'brymbo',
 'schwalmstadt',
 'batu berendam',
 'izberbash',
 'boksitogorsk',
 'yanbu',
 'wageningen',
 'coronel suárez',
 'saki',
 'don luan',
 'marijampolė',
 'sinjār',
 'ayamonte',
 'phnom penh',
 'huarmey',
 'raalte',
 'bhīlwāra',
 'tinsukia',
 'vinnytsya',
 'americana',
 'sierre',
 'princeton',
 'trípoli',
 'pokhara',
 'zhangjiagang',
 'itararé',
 'santo antônio do monte',
 'alghero',
 'sicklerville',
 'tepeaca',
 'hameln',
 'buzovna',
 'bastī',
 'sabanagrande',
 'saravia',
 'budënnovsk',
 'isfara',
 'mutengene',
 'antsiranana',
 'ghosī',
 'oakley',
 'russeifa',
 'padalarang',
 'svyetlahorsk',
 'ríohacha',
 'puruliya',
 'panalanoy',
 'ylöjärvi',
 'dili',
 'kīsh',
 'vaasa',
 'passos',
 'sidi mérouane',
 'hadjout',
 'bolgatanga',
 'zeya',
 'athis-mons',
 'rāth',
 'lüdenscheid',
 'klungkung',
 'madisonville',
 'jutiapa',
 'burscheid',
 'syracuse',
 'komono',
 'porriño',
 'sadalgi',
 'bogotol',
 'kreuzlingen',
 'gerede',
 'xianshuigu',
 'mandlā',
 'noida',
 'santa rosa de viterbo',
 'baddomalhi',
 'burgess hill',
 'al hoceïma',
 'bacoor',
 'am timan',
 'bunschoten',
 'heusden',
 'vāda',
 'zgorzelec',
 'chāndor',
 'las margaritas',
 'roi et',
 'coquitlam',
 'banaz',
 'kovdor',
 'prospect',
 'atherton',
 'kaffrine',
 'armenia',
 'sidi aïssa',
 'oderzo',
 'bourgoin-jallieu',
 'teplice',
 'haiphong',
 'kinzan',
 'ashford',
 'bernburg',
 'bassar',
 'hikone',
 'ghātsīla',
 'veenendaal',
 'osuna',
 'vasa',
 'tondi',
 'reni',
 'medford',
 'saalfelden am steinernen meer',
 'uman',
 'six-fours-les-plages',
 'baicheng',
 'houilles',
 'sofo-birnin-gwari',
 'buxton',
 'farrukhnagar',
 'zanesville',
 'mohács',
 'ardabīl',
 'ramallah',
 'toguchin',
 'miahuatlán de porfirio díaz',
 'ennepetal',
 'kassel',
 'kalāt',
 'alvin',
 'pāveh',
 'bloemfontein',
 'rastatt',
 'loncoche',
 'yuyao',
 'alenquer',
 'degema hulk',
 'zheleznogorsk',
 "st. john's",
 'monterotondo',
 'al wajh',
 'metapán',
 'kurihashi',
 'al mukallā',
 'lisburn',
 'ullal',
 'harda khās',
 'znomenka',
 'nara-shi',
 'ploemeur',
 'aalter',
 'kabanga',
 'regensburg',
 'bende',
 'delcevo',
 'coyah',
 'ngoro',
 'annecy',
 'schenectady',
 'fleury-les-aubrais',
 'tanguiéta',
 'abbeville',
 'anlu',
 'ilula',
 'gürsu',
 'lillehammer',
 'dreux',
 'gescher',
 'kodār',
 'chemini',
 'pedro meoqui',
 'barcelos',
 'jieyang',
 'crépy-en-valois',
 'thousand oaks',
 'bangassou',
 'hindoria',
 'kodarmā',
 'coruripe',
 'rādhan',
 'satka',
 'douarnenez',
 'tirat karmel',
 'catanzaro',
 'surrey',
 'érd',
 'tak',
 'basildon',
 'karlovy vary',
 'kuala lipis',
 'kalakkādu',
 'şişli',
 'citrus heights',
 'gorontalo',
 'hamina',
 'wigston magna',
 'qom',
 'muhammadābād',
 'magole',
 'kuju',
 'quezon city',
 'coimbra',
 'ramanayyapeta',
 'goražde',
 'romsey',
 'ciego de ávila',
 'baranagar',
 'arakkonam',
 'bartoszyce',
 'ampasimanolotra',
 'solok',
 'serov',
 'wolfenbüttel',
 'v.s.k.valasai (dindigul-dist.)',
 'esquel',
 'kontagora',
 'burnaby',
 'olney',
 'sumy',
 'việt trì',
 'graz',
 'cloverly',
 'san juan de aznalfarache',
 'kātpādi',
 'tiruppuvanam',
 'laramie',
 'würselen',
 'köln',
 'most',
 'bakal',
 'mawlamyinegyunn',
 'protvino',
 'badagry',
 'quwaysinā',
 'palwal',
 'the crossings',
 'sangla hill',
 'st austell',
 'hosdurga',
 'busembatia',
 'tsuruga',
 'kharakvasla',
 'tetuán de las victorias',
 'periyakulam',
 'bodegraven',
 'jawor',
 'vilyuchinsk',
 'redding',
 'pare',
 'tezpur',
 'kosonsoy',
 'ferrol',
 'novato',
 'břeclav',
 'chancay',
 'theniet el had',
 'south portland gardens',
 'corinth',
 'roth',
 'fort abbās',
 'hellevoetsluis',
 'lambayeque',
 'sandakan',
 'dakar',
 'mīrpur māthelo',
 'tingi',
 'šeškinė',
 'stockbridge',
 'ibotirama',
 'abreus',
 'chaparral',
 'luckeesarai',
 'kesabpur',
 'shāhjānpur',
 'cajicá',
 'são joão del rei',
 'virudunagar',
 'yono',
 'qŭshkŭpir',
 'makó',
 'el attaf',
 'maba',
 'jacaltenango',
 'liaozhong',
 'imus',
 'castillejos',
 'lālmohan',
 'koulamoutou',
 'north canton',
 'korbach',
 'bell gardens',
 'tanay',
 'north salt lake',
 'ennis',
 'matteson',
 'mahbūbābād',
 'anta',
 'colegiales',
 'villavicencio',
 'kikinda',
 'königslutter am elm',
 'chekhov',
 'mizdah',
 'korāput',
 'keelung',
 'chosica',
 'altos',
 'reigate',
 'logroño',
 'morton grove',
 'lushnjë',
 'achern',
 'puerto montt',
 'konch',
 'kuznetsovs’k',
 'maracay',
 'sant celoni',
 'amla',
 'mytishchi',
 'guelma',
 'oberasbach',
 'jēkabpils',
 'itabuna',
 'shouguang',
 'kyustendil',
 'marte',
 'al khafjī',
 'shin’ichi',
 'songadh',
 'ilchester',
 'injambakkam',
 'fasā',
 'schwerte',
 'borken',
 'mokotów',
 'greenville',
 'jinan',
 'barberena',
 'afşin',
 'combs-la-ville',
 'phuntsholing',
 'sirohi',
 'stevenage',
 'dawei',
 'brăila',
 'diyarb najm',
 'évora',
 'ameca',
 'kadayanallur',
 'hālol',
 'krasnovishersk',
 'isahaya',
 'norwalk',
 'ijsselstein',
 'bawāna',
 'lilongwe',
 'georgīevka',
 'lennestadt',
 'apopa',
 'powai',
 'obanazawa',
 'zeytinburnu',
 'uchkeken',
 'mbarara',
 'richmond hill',
 'castiglione delle stiviere',
 'patti',
 'northwich',
 'casal di principe',
 'mlonggo',
 'tubbergen',
 'tessaoua',
 'tourcoing',
 'moncada',
 'baildon',
 'riverton',
 'dorsten',
 'boulogne-sur-mer',
 'coralville',
 'kakamega',
 'surin',
 'key west',
 'bhachāu',
 'johns creek',
 'hamanoichi',
 'āzādshahr',
 'tlalnepantla',
 'san luis',
 'catolé do rocha',
 'teotihuacán de arista',
 'hernani',
 'leça da palmeira',
 'gelemso',
 'yawata',
 'sants-montjuïc',
 'tiruvannāmalai',
 'matehuala',
 'tikrīt',
 'karaj',
 'malingao',
 'acapulco de juárez',
 'ashmūn',
 'ḩawsh ‘īsá',
 'malahide',
 'tiruppur',
 "vasyl'evsky ostrov",
 'develi',
 'texcoco de mora',
 'abnūb',
 'monte alto',
 'dalai',
 'ahrensburg',
 'dubna',
 'hāsilpur',
 'baiersbronn',
 'port sudan',
 'agadir',
 'suluova',
 'kissidougou',
 'ebetsu',
 'annaba',
 'villamaría',
 'usevia',
 'san narciso',
 'al ḩudaydah',
 'hāthras',
 'chalkída',
 'joão câmara',
 'sukuta',
 'santo tomé',
 'ol kalou',
 'palm city',
 'ādīgrat',
 'mendaha',
 'chignahuapan',
 'kaset sombun',
 'gibara',
 'calw',
 'kovel’',
 'aku',
 'le creusot',
 'nevşehir',
 'mabalacat city',
 'central point',
 'vaniyambadi',
 'irinjālakuda',
 'dhuliān',
 'manaus',
 'chaguanas',
 'neustrelitz',
 'pandacaqui',
 'kulai',
 'maştağa',
 'huy',
 'sonīpat',
 'hoge vucht',
 'tambov',
 'tal’ne',
 'pompéu',
 'kangasala',
 'erdenet',
 'bata',
 'evergreen park',
 'retreat',
 'clement town',
 'benevento',
 'cerro azul',
 'kamyshin',
 'erlangen',
 'abreu e lima',
 'khalīlābād',
 'ivatsevichy',
 'waterford',
 'fabijoniškės',
 'carlet',
 'apolda',
 'kibungo',
 'nizhnesortymskiy',
 'calapan',
 'saarbrücken',
 'shimokizukuri',
 'macon',
 'la maná',
 'dumka',
 'charlottenlund',
 'topki',
 'conception bay south',
 'poggiomarino',
 'ghauspur',
 'kaset wisai',
 'tinde',
 'barretos',
 'obihiro',
 'saint-louis',
 'bendigo',
 'mejorada del campo',
 'chūhar kāna',
 'singapore',
 'baturité',
 '‘izbat al burj',
 'ash shuhadā’',
 'astanajapura',
 'sainthia',
 'montero',
 'pirapora',
 'ferozepore',
 'mumbwa',
 'galatina',
 'padre bernardo',
 'deeside',
 'guanhães',
 'manbij',
 'yancheng',
 'budapest ix. kerület',
 'duba',
 'santa cruz de la palma',
 'la oroya',
 'santa rita do sapucaí',
 'dunaújváros',
 'mersing',
 'otavalo',
 'alum rock',
 'zaida',
 'tinghir',
 'rāmpura',
 'chandler',
 'djidiouia',
 'luau',
 'morār',
 'el triunfo',
 'pandua',
 'barra dos coqueiros',
 'kāliyāganj',
 'dzüünharaa',
 'badalona',
 'gujō',
 'güigüe',
 'spijkenisse',
 'bressanone',
 'coatzintla',
 'kuppam',
 'sosnowiec',
 'erkrath',
 'hayvoron',
 'savanūr',
 'jaffna',
 'richland',
 'yutz',
 'chennevières-sur-marne',
 'kabanovo',
 'segrate',
 'zile',
 'labis',
 'khāsh',
 'kihangara',
 'plettenberg',
 'amod',
 'huamantla',
 'tiberias',
 'tanque verde',
 'menomonie',
 'schorndorf',
 'chatham',
 'kardítsa',
 'fastiv',
 'minatitlan',
 'trujillo alto',
 'hidalgo del parral',
 'kazincbarcika',
 'saïda',
 'lūnāvāda',
 'yavatmāl',
 'murcia',
 'fougères',
 'roxas',
 'cové',
 'alcañiz',
 'misrikh',
 'échirolles',
 'phillaur',
 'lokoja',
 'asbury park',
 'downey',
 'markkleeberg',
 'boiro',
 'puliyangudi',
 'wałcz',
 'veracruz',
 'zhaodong',
 'winter park',
 'syriam',
 'nueva italia de ruiz',
 'bulanık',
 'rostock',
 'mustafakemalpaşa',
 'jhīnjhak',
 'ijuí',
 'lancy',
 'dhanaula',
 'inhambane',
 'tsiombe',
 'port blair',
 'santa cruz del norte',
 'dracut',
 'bijie',
 'vitória',
 'naberezhnyye chelny',
 'qiongshan',
 ...}

In [677]:
countries

{'afghanistan',
 'aland islands',
 'albania',
 'algeria',
 'american samoa',
 'andorra',
 'angola',
 'anguilla',
 'antigua and barbuda',
 'argentina',
 'armenia',
 'aruba',
 'australia',
 'austria',
 'azerbaijan',
 'bahamas',
 'bahrain',
 'bangladesh',
 'barbados',
 'belarus',
 'belgium',
 'belize',
 'benin',
 'bermuda',
 'bhutan',
 'bolivia',
 'bonaire, saint eustatius and saba',
 'bosnia and herzegovina',
 'botswana',
 'brazil',
 'british virgin islands',
 'brunei',
 'bulgaria',
 'burkina faso',
 'burundi',
 'cambodia',
 'cameroon',
 'canada',
 'cape verde',
 'cayman islands',
 'central african republic',
 'chad',
 'chile',
 'china',
 'christmas island',
 'cocos islands',
 'colombia',
 'comoros',
 'cook islands',
 'costa rica',
 'croatia',
 'cuba',
 'curacao',
 'cyprus',
 'czech republic',
 'democratic republic of the congo',
 'denmark',
 'djibouti',
 'dominica',
 'dominican republic',
 'east timor',
 'ecuador',
 'egypt',
 'el salvador',
 'equatorial guinea',
 'eritrea',
 'estonia',
 'ethiopia',
 'falkland islands',
 'faroe islands',
 'fiji',
 'finland',
 'france',
 'french guiana',
 'french polynesia',
 'french southern territories',
 'gabon',
 'gambia',
 'georgia',
 'germany',
 'ghana',
 'gibraltar',
 'greece',
 'greenland',
 'grenada',
 'guadeloupe',
 'guam',
 'guatemala',
 'guernsey',
 'guinea',
 'guinea-bissau',
 'guyana',
 'haiti',
 'honduras',
 'hong kong',
 'hungary',
 'iceland',
 'india',
 'indonesia',
 'iran',
 'iraq',
 'ireland',
 'isle of man',
 'israel',
 'italy',
 'ivory coast',
 'jamaica',
 'japan',
 'jersey',
 'jordan',
 'kazakhstan',
 'kenya',
 'kiribati',
 'kosovo',
 'kuwait',
 'kyrgyzstan',
 'laos',
 'latvia',
 'lebanon',
 'lesotho',
 'liberia',
 'libya',
 'liechtenstein',
 'lithuania',
 'luxembourg',
 'macao',
 'macedonia',
 'madagascar',
 'malawi',
 'malaysia',
 'maldives',
 'mali',
 'malta',
 'marshall islands',
 'martinique',
 'mauritania',
 'mauritius',
 'mayotte',
 'mexico',
 'micronesia',
 'moldova',
 'monaco',
 'mongolia',
 'montenegro',
 'montserrat',
 'morocco',
 'mozambique',
 'myanmar',
 'namibia',
 'nauru',
 'nepal',
 'netherlands',
 'new caledonia',
 'new zealand',
 'nicaragua',
 'niger',
 'nigeria',
 'niue',
 'norfolk island',
 'north korea',
 'northern mariana islands',
 'norway',
 'oman',
 'pakistan',
 'palau',
 'palestinian territory',
 'panama',
 'papua new guinea',
 'paraguay',
 'peru',
 'philippines',
 'pitcairn',
 'poland',
 'portugal',
 'puerto rico',
 'qatar',
 'republic of the congo',
 'reunion',
 'romania',
 'russia',
 'rwanda',
 'saint barthelemy',
 'saint helena',
 'saint kitts and nevis',
 'saint lucia',
 'saint martin',
 'saint pierre and miquelon',
 'saint vincent and the grenadines',
 'samoa',
 'san marino',
 'sao tome and principe',
 'saudi arabia',
 'senegal',
 'serbia',
 'seychelles',
 'sierra leone',
 'singapore',
 'sint maarten',
 'slovakia',
 'slovenia',
 'solomon islands',
 'somalia',
 'south africa',
 'south georgia and the south sandwich islands',
 'south korea',
 'south sudan',
 'spain',
 'sri lanka',
 'sudan',
 'suriname',
 'svalbard and jan mayen',
 'swaziland',
 'sweden',
 'switzerland',
 'syria',
 'taiwan',
 'tajikistan',
 'tanzania',
 'thailand',
 'togo',
 'tonga',
 'trinidad and tobago',
 'tunisia',
 'turkey',
 'turkmenistan',
 'turks and caicos islands',
 'tuvalu',
 'u.s. virgin islands',
 'uganda',
 'ukraine',
 'united arab emirates',
 'united kingdom',
 'united states',
 'uruguay',
 'uzbekistan',
 'vanuatu',
 'vatican',
 'venezuela',
 'vietnam',
 'wallis and futuna',
 'western sahara',
 'yemen',
 'zambia',
 'zimbabwe'}

In [660]:
len(aoa_intersect)

2554

In [661]:
aoa_intersect[:20]

['unite',
 'department',
 'state',
 'region',
 'commune',
 'include',
 'call',
 'play',
 'national',
 'district',
 'release',
 'years',
 'name',
 'locate',
 'area',
 'former',
 'series',
 'later',
 'album',
 'league']

In [662]:
len([word for word in aoa_intersect if word in concrete_intersect])

2226

In [663]:
for word in aoa_intersect:
    word_vectors[word] = word_vectors[word] * AoA[AoA['Word']==word]['AoA_Kup_lem'].values/25

In [664]:
word_vectors['state']

array([-0.02531605, -0.06983836,  0.07569417, -0.0199796 , -0.08170979,
        0.0126198 , -0.03631189,  0.04478207,  0.02543541, -0.00426309,
        0.00835675, -0.01547975,  0.083173  , -0.02952217, -0.06510621,
       -0.08822621,  0.02941588, -0.05510816, -0.05316929, -0.02765932,
        0.00669615,  0.00074564,  0.0362225 ,  0.04426894,  0.0832494 ,
       -0.03406315,  0.02073772, -0.03678282, -0.08137402,  0.0359503 ,
       -0.03306248, -0.01483777,  0.01406121,  0.00051605,  0.10590797,
       -0.0237588 ,  0.00701955,  0.01679777,  0.04338488,  0.04394314,
       -0.05966038, -0.0187582 , -0.0059121 , -0.08443372, -0.01350078,
       -0.05404426, -0.02109407, -0.07373458, -0.00710962, -0.02100398,
       -0.02001131, -0.02040975,  0.03315873, -0.05322361,  0.0008024 ,
       -0.00244391,  0.0057214 , -0.01174105, -0.04350759, -0.0211037 ,
        0.03061705, -0.00100189, -0.01355478,  0.01643214, -0.09787938,
       -0.05907072, -0.02259452,  0.01638364, -0.00573174,  0.04248516,
        0.03155013,  0.03948134, -0.0380661 ,  0.03277516,  0.05565981,
       -0.03206713,  0.02377646,  0.06840525, -0.01239053,  0.00742514,
       -0.03566892, -0.11843814, -0.03994955,  0.01723496,  0.00546595,
        0.04271801,  0.03127715, -0.03481788, -0.01449306,  0.03294919,
       -0.00399501, -0.02617926,  0.08186848, -0.00418014, -0.04449459,
        0.01207444,  0.07457646,  0.06336881, -0.04000379, -0.05400705],
      dtype=float32)

In [665]:
def generate_dense_features(tokenized_text,word_vectors):
    dense_list=[]
    words=[]
    for _ in tokenized_text: 
        words =[word for word in _ if word in word_vectors.key_to_index]
        
        if len(words) >0:
            dense_list.append(np.mean(word_vectors[words],axis=0))
            
        else: 
            dense_list.append(np.zeros(word_vectors.vector_size))
            
    return np.array(dense_list)

In [666]:
X_train_wv = generate_dense_features(tokenized_text_train,word_vectors)
X_test_wv = generate_dense_features(tokenized_text_test,word_vectors)

In [667]:
X_train_wv.shape

(333414, 100)

In [668]:
lr_wv = LogisticRegression(random_state=RANDOM_SEED,max_iter=1000).fit(X_train_wv,y_train)

In [669]:
accuracy_score(y_test,lr_wv.predict(X_test_wv))

0.5863305900136766

## Bag of Words Model

In [670]:
def dummy_fun(doc):
    return doc
vectorizer = TfidfVectorizer(analyzer='word',tokenizer=dummy_fun, preprocessor=dummy_fun, token_pattern=r'(?u)\b\w\w+__\([\w\s]*\)')
X_train_transform = vectorizer.fit_transform(tokenized_text_train)
X_test_transform  = vectorizer.transform(tokenized_text_test)

In [671]:
len(vectorizer.get_feature_names())

103167

In [672]:
vectorizer.get_feature_names()

['a_nx',
 'aabout',
 'aabye',
 'aach',
 'aafc',
 'aage',
 'aaiil',
 'aaliyahs',
 'aall',
 'aalto',
 'aames',
 'aamir',
 'aang',
 'aangã',
 'aapep',
 'aarberg',
 'aarburg',
 'aarc',
 'aarde',
 'aardman',
 'aardsma',
 'aardvark',
 'aardvarks',
 'aare',
 'aargauer',
 'aarhus',
 'aaroni',
 'aarons',
 'aarre',
 'aarseth',
 'aartselaar',
 'aarwangen',
 'aasen',
 'aashurah',
 'aast',
 'aastana',
 'aave',
 'ababa',
 'ababba',
 'ababda',
 'abac',
 'abacada',
 'abaci',
 'aback',
 'abacus',
 'abacuses',
 'abad',
 'abagnale',
 'abahutu',
 'abaj',
 'abajo',
 'abakanskoye',
 'abal',
 'abalo',
 'abalone',
 'abando',
 'abandon',
 'abandonded',
 'abandonment',
 'abarat',
 'abassi',
 'abate',
 'abattoirs',
 'abatutsi',
 'abauzit',
 'abavo',
 'abazhou',
 'abaãºj',
 'abba',
 'abbado',
 'abbadon',
 'abbados',
 'abbandando',
 'abbas',
 'abbasi',
 'abbasid',
 'abbasids',
 'abbasies',
 'abbass',
 'abbassid',
 'abbay',
 'abbaye',
 'abbe',
 'abbeydale',
 'abbeys',
 'abbiamo',
 'abbiati',
 'abbiss',
 'abbondancieri',
 'abbondanzieri',
 'abbondio',
 'abbot',
 'abbotsinch',
 'abbottabad',
 'abbotts',
 'abbr',
 'abbrev',
 'abbreviate',
 'abbreviation',
 'abbreviations',
 'abbruzzese',
 'abbs',
 'abbud',
 'abbã',
 'abbãƒ',
 'abcd',
 'abcs',
 'abdacom',
 'abdal',
 'abdallah',
 'abdel',
 'abdelazar',
 'abdelhafid',
 'abdeljalil',
 'abdelwahab',
 'abdera',
 'abderathe',
 'abdest',
 'abdi',
 'abdicate',
 'abdicatio',
 'abdication',
 'abdirashid',
 'abdolah',
 'abdollah',
 'abdomen',
 'abdomens',
 'abdominal',
 'abdominis',
 'abdou',
 'abdoulaye',
 'abdu',
 'abduct',
 'abduction',
 'abdulahi',
 'abdulaziz',
 'abdullaziz',
 'abdun',
 'abdurrahman',
 'abdus',
 'abeba',
 'abela',
 'abelard',
 'abele',
 'abelian',
 'abelisaurid',
 'abella',
 'abells',
 'abelmoschus',
 'abelshauser',
 'abelson',
 'abendroth',
 'abenobashi',
 'abenon',
 'abenteuer',
 'aber',
 'abercrombie',
 'abercromby',
 'aberdeenshire',
 'aberdeenshires',
 'aberdour',
 'aberdovey',
 'aberdyfi',
 'aberfan',
 'aberford',
 'aberfoyle',
 'abergavenny',
 'abergement',
 'abergynolwyn',
 'aberlin',
 'aberrant',
 'aberration',
 'aberrations',
 'aberson',
 'abert',
 'abertay',
 'aberystwyththe',
 'abet',
 'abeyie',
 'abgar',
 'abgebrã',
 'abgrenzung',
 'abhainn',
 'abhanga',
 'abhangas',
 'abhinav',
 'abhiras',
 'abhor',
 'abhorrã',
 'abid',
 'abidal',
 'abide',
 'abidine',
 'abidos',
 'abierta',
 'abilities',
 'ability',
 'abimael',
 'abin',
 'abio',
 'abiogenesis',
 'abiotic',
 'abiotically',
 'abire',
 'abisalovich',
 'abispa',
 'abitur',
 'abiword',
 'abjadi',
 'abjads',
 'abjuration',
 'abkai',
 'abkco',
 'abkhaz',
 'ablanedo',
 'ablation',
 'ablative',
 'ablaze',
 'abled',
 'ablest',
 'ablon',
 'abloy',
 'ablutions',
 'abma',
 'abney',
 'abnicum',
 'abnormal',
 'abnormalities',
 'abnormality',
 'abnormally',
 'abobrãƒ',
 'abol',
 'abolish',
 'abolishment',
 'abolition',
 'abolitionism',
 'abolitionist',
 'abolitionists',
 'abominations',
 'abong',
 'aboolian',
 'aboot',
 'aboriginal',
 'aboriginals',
 'aborigine',
 'aborigines',
 'abort',
 'abortifacient',
 'abortion',
 'abortions',
 'abortive',
 'abou',
 'abound',
 'aboutus',
 'aboveground',
 'abra',
 'abracadabra',
 'abrahamic',
 'abrahams',
 'abramczik',
 'abramovich',
 'abrams',
 'abrantes',
 'abrasion',
 'abrasions',
 'abraxas',
 'abraãƒ',
 'abreaction',
 'abreu',
 'abrictosaurus',
 'abridge',
 'abridgment',
 'abroad',
 'abrogant',
 'abrogate',
 'abronia',
 'abrowse',
 'abrsm',
 'abrupt',
 'abruptly',
 'abruzzi',
 'abrã',
 'abscess',
 'abscesses',
 'abscissa',
 'abscond',
 'absecon',
 'absence',
 'absences',
 'absent',
 'absentee',
 'absentia',
 'absentpelagic',
 'absinth',
 'absinthe',
 'absinthes',
 'absinthium',
 'absolut',
 'absolute',
 'absolutely',
 'absolutepunk',
 'absolution',
 'absolutist',
 'absolutive',
 'absolve',
 'absorb',
 'absorbance',
 'absorbances',
 'absorbent',
 'absorber',
 'absorbers',
 'absorption',
 'absorptive',
 'abstain',
 'abstention',
 'abstentionism',
 'abstinence',
 'abstract',
 'abstraction',
 'abstractionists',
 'abstractions',
 'absurd',
 'absurde',
 'absurdism',
 'absurdist',
 'absurdity',
 'abtwil',
 'abub',
 'abubakari',
 'abugida',
 'abugidas',
 'abukuma',
 'abul',
 'abuladze',
 'abulkhair',
 'abulm',
 'abuls',
 'abulã',
 'abundance',
 'abundant',
 'abundantly',
 'aburish',
 'abuse',
 'abusive',
 'abusively',
 'abut',
 'abutere',
 'abutments',
 'aby',
 'abydos',
 'abyssal',
 'abzekh',
 'abãƒ',
 'acacia',
 'acacias',
 'acad',
 'acadamias',
 'academe',
 'academia',
 'academic',
 'academical',
 'academically',
 'academician',
 'academics',
 'academie',
 'academies',
 'academkniga',
 'academy',
 'acadia',
 'acadians',
 'acadã',
 'acadãƒ',
 'acamprosate',
 'acanthaceae',
 'acanthaclisinae',
 'acanthocephala',
 'acanthodii',
 'acanthomintha',
 'acanthomyops',
 'acanthophis',
 'acanthophylla',
 'acanthostega',
 'acapulco',
 'acari',
 'acarology',
 'acaso',
 'acasta',
 'acca',
 'accademia',
 'accadian',
 'accede',
 'accelerate',
 'accelerateur',
 'acceleration',
 'accelerations',
 'accelerator',
 'accelerators',
 'acceleratorsã',
 'accelerometer',
 'accelerometers',
 'accends',
 'accent',
 'accentschurmann',
 'accept',
 'acceptable',
 'acceptably',
 'acceptance',
 'acceptor',
 'access',
 'accessibility',
 'accessible',
 'accession',
 'accessories',
 'accessory',
 'acchieved',
 'acchouhouri',
 'acciaiuoli',
 'acciarito',
 'accident',
 'accidental',
 'accidentally',
 'accidentals',
 'accidents',
 'accidie',
 'accies',
 'acciona',
 'accipiter',
 'accipitridae',
 'acciã³n',
 'acciãƒ',
 'acclaim',
 'acclamation',
 'acclamations',
 'acclimatation',
 'acclimate',
 'acclimatisation',
 'accolade',
 'accolades',
 'accomack',
 'accommodate',
 'accommodation',
 'accommodations',
 'accommodative',
 'accompaniment',
 'accompanist',
 'accompany',
 'accomping',
 'accomplice',
 'accomplices',
 'accomplish',
 'accomplishers',
 'accomplishment',
 'accomplishments',
 'accomptant',
 'accons',
 'accord',
 'accordance',
 'accordingly',
 'accordion',
 'accordionist',
 'accordo',
 'accost',
 'accouchement',
 'account',
 'accountability',
 'accountable',
 'accountancy',
 'accountant',
 'accountants',
 'accountn',
 'accountsare',
 'accous',
 'accouterments',
 'accoutrement',
 'accoyer',
 'accredit',
 'accreditation',
 'accreditor',
 'accreta',
 'accrete',
 'accretion',
 'accross',
 'accrue',
 'acculturate',
 'accumbens',
 'accumulate',
 'accumulation',
 'accumulations',
 'accuracy',
 'accurate',
 'accurately',
 'accusamus',
 'accusantium',
 'accusation',
 'accusations',
 'accuse',
 'accustom',
 'ace',
 'acedia',
 'aceldama',
 'aceman',
 'acephala',
 'acequia',
 'acer',
 'aceraceae',
 'aceramic',
 'acerbic',
 'acerbo',
 'acetaldehyde',
 'acetaminophen',
 'acetate',
 'acetic',
 'acetobacter',
 'acetone',
 'acetyl',
 'acetylate',
 'acetylation',
 'acetylcholine',
 'acetylene',
 'acetylide',
 'acetylsalicylic',
 'acevedo',
 'achab',
 'achaea',
 'achaemenid',
 'achaius',
 'achard',
 'acharya',
 'achawãƒ',
 'ache',
 'achebe',
 'achelate',
 'acheloos',
 'achelous',
 'achenbach',
 'achenes',
 'acheron',
 'acherontia',
 'achery',
 'acheulean',
 'achhim',
 'achi',
 'achicourt',
 'achiet',
 'achievable',
 'achieve',
 'achievement',
 'achievements',
 'achila',
 'achiles',
 'achille',
 'achillea',
 'achilles',
 'achillobator',
 'achiote',
 'achiral',
 'achlorhydria',
 'achmad',
 'achmed',
 'achna',
 'achoholic',
 'acholi',
 'achondrite',
 'achondroplasia',
 'achondroplastic',
 'achonry',
 'achromasia',
 'achromatopsia',
 'achromatosis',
 'achromia',
 'achterhoek',
 'achtice',
 'achtung',
 'achy',
 'achzarit',
 'achã',
 'achãƒ',
 'acib',
 'acid',
 'acidic',
 'acidification',
 'acidify',
 'acidity',
 'acidosis',
 'acids',
 'acinar',
 'acis',
 'ackerman',
 'ackery',
 'ackley',
 'acklins',
 'acknowledge',
 'acknowledgement',
 'acknowledgment',
 'acknowledgments',
 'ackworth',
 'acland',
 'aclare',
 'acme',
 'acmi',
 'acne',
 'acnielsen',
 'acolyte',
 'acolytes',
 'acomyinae',
 'acomys',
 'aconcagua',
 'aconite',
 'aconitum',
 'acorah',
 'acorn',
 'acorns',
 'acosta',
 'acou',
 'acoustic',
 'acoustical',
 'acoustically',
 'acoustician',
 'acousticly',
 'acoustics',
 'acpb',
 'acquaint',
 'acquaintance',
 'acquaintances',
 'acquarossa',
 'acqueville',
 'acquiesce',
 'acquieses',
 'acquin',
 'acquire',
 'acquisition',
 'acquisitions',
 'acquit',
 'acquittal',
 'acrea',
 'acrelãƒ',
 'acres',
 'acrisius',
 'acritarch',
 'acritarchs',
 'acrobat',
 'acrobates',
 'acrobatic',
 'acrobatics',
 'acrobaticã',
 'acrobats',
 'acron',
 'acronis',
 'acronym',
 'acronymic',
 'acronymous',
 'acronyms',
 'acropolis',
 'across',
 'acrossmanhattan',
 'acrylic',
 'acrymia',
 'acst',
 'act',
 'acta',
 'acte',
 'actias',
 'actin',
 'actinide',
 'actinides',
 'actinidia',
 'actinium',
 'actinobacteria',
 'actinoid',
 'actinolite',
 'actinomorphic',
 'actinomycetes',
 'actinopterygii',
 'actinopterygius',
 'actinosporea',
 'actinotrocha',
 'action',
 'actionscript',
 'actium',
 'actius',
 'activate',
 'activation',
 'activator',
 'active',
 'activebass',
 'actively',
 'actives',
 'activestats',
 'activeworlds',
 'activex',
 'activision',
 'activism',
 'activist',
 'activists',
 'activities',
 'activitist',
 'activitiy',
 'activity',
 'activitã',
 'actor',
 'actors',
 'actress',
 'actresses',
 'actual',
 'actuality',
 'actualitã',
 'actually',
 'actuaries',
 'actuate',
 'actuations',
 'actus',
 'acuatic',
 'acuca',
 'acuity',
 'aculeata',
 'aculeatus',
 'acupressure',
 'acupuncture',
 'acura',
 'acute',
 'acutely',
 'acuteness',
 'acutus',
 'acyclic',
 'acyl',
 'adachi',
 'adad',
 'adage',
 'adages',
 'adagh',
 'adagio',
 'adair',
 'adairville',
 'adak',
 'adal',
 'adalbert',
 'adama',
 'adamantine',
 'adamantium',
 'adamey',
 'adaminaby',
 'adamite',
 'adamkus',
 'adamlarina',
 'adamle',
 'adamski',
 'adamson',
 'adamsville',
 'adapiformes',
 'adapt',
 'adaptability',
 'adaptable',
 'adaptation',
 'adaptations',
 'adapter',
 'adapters',
 'adaption',
 'adaptions',
 'adaptive',
 'adaptively',
 'adaptor',
 'adas',
 'adasaurus',
 'adashim',
 'adastra',
 'adav',
 'add',
 'addai',
 'addakhil',
 'addams',
 'addax',
 'addenbrooke',
 'addendum',
 'adder',
 'adderley',
 'adders',
 'addicks',
 'addict',
 'addiction',
 'addictions',
 'addictive',
 'addington',
 'addis',
 'addiscombe',
 'addition',
 'additional',
 'additionally',
 'additionals',
 'additions',
 'additive',
 'additively',
 'additives',
 'addon',
 'address',
 'addressability',
 'addressable',
 'adegboyega',
 'adegem',
 'adelante',
 'adelboden',
 'adelekan',
 'adelheid',
 'adelir',
 'adelomyrmex',
 'adelong',
 'adelphotheos',
 'adelsheim',
 'ademar',
 'ademir',
 'ademola',
 'adenauer',
 'adenine',
 'adenoidectomy',
 'adenoids',
 'adenoma',
 'adenosine',
 'adephaga',
 'adept',
 'adequality',
 'adequate',
 'adequately',
 'aderbal',
 'ades',
 'adesa',
 'adetokunbo',
 'adeus',
 'adha',
 'adhaerens',
 'adhan',
 'adhana',
 'adhd',
 'adhemar',
 'adhere',
 'adherence',
 'adherent',
 'adherents',
 'adhesion',
 'adhesions',
 'adhesive',
 'adhesives',
 'adhlaka',
 'adhur',
 'adiabatic',
 'adiabene',
 'adibuddha',
 'adic',
 'adichie',
 'adidas',
 'adiel',
 'adieu',
 'adige',
 'adikalar',
 'adil',
 'adinath',
 'adine',
 'adinfer',
 'adingaheim',
 'adiperukku',
 'adipisci',
 'adipocytes',
 'adipose',
 'adiposity',
 'adipperukku',
 'adiri',
 'adirondack',
 'adit',
 'adits',
 'adiyiah',
 'adjacent',
 'adjacã',
 'adjacãƒ',
 'adjascent',
 'adjectival',
 'adjectivally',
 'adjective',
 'adjectives',
 'adjei',
 'adjemian',
 'adjoin',
 'adjudge',
 'adjudicate',
 'adjudication',
 'adjudicator',
 'adjudicators',
 'adjunct',
 'adjunctive',
 'adjuncts',
 'adjuration',
 'adjust',
 'adjustable',
 'adjustment',
 'adjustments',
 'adjutant',
 'adjutants',
 'adjuvants',
 'adkins',
 'adlaka',
 'adleman',
 'adlon',
 'admin',
 'adminer',
 'administer',
 'administeriet',
 'administraciã³n',
 'administraciãƒ',
 'administrate',
 'administration',
 'administrations',
 'administrative',
 'administrator',
 'administrators',
 'admins',
 'adminship',
 'admira',
 'admirable',
 'admirably',
 'admirals',
 'admiralspalast',
 'admiralty',
 'admiration',
 'admire',
 'admirer',
 'admirers',
 'admiringly',
 'admission',
 'admissions',
 'admit',
 'admittance',
 'admittedly',
 'admixture',
 'admixtures',
 'admonition',
 'admont',
 'adna',
 'adnan',
 'adnos',
 'adobe',
 'adobes',
 'adolescence',
 'adolescent',
 'adolescente',
 'adolescents',
 'adolphe',
 'adom',
 'adomnãƒ',
 'adonai',
 'adopt',
 'adoptable',
 'adoption',
 'adoptionism',
 'adoptions',
 'adoptive',
 'adorable',
 'adoration',
 'adore',
 'adorn',
 'adornments',
 'adorno',
 'adoroam',
 'adrastea',
 'adrenal',
 'adrenalin',
 'adrenaline',
 'adrenalize',
 'adriaan',
 'adriaen',
 'adriaenszoon',
 'adriano',
 'adrianopole',
 'adrianov',
 'adrianus',
 'adriatic',
 'adriatica',
 'adriatico',
 'adriã',
 'adriãƒ',
 'adroam',
 'adroguãƒ',
 'adsit',
 'adso',
 'adsorption',
 'adsur',
 'adtranz',
 'adua',
 'adug',
 'aduki',
 'adula',
 'adulate',
 'adulation',
 'adult',
 'adultera',
 'adulterate',
 'adulteration',
 'adulterators',
 'adulterer',
 'adulterers',
 'adulterous',
 'adultery',
 'adulthood',
 'adultos',
 ...]

In [388]:
X_train_transform

<333414x106068 sparse matrix of type '<class 'numpy.float64'>'
	with 1944434 stored elements in Compressed Sparse Row format>

In [389]:
lr_bow = LogisticRegression(random_state=RANDOM_SEED,max_iter=1000).fit(X_train_transform,y_train)

In [390]:
accuracy_score(y_test,lr_bow.predict(X_test_transform))

0.6466876214698755

In [ ]:
model_word = set(word_vectors.index_to_key) #around 6k words in the Word2Vec model

In [ ]:
len(model_word)

In [ ]:
len(model_word.intersection(concreteset))

In [ ]:
word_vectors['live']

In [ ]:
lemmatizer = WordNetLemmatizer()
word_list = []
for word in model_word: 
    word_list.append((word,lemmatizer.lemmatize(word.lower())))
df = pd.DataFrame(word_list,columns=['Original','word'])
df = df.merge(AoA,left_on='word',right_on='Word',how='left')
df = df[['Original','word','Perc_known','AoA_Kup_lem']]
word_not_matched = set(df[df['Perc_known'].isnull()].word.values)

for i in range(len(df)):   
    if df['word'][i][0] in set(('0','1','2','3','4','5','6','7','8','9')) or len(df['word'][i])==1:
        df['AoA_Kup_lem'][i] = 3
mean_value = df['AoA_Kup_lem'].mean()
df['AoA_Kup_lem'].fillna(value=mean_value,inplace=True)

In [ ]:
#df.loc[df['Original']==['troops','weapons']]
df[df['Original'].isin(['troops','weapon'])]

In [ ]:
def generate_perc_known(tokenized_text,df):
    avg_perc_know=None
    perc_know_list=[]
    for _ in tokenized_text: 
        words =[word for word in _ if word in word_vectors.key_to_index]
        
        if len(words) >0:
            avg_perc_know = np.mean(df[df['Original'].isin(words)]['AoA_Kup_lem'])
            perc_know_list.append(avg_perc_know)
        else: 
            
            perc_know_list.append(0)
            
    return perc_know_list

In [188]:
df_train = pd.DataFrame(X_train_wv)
#df_train['year'] = generate_perc_known(tokenized_text_train,df)

In [189]:
df_test = pd.DataFrame(X_test_wv)
#df_test['year'] = generate_perc_known(tokenized_text_test,df)

In [190]:
df_test

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,year
0,0.163066,0.066503,0.007967,-0.368197,-0.475971,0.174799,-0.226500,0.288741,-0.101118,0.251682,...,0.343301,0.449110,-0.301583,-0.318929,-0.027628,-0.003120,0.640888,0.395134,-0.211103,7.319698
1,0.098105,-0.697004,-0.067849,0.073167,0.001977,-0.519177,-0.064798,-0.384014,0.359658,-0.080730,...,0.100243,-0.152842,0.018108,-0.616458,0.208961,0.239500,-0.078117,0.907243,0.644744,8.900953
2,0.608009,-0.270855,-0.351858,-1.324698,0.509448,0.466696,-0.869674,0.316894,-0.832663,0.482958,...,-0.804097,-1.260673,-0.484280,-1.026836,-0.381989,0.006748,0.651532,0.502151,-1.543706,7.385000
3,-0.231419,-0.460309,-0.321846,-0.401228,-1.299778,-0.461486,0.002258,-0.175611,0.296010,0.373852,...,-0.068769,0.134842,0.026607,0.200088,0.376173,0.175164,-0.239718,0.463941,-0.541556,8.971588
4,-0.155188,0.110082,0.749716,-0.211680,-0.294006,-0.928232,0.095029,0.326077,0.020296,0.458989,...,-0.496064,0.562254,-0.161042,-0.556670,-0.152797,0.216482,-0.109737,1.134926,-0.073294,7.939948
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83349,-0.212178,-0.577913,0.233901,-0.283749,-0.250686,-0.740940,-0.073741,0.163121,-0.268991,0.569778,...,-0.062439,0.181861,-0.294118,0.674152,-0.312687,-0.416863,0.006465,0.296494,0.144787,7.846061
83350,0.083994,-0.119798,0.014636,-0.046240,-0.176528,-0.371178,-0.049741,-0.063575,0.069346,0.097987,...,-0.106163,0.598239,-0.423099,-0.277646,0.249423,0.238795,-0.084238,0.325800,-0.371009,7.653076
83351,-0.027579,-0.583053,-0.212853,0.064448,-0.001676,-0.386104,-0.194504,0.125628,0.087920,0.013556,...,-0.087076,0.200042,0.022237,0.865286,0.345294,0.206362,-0.050420,0.287032,-0.024188,6.618984
83352,0.150752,-0.344787,0.016055,-0.438976,0.105028,-0.072180,-0.229091,0.010541,-0.065317,0.162644,...,-0.090400,-0.352687,-0.262663,-0.028436,0.180446,-0.053098,0.068634,-0.034959,0.074879,7.009195
83353,0.798341,-0.436330,-0.095135,-0.875586,-0.725843,-0.983312,-0.478156,0.076523,-0.534273,0.518388,...,-0.020779,0.168365,-0.001870,-0.459175,-1.014081,-0.339258,0.264108,0.849447,-0.063408,8.322109

In [191]:
lr = LogisticRegression(random_state=RANDOM_SEED,max_iter=1000).fit(df_train,y_train)

In [192]:
accuracy_score(y_test,lr.predict(df_test))

0.58372723564556

# 2. Supervised Learning

## Random Classifier

In [64]:
dummy_bow = DummyClassifier(strategy='uniform',random_state=RANDOM_SEED).fit(X_train_transform,y_train)

In [65]:
accuracy_score(y_test, dummy_bow.predict(X_test_transform))

0.5011277203253593

In [66]:
dummy_wv = DummyClassifier(strategy='uniform',random_state=RANDOM_SEED).fit(X_train_wv,y_train)

In [67]:
accuracy_score(y_test,dummy_wv.predict(X_test_wv))

0.5011277203253593

## Logistic Regression Classifier

In [68]:
lr_bow = LogisticRegression(random_state=RANDOM_SEED,max_iter=1000).fit(X_train_transform,y_train)

In [69]:
accuracy_score(y_test,lr_bow.predict(X_test_transform))

0.6465916452719725

In [70]:
lr_wv = LogisticRegression(random_state=RANDOM_SEED,max_iter=1000).fit(X_train_wv,y_train)

In [71]:
accuracy_score(y_test,lr_wv.predict(X_test_wv))

0.5640041269765098

## Random Forest Classifier

In [227]:
rf_bow = RandomForestClassifier(n_estimators=500,max_depth=5,random_state=RANDOM_SEED).fit(X_train_transform,y_train)

In [228]:
accuracy_score(y_test,rf_bow.predict(X_test_transform))

0.6416968591789236

In [ ]:
rf_wv = RandomForestClassifier(n_estimators=100,max_depth=5,random_state=RANDOM_SEED).fit(X_train_wv,y_train)

In [ ]:
accuracy_score(y_test,rf_wv.predict(X_test_wv))

# 3. Unsupervised Learning

In [ ]:
kmeans = KMeans(n_clusters=2,random_state=RANDOM_SEED).fit(X_train_transform)

In [ ]:
cluster_df = pd.DataFrame({'cluster':kmeans.labels_,'y_label':y_train,'text':X_train})
cluster_df

### LDA Topic Modeling - Consider NMF to create a document-topic matrix

In [267]:
import gensim
from nltk.stem.porter import *
def lemmatize_stemming(text):
    stemmer = PorterStemmer()
    #Un-hash next line to use stemming
    #return stemmer.stem(WordNetLemmatizer().lemmatize(text, pos='v'))
    #Un-hash next line to NOT use stemming
    return WordNetLemmatizer().lemmatize(text, pos='v')
# Tokenize and lemmatize
def preprocess(text):
    result=[]
    for token in gensim.utils.simple_preprocess(text) :
        if token not in gensim.parsing.preprocessing.STOPWORDS and len(token) > 3:
            #Un-hash next line to use stemming
            result.append(lemmatize_stemming(token))
            #Un-hash next line to NOT use stemming
            #result.append(token)
            
    return result

In [268]:
df['original_text'][0]

"There is manuscript evidence that Austen continued to work on these pieces as late as the period 1809 Ã¢ '' 11 , and that her niece and nephew , Anna and James Edward Austen , made further additions as late as 1814 ."

In [269]:
preprocess(df['original_text'][0])

['manuscript',
 'evidence',
 'austen',
 'continue',
 'work',
 'piece',
 'late',
 'period',
 'niece',
 'nephew',
 'anna',
 'jam',
 'edward',
 'austen',
 'additions',
 'late']

In [238]:
# This cell will run about 2 minutes
processed_docs = [preprocess(text) for text in df['original_text']]

In [239]:
dictionary = gensim.corpora.Dictionary(processed_docs)
dictionary

In [240]:
bow_corpus = [dictionary.doc2bow(doc) for doc in processed_docs]
#bow_corpus

In [241]:
len(bow_corpus)

416768

In [242]:
# This cell will run 10 minutes
#lda_model =  gensim.models.LdaMulticore(bow_corpus, 
#                                   num_topics = 8, 
#                                   id2word = dictionary,                                    
#                                   passes = 10,
#                                   workers = 2)

In [347]:
#for idx, topic in lda_model.print_topics(-1):
#    print("Topic: {} \nWords: {}".format(idx, topic ))
#    print("\n")