In [1]:
import pandas as pd
import numpy as np
from sklearn.dummy import DummyClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score,accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
import altair as alt
import seaborn as sns
import re

In [2]:
#Make sure numpy version is < 1.20
np.version.version

'1.18.5'

In [3]:
#Install known version of numpy that works
!python -m pip install numpy==1.18.5

Requirement already satisfied: numpy==1.18.5 in c:\users\mryua\anaconda3\lib\site-packages (1.18.5)

In [4]:
#Install gensim
!python -m pip install gensim

Requirement already satisfied: gensim in c:\users\mryua\anaconda3\lib\site-packages (4.1.2)
Requirement already satisfied: scipy>=0.18.1 in c:\users\mryua\anaconda3\lib\site-packages (from gensim) (1.5.0)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\mryua\anaconda3\lib\site-packages (from gensim) (6.0.0)
Requirement already satisfied: Cython==0.29.23 in c:\users\mryua\anaconda3\lib\site-packages (from gensim) (0.29.23)
Requirement already satisfied: numpy>=1.17.0 in c:\users\mryua\anaconda3\lib\site-packages (from gensim) (1.18.5)

In [5]:
import gensim
from gensim.models.word2vec import Word2Vec
from tqdm.notebook import tqdm
from nltk.tokenize import sent_tokenize, word_tokenize
from collections import Counter
from nltk.corpus import stopwords
import nltk
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\mryua\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\mryua\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [6]:
RANDOM_SEED=694

Training Dataset

In [7]:
train_path = 'Data/WikiLarge_Train.csv'
df = pd.read_csv(train_path, skiprows=0, skipfooter=0, engine='python')
df

                                            original_text  label
0       There is manuscript evidence that Austen conti...      1
1       In a remarkable comparative analysis , Mandaea...      1
2       Before Persephone was released to Hermes , who...      1
3       Cogeneration plants are commonly found in dist...      1
4       Geneva -LRB- , ; , ; , ; ; -RRB- is the second...      1
...                                                   ...    ...
416763  A Duke Nukem 3D version has been sold for Xbox...      0
416764  However , it is becoming replaced as a method ...      0
416765  There are hand gestures in both Hindu and Budd...      0
416766  If it is necessary to use colors , try to choo...      0
416767                               Calgary Stampeders ,      0

[416768 rows x 2 columns]

In [8]:
len(df[df['label']==1])/len(df) # the dataset label is well balanced

0.5

In [9]:
df.iloc[410006]['original_text']

'Coastal lagoons , marshes , and deltas'

In [10]:
df.iloc[410000]['label']

0

In [11]:
df[df['label']==0]['original_text'].apply(lambda x: len(x)).mean()

98.18195254914005

In [12]:
df[df['label']==0]['original_text'].apply(lambda x: len(x)).std()

62.581304744802495

In [13]:
df[df['label']==0]['original_text'].apply(lambda x: len(x)).max()

591

In [14]:
df[df['label']==0]['original_text'].apply(lambda x: len(x)).min()

1

In [15]:
df[df['label']==1]['original_text'].apply(lambda x: len(x)).mean()

137.66185983568795

In [16]:
df[df['label']==1]['original_text'].apply(lambda x: len(x)).std()

71.87716383067678

In [17]:
df[df['label']==1]['original_text'].apply(lambda x: len(x)).max()

577

In [18]:
df[df['label']==1]['original_text'].apply(lambda x: len(x)).min()

1

In [19]:
df['text_length'] = df['original_text'].apply(len)

In [20]:
df[(df['label']==1) & (df['text_length']==50)].loc[27]['original_text']

'He has subsequently written a further nine plays .'

In [21]:
df[(df['label']==0) & (df['text_length']==5)]

       original_text  label  text_length
208709         Pages      0            5
208988         Plain      0            5
209004         Drama      0            5
209374         Child      0            5
209606         equal      0            5
...              ...    ...          ...
415970         Sabre      0            5
416078         Poems      0            5
416108         Rumba      0            5
416144         Notes      0            5
416553         Titus      0            5

[977 rows x 3 columns]

In [22]:
df

                                            original_text  label  text_length
0       There is manuscript evidence that Austen conti...      1          216
1       In a remarkable comparative analysis , Mandaea...      1          156
2       Before Persephone was released to Hermes , who...      1          248
3       Cogeneration plants are commonly found in dist...      1          246
4       Geneva -LRB- , ; , ; , ; ; -RRB- is the second...      1          202
...                                                   ...    ...          ...
416763  A Duke Nukem 3D version has been sold for Xbox...      0           79
416764  However , it is becoming replaced as a method ...      0          111
416765  There are hand gestures in both Hindu and Budd...      0           64
416766  If it is necessary to use colors , try to choo...      0          216
416767                               Calgary Stampeders ,      0           20

[416768 rows x 3 columns]

In [23]:
df['original_text'].apply(lambda x: len(x)).mean()
# This means all texts are considered short text, which allows us to use dense representations, 
# as dense representations work well with short text.
# Gensim.KeyedVectors.load('assets/wikipedia.100.word-vecs.kv')??? How to generate and use this???
# Maybe we should train word2vec model on the entire corpus. Just training data? TOP 100 word-vectors(features)
# Alternatively we could use bag-of-words model, which is term-document matrix representation, having much more features

117.921906192414

In [24]:
X = df['original_text']
y = df['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Testing Dataset

In [25]:
test_path = 'Data/WikiLarge_Test.csv'
test_df = pd.read_csv(test_path, skiprows=0, skipfooter=0, engine='python')
test_df

            id original_text  label
0            0         -2011    NaN
1            1         -2011    NaN
2            2         -2000    NaN
3            3         -1997    NaN
4            4         1.636    NaN
...        ...           ...    ...
119087  119087        #NAME?    NaN
119088  119088        #NAME?    NaN
119089  119089        #NAME?    NaN
119090  119090        #NAME?    NaN
119091  119091        #NAME?    NaN

[119092 rows x 3 columns]

In [26]:
test_df.iloc[10000]

id                                                           10000
original_text    An atheist would say that this argument proves...
label                                                          NaN
Name: 10000, dtype: object

Sample Submission

In [27]:
samplesubmission_path = 'Data/sampleSubmission.csv'
samplesubmission_df = pd.read_csv(samplesubmission_path, skiprows=0, skipfooter=0, engine='python')
samplesubmission_df

            id  label
0            0      0
1            1      0
2            2      1
3            3      1
4            4      0
...        ...    ...
119087  119087      0
119088  119088      1
119089  119089      1
119090  119090      1
119091  119091      1

[119092 rows x 2 columns]

To conclude, the dataframes we are working with are:

dalechall_df, concreteness_df, aoawords_df, train_df, test_df, samplesubmission_df

# 1. Data Preprocessing

In [28]:
vectorizer = TfidfVectorizer(min_df=10,stop_words='english',ngram_range=(1,2))
X_train_transform = vectorizer.fit_transform(X_train)
X_test_transform  = vectorizer.transform(X_test)

In [29]:
X_train_transform

<333414x57773 sparse matrix of type '<class 'numpy.float64'>'
	with 4071111 stored elements in Compressed Sparse Row format>

## Word2Vec Model

In [30]:
len(stopwords.words('english'))

179

In [31]:
len(set(stopwords.words('english')))

179

In [32]:
#set(stopwords.words('english'))

== dale_chall.txt ==

This is the Dale Chall 3000 Word List, which is one definition of words that are considered "basic" English.

A summary is at https://www.readabilityformulas.com/articles/dale-chall-readability-word-list.php

In [33]:
#Basic english words
dalechall_path = 'Data/dale_chall.txt'
dale_chall = pd.read_csv(dalechall_path,delimiter='\t',header=None,names=['word'])
dale = set(dale_chall['word'].values)

In [34]:
len(dale)

2946

### The 2946 words in dale can be combined with the nltk stopwords.
### We could maybe assign an arbitrary score to each dale_chall word. - for reference only

### We will use a geo dataset to add city and country names to the stopwords library

In [35]:
!python -m pip install datapackage

Requirement already satisfied: datapackage in c:\users\mryua\anaconda3\lib\site-packages (1.15.2)
Requirement already satisfied: click>=6.7 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (7.1.2)
Requirement already satisfied: jsonpointer>=1.10 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (2.3)
Requirement already satisfied: tabulator>=1.29 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (1.53.5)
Requirement already satisfied: unicodecsv>=0.14 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (0.14.1)
Requirement already satisfied: requests>=2.8 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (2.24.0)
Requirement already satisfied: tableschema>=1.12.1 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (1.20.2)
Requirement already satisfied: chardet>=3.0 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (3.0.4)
Requirement already satisfied: six>=1.10 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (1.15.0)
Requirement already satisfied: jsonschema>=2.5 in c:\users\mryua\anaconda3\lib\site-packages (from datapackage) (3.2.0)
Requirement already satisfied: jsonlines>=1.1 in c:\users\mryua\anaconda3\lib\site-packages (from tabulator>=1.29->datapackage) (3.0.0)
Requirement already satisfied: openpyxl>=2.6 in c:\users\mryua\anaconda3\lib\site-packages (from tabulator>=1.29->datapackage) (3.0.4)
Requirement already satisfied: ijson>=3.0.3 in c:\users\mryua\anaconda3\lib\site-packages (from tabulator>=1.29->datapackage) (3.1.4)
Requirement already satisfied: sqlalchemy>=0.9.6 in c:\users\mryua\anaconda3\lib\site-packages (from tabulator>=1.29->datapackage) (1.3.18)
Requirement already satisfied: boto3>=1.9 in c:\users\mryua\anaconda3\lib\site-packages (from tabulator>=1.29->datapackage) (1.23.0)
Requirement already satisfied: linear-tsv>=1.0 in c:\users\mryua\anaconda3\lib\site-packages (from tabulator>=1.29->datapackage) (1.1.0)
Requirement already satisfied: xlrd>=1.0 in c:\users\mryua\anaconda3\lib\site-packages (from tabulator>=1.29->datapackage) (1.2.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mryua\anaconda3\lib\site-packages (from requests>=2.8->datapackage) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\mryua\anaconda3\lib\site-packages (from requests>=2.8->datapackage) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in c:\users\mryua\anaconda3\lib\site-packages (from requests>=2.8->datapackage) (2.10)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\mryua\anaconda3\lib\site-packages (from tableschema>=1.12.1->datapackage) (2.8.1)
Requirement already satisfied: rfc3986>=1.1.0 in c:\users\mryua\anaconda3\lib\site-packages (from tableschema>=1.12.1->datapackage) (2.0.0)
Requirement already satisfied: isodate>=0.5.4 in c:\users\mryua\anaconda3\lib\site-packages (from tableschema>=1.12.1->datapackage) (0.6.1)
Requirement already satisfied: cached-property>=1.5 in c:\users\mryua\anaconda3\lib\site-packages (from tableschema>=1.12.1->datapackage) (1.5.2)
Requirement already satisfied: attrs>=17.4.0 in c:\users\mryua\anaconda3\lib\site-packages (from jsonschema>=2.5->datapackage) (19.3.0)
Requirement already satisfied: setuptools in c:\users\mryua\anaconda3\lib\site-packages (from jsonschema>=2.5->datapackage) (49.2.0.post20200714)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\mryua\anaconda3\lib\site-packages (from jsonschema>=2.5->datapackage) (0.16.0)
Requirement already satisfied: jdcal in c:\users\mryua\anaconda3\lib\site-packages (from openpyxl>=2.6->tabulator>=1.29->datapackage) (1.4.1)
Requirement already satisfied: et-xmlfile in c:\users\mryua\anaconda3\lib\site-packages (from openpyxl>=2.6->tabulator>=1.29->datapackage) (1.0.1)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in c:\users\mryua\anaconda3\lib\site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (0.5.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\mryua\anaconda3\lib\site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (0.10.0)
Requirement already satisfied: botocore<1.27.0,>=1.26.0 in c:\users\mryua\anaconda3\lib\site-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (1.26.0)

In [37]:
from datapackage import Package
package = Package('https://datahub.io/core/world-cities/datapackage.json')
# print list of all resources:
print(package.resource_names)

['validation_report', 'world-cities_csv', 'world-cities_json', 'world-cities_zip', 'world-cities_csv_preview', 'world-cities']

In [40]:
world_cities = []
for resource in package.resources:
    if resource.descriptor['datahub']['type'] == 'derived/csv':
        world_cities = resource.read()

In [41]:
len(world_cities)

23018

In [42]:
world_cities[:10]

[['les Escaldes', 'Andorra', 'Escaldes-Engordany', 3040051],
 ['Andorra la Vella', 'Andorra', 'Andorra la Vella', 3041563],
 ['Umm al Qaywayn', 'United Arab Emirates', 'Umm al Qaywayn', 290594],
 ['Ras al-Khaimah', 'United Arab Emirates', 'Raʼs al Khaymah', 291074],
 ['Khawr Fakkān', 'United Arab Emirates', 'Ash Shāriqah', 291696],
 ['Dubai', 'United Arab Emirates', 'Dubai', 292223],
 ['Dibba Al-Fujairah', 'United Arab Emirates', 'Al Fujayrah', 292231],
 ['Dibba Al-Hisn', 'United Arab Emirates', 'Al Fujayrah', 292239],
 ['Sharjah', 'United Arab Emirates', 'Ash Shāriqah', 292672],
 ['Ar Ruways', 'United Arab Emirates', 'Abu Dhabi', 292688]]

In [43]:
world_cities_df = pd.DataFrame(world_cities, columns=['name', 'country', 'subcountry', 'geonameid'])

In [44]:
world_cities_df

                   name               country           subcountry  geonameid
0          les Escaldes               Andorra   Escaldes-Engordany    3040051
1      Andorra la Vella               Andorra     Andorra la Vella    3041563
2        Umm al Qaywayn  United Arab Emirates       Umm al Qaywayn     290594
3        Ras al-Khaimah  United Arab Emirates      Raʼs al Khaymah     291074
4          Khawr Fakkān  United Arab Emirates         Ash Shāriqah     291696
...                 ...                   ...                  ...        ...
23013          Bulawayo              Zimbabwe             Bulawayo     894701
23014           Bindura              Zimbabwe  Mashonaland Central     895061
23015        Beitbridge              Zimbabwe   Matabeleland South     895269
23016           Epworth              Zimbabwe               Harare    1085510
23017       Chitungwiza              Zimbabwe               Harare    1106542

[23018 rows x 4 columns]

In [45]:
world_cities_df = world_cities_df.applymap(lambda s:s.lower() if type(s) == str else s)

In [46]:
world_cities_df[world_cities_df['country']=='france']

,name,country,subcountry,geonameid
6633,yerres,france,île-de-france,2967245
6634,wittenheim,france,alsace-champagne-ardenne-lorraine,2967318
6635,wattrelos,france,nord-pas-de-calais-picardie,2967421
6636,wasquehal,france,nord-pas-de-calais-picardie,2967438
6637,voiron,france,auvergne-rhône-alpes,2967758
...,...,...,...,...
7261,marseille 15,france,provence-alpes-côte d'azur,7284896
7262,marseille 16,france,provence-alpes-côte d'azur,7284897
7263,la defense,france,île-de-france,8504417
7264,saint-quentin-en-yvelines,france,île-de-france,8533870
7265,cergy-pontoise,france,île-de-france,8555643

In [47]:
cities = set(world_cities_df['name'].unique())
countries = set(world_cities_df['country'].unique())
subcountries = set(world_cities_df['subcountry'].unique())

In [48]:
#We will add this to stopwords
geo_data = cities | countries | subcountries

In [49]:
len(cities)

21940

In [50]:
len(countries)

244

In [51]:
len(subcountries)

2594

In [52]:
len(geo_data)

23803

In [53]:
language_package = Package('https://datahub.io/core/language-codes/datapackage.json')

# print list of all resources:
print(language_package.resource_names)

['validation_report', 'language-codes_csv', 'language-codes-3b2_csv', 'language-codes-full_csv', 'ietf-language-tags_csv', 'language-codes_json', 'language-codes-3b2_json', 'language-codes-full_json', 'ietf-language-tags_json', 'language-codes_zip', 'language-codes', 'language-codes-3b2', 'language-codes-full', 'ietf-language-tags']

In [54]:
# print processed tabular data (if exists any)
languages_data = []
#for resource in language_package.resources:
#    if resource.descriptor['datahub']['derivedFrom']=='language-codes':
#        print(resource.read())

In [55]:
languages_data = language_package.resources[1].read()

In [56]:
languages_df = pd.DataFrame(languages_data, columns=['alpha2', 'english'])
languages_df = languages_df.applymap(lambda s:s.lower() if type(s) == str else s)
languages_df

    alpha2         english
0       aa            afar
1       ab       abkhazian
2       ae         avestan
3       af       afrikaans
4       ak            akan
..     ...             ...
179     yi         yiddish
180     yo          yoruba
181     za  zhuang; chuang
182     zh         chinese
183     zu            zulu

[184 rows x 2 columns]

In [57]:
languages = set(languages_df['english'].unique())

In [58]:
len(languages)

184

In [59]:
nationality_path = 'Data/CH_Nationality_List_20171130_v1.csv'
nationality_df = pd.read_csv(nationality_path, skiprows=0, skipfooter=0, engine='python')
nationality_df = nationality_df.applymap(lambda s:s.lower() if type(s) == str else s)
nationality_df

    Nationality
0        afghan
1      albanian
2      algerian
3      american
4      andorran
..          ...
220   wallisian
221       welsh
222      yemeni
223     zambian
224  zimbabwean

[225 rows x 1 columns]

In [60]:
nationalities = set(nationality_df['Nationality'].unique())
len(nationalities)

225

In [61]:
states_path = 'Data/states.csv'
states_df = pd.read_csv(states_path, skiprows=0, skipfooter=0, engine='python')
states_df = states_df.applymap(lambda s:s.lower() if type(s) == str else s)
states_df

,id,name,country_id,country_code,country_name,state_code,type,latitude,longitude
0,3901,badakhshan,1,af,afghanistan,bds,NaN,36.734772,70.811995
1,3871,badghis,1,af,afghanistan,bdg,NaN,35.167134,63.769538
2,3875,baghlan,1,af,afghanistan,bgl,NaN,36.178903,68.745306
3,3884,balkh,1,af,afghanistan,bal,NaN,36.755060,66.897537
4,3872,bamyan,1,af,afghanistan,bam,NaN,34.810007,67.821210
...,...,...,...,...,...,...,...,...,...
4974,1953,mashonaland west province,247,zw,zimbabwe,mw,NaN,-17.485103,29.788925
4975,1960,masvingo province,247,zw,zimbabwe,mv,NaN,-20.624151,31.262637
4976,1954,matabeleland north province,247,zw,zimbabwe,mn,NaN,-18.533157,27.549585
4977,1952,matabeleland south province,247,zw,zimbabwe,ms,NaN,-21.052337,29.045993
4978,1957,midlands province,247,zw,zimbabwe,mi,NaN,-19.055201,29.603549

In [62]:
states = set(states_df['name'].unique())
len(states)

4896

In [63]:
continents_path = 'Data/continents2.csv'
continents_df = pd.read_csv(continents_path, skiprows=0, skipfooter=0, engine='python')
continents_df = continents_df.applymap(lambda s:s.lower() if type(s) == str else s)
continents_df

,ï»¿name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,afghanistan,af,afg,4,iso 3166-2:af,asia,southern asia,NaN,142.0,34.0,NaN
1,ã…land islands,ax,ala,248,iso 3166-2:ax,europe,northern europe,NaN,150.0,154.0,NaN
2,albania,al,alb,8,iso 3166-2:al,europe,southern europe,NaN,150.0,39.0,NaN
3,algeria,dz,dza,12,iso 3166-2:dz,africa,northern africa,NaN,2.0,15.0,NaN
4,american samoa,as,asm,16,iso 3166-2:as,oceania,polynesia,NaN,9.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
244,wallis and futuna,wf,wlf,876,iso 3166-2:wf,oceania,polynesia,NaN,9.0,61.0,NaN
245,western sahara,eh,esh,732,iso 3166-2:eh,africa,northern africa,NaN,2.0,15.0,NaN
246,yemen,ye,yem,887,iso 3166-2:ye,asia,western asia,NaN,142.0,145.0,NaN
247,zambia,zm,zmb,894,iso 3166-2:zm,africa,sub-saharan africa,eastern africa,2.0,202.0,14.0
248,zimbabwe,zw,zwe,716,iso 3166-2:zw,africa,sub-saharan africa,eastern africa,2.0,202.0,14.0

In [64]:
continents = set(continents_df['region'].unique())
len(continents)

6

In [65]:
firstname_path = 'Data/new-top-firstNames.csv'
firstname_df = pd.read_csv(firstname_path, skiprows=0, skipfooter=0, engine='python')
firstname_df = firstname_df.applymap(lambda s:s.lower() if type(s) == str else s)
firstname_df

    Unnamed: 0       name  newPerct2013
0            1    michael      0.011577
1            2      james      0.010218
2            3       john      0.009675
3            4     robert      0.009493
4            5      david      0.008943
..         ...        ...           ...
95          96  christina      0.001435
96          97      julie      0.001418
97          98     jordan      0.001416
98          99       kyle      0.001413
99         100       anna      0.001400

[100 rows x 3 columns]

In [66]:
firstnames = set(firstname_df['name'].unique())
len(firstnames)

100

In [67]:
firstname_path2 = 'Data/babynames-clean.csv'
firstname_df2 = pd.read_csv(firstname_path2, header= None, skiprows=0, skipfooter=0, engine='python')
firstname_df2 = firstname_df2.applymap(lambda s:s.lower() if type(s) == str else s)
firstname_df2

             0     1
0         john   boy
1      william   boy
2        james   boy
3      charles   boy
4       george   boy
...        ...   ...
6777    laylah  girl
6778  carleigh  girl
6779    kenley  girl
6780    sloane  girl
6781   elianna  girl

[6782 rows x 2 columns]

In [68]:
firstnames2 = set(firstname_df2[0].unique())
len(firstnames2)

6782

In [69]:
firstnames = firstnames | firstnames2
len(firstnames)

6782

In [70]:
surname_path = 'Data/new-top-surnames.csv'
surname_df = pd.read_csv(surname_path, skiprows=0, skipfooter=0, engine='python')
surname_df = surname_df.applymap(lambda s:s.lower() if type(s) == str else s)
surname_df

    Unnamed: 0      name  perct2013
0            1     smith   0.007999
1            2   johnson   0.006346
2            3  williams   0.005330
3            4     brown   0.004724
4            5     jones   0.004676
..         ...       ...        ...
95          96   vasquez   0.000760
96          97   sanders   0.000753
97          98   jimenez   0.000751
98          99      long   0.000747
99         100    foster   0.000746

[100 rows x 3 columns]

In [71]:
surnames = set(surname_df['name'].unique())
len(surnames)

100

In [72]:
days=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
months=['January','February','March', 'April','May','June','July','August','September','October','November','December']
calendar = days.copy()
calendar.extend(months)
calendar = set([w.lower() for w in calendar])

In [73]:
calendar

{'april',
 'august',
 'december',
 'february',
 'friday',
 'january',
 'july',
 'june',
 'march',
 'may',
 'monday',
 'november',
 'october',
 'saturday',
 'september',
 'sunday',
 'thursday',
 'tuesday',
 'wednesday'}

In [74]:
X_train

304501    1979-80 Buffalo Sabres NHL 32 1880 74 1 4 2.36...
162313    Diseases Lentils in culture Lentils are mentio...
336845    Railroads , like the Lehigh Valley Railroad , ...
150625    An example of this would be an individual anim...
40240     Both the Matanuska and Susitna Rivers have maj...
                                ...
259178    After the Germans invaded Norway in April 1940...
365838    July 28 - Henry Bennet , 1st Earl of Arlington...
131932    Pancake restaurants are popular family restaur...
146867                                 A cycling domestique
121958    David Boreanaz 's first paid acting appearance...
Name: original_text, Length: 333414, dtype: object

In [75]:
X_train[304501]

'1979-80 Buffalo Sabres NHL 32 1880 74 1 4 2.36 20 8 4 0 0.000'

In [76]:
gensim.utils.simple_preprocess(X_train[304501])

['buffalo', 'sabres', 'nhl']

In [77]:
#gensim.parsing.preprocessing.STOPWORDS
#stopWords

In [ ]:
tokenized_text_train=[]
tokenized_text_test=[]
stopWords = set(stopwords.words('english')) | dale | geo_data | languages | nationalities | states | continents | firstnames | surnames | calendar
# This cell will run 4 minutes
import gensim
from nltk.stem.porter import *
def lemmatize_stemming(text):
    stemmer = PorterStemmer()
    #Un-hash next line to use stemming
    return stemmer.stem(WordNetLemmatizer().lemmatize(text, pos='v'))
    #Un-hash next line to NOT use stemming
    #return WordNetLemmatizer().lemmatize(text, pos='v')

# Tokenize and lemmatize
def preprocess(text):
    result=[]
    for token in gensim.utils.simple_preprocess(text) :
        if token not in stopWords and len(token) > 3:
            #Un-hash next line to use lemmatization/stemming
            result.append(lemmatize_stemming(token))
            #Un-hash next line to NOT use lemmatization/stemming
            #result.append(token)
            
    return result

tokenized_text_train = [preprocess(text) for text in X_train]
tokenized_text_test=[preprocess(text) for text in X_test]

#for text in tqdm(X_train):
#    tokens_in_text = word_tokenize(text)
#    tokens_in_text = [word for word in tokens_in_text if word.lower() not in stopWords]
#    tokenized_text_train.append(tokens_in_text)
    
#for text in tqdm(X_test):
#    tokens_in_text = word_tokenize(text)
#    tokens_in_text = [word for word in tokens_in_text if word.lower() not in stopWords]
#    tokenized_text_test.append(tokens_in_text)

In [186]:
len(stopWords)

2986

In [187]:
#tokenized_text_train

In [188]:
model = Word2Vec(vector_size=100,window=2,min_count=100,seed= RANDOM_SEED,workers=4)
model.build_vocab(tokenized_text_train)
model.train(tokenized_text_train,total_examples=model.corpus_count,epochs=model.epochs)

(8116155, 11762330)

In [189]:
word_vectors = model.wv

In [190]:
#word_vectors.vocab

In [191]:
word_dict = word_vectors.key_to_index

In [192]:
word_dict

{'franc': 0,
 'unit': 1,
 'commun': 2,
 'depart': 3,
 'region': 4,
 'state': 5,
 'american': 6,
 'includ': 7,
 'call': 8,
 'nation': 9,
 'play': 10,
 'area': 11,
 'locat': 12,
 'univers': 13,
 'district': 14,
 'releas': 15,
 'year': 16,
 'refer': 17,
 'name': 18,
 'english': 19,
 'album': 20,
 'system': 21,
 'seri': 22,
 'former': 23,
 'origin': 24,
 'later': 25,
 'german': 26,
 'septemb': 27,
 'british': 28,
 'januari': 29,
 'calai': 30,
 'current': 31,
 'juli': 32,
 'octob': 33,
 'august': 34,
 'centuri': 35,
 'popul': 36,
 'leagu': 37,
 'june': 38,
 'decemb': 39,
 'provinc': 40,
 'april': 41,
 'novemb': 42,
 'england': 43,
 'produc': 44,
 'work': 45,
 'februari': 46,
 'develop': 47,
 'base': 48,
 'award': 49,
 'intern': 50,
 'london': 51,
 'french': 52,
 'presid': 53,
 'john': 54,
 'largest': 55,
 'record': 56,
 'start': 57,
 'form': 58,
 'ndash': 59,
 'creat': 60,
 'main': 61,
 'usual': 62,
 'central': 63,
 'offici': 64,
 'germani': 65,
 'municip': 66,
 'japanes': 67,
 'forc': 68,
 'organ': 69,
 'design': 70,
 'common': 71,
 'perform': 72,
 'televis': 73,
 'use': 74,
 'type': 75,
 'publish': 76,
 'speci': 77,
 'york': 78,
 'game': 79,
 'profession': 80,
 'championship': 81,
 'event': 82,
 'featur': 83,
 'appear': 84,
 'popular': 85,
 'found': 86,
 'period': 87,
 'union': 88,
 'although': 89,
 'oper': 90,
 'exampl': 91,
 'america': 92,
 'roman': 93,
 'gener': 94,
 'charact': 95,
 'bass': 96,
 'video': 97,
 'australia': 98,
 'associ': 99,
 'human': 100,
 'modern': 101,
 'hurrican': 102,
 'japan': 103,
 'famou': 104,
 'tropic': 105,
 'member': 106,
 'anim': 107,
 'success': 108,
 'republ': 109,
 'nord': 110,
 'italian': 111,
 'natur': 112,
 'time': 113,
 'compos': 114,
 'serv': 115,
 'product': 116,
 'william': 117,
 'show': 118,
 'along': 119,
 'contain': 120,
 'council': 121,
 'within': 122,
 'elect': 123,
 'aisn': 124,
 'europ': 125,
 'role': 126,
 'chang': 127,
 'comput': 128,
 'consid': 129,
 'picardi': 130,
 'pakistan': 131,
 'greek': 132,
 'european': 133,
 'support': 134,
 'countri': 135,
 'version': 136,
 'result': 137,
 'move': 138,
 'georg': 139,
 'spanish': 140,
 'christian': 141,
 'control': 142,
 'polit': 143,
 'jam': 144,
 'independ': 145,
 'tradit': 146,
 'program': 147,
 'continu': 148,
 'normandi': 149,
 'local': 150,
 'accord': 151,
 'india': 152,
 'divis': 153,
 'total': 154,
 'calvado': 155,
 'establish': 156,
 'actor': 157,
 'complet': 158,
 'california': 159,
 'career': 160,
 'minist': 161,
 'scienc': 162,
 'allow': 163,
 'empir': 164,
 'switzerland': 165,
 'final': 166,
 'island': 167,
 'hockey': 168,
 'northwest': 169,
 'cultur': 170,
 'canton': 171,
 'consist': 172,
 'posit': 173,
 'articl': 174,
 'footbal': 175,
 'provid': 176,
 'relat': 177,
 'commonli': 178,
 'repres': 179,
 'canada': 180,
 'border': 181,
 'similar': 182,
 'wrestl': 183,
 'emperor': 184,
 'open': 185,
 'star': 186,
 'link': 187,
 'receiv': 188,
 'rang': 189,
 'activ': 190,
 'studi': 191,
 'part': 192,
 'join': 193,
 'caus': 194,
 'remain': 195,
 'writer': 196,
 'feder': 197,
 'exist': 198,
 'charl': 199,
 'websit': 200,
 'novel': 201,
 'australian': 202,
 'special': 203,
 'administr': 204,
 'day': 205,
 'process': 206,
 'territori': 207,
 'mean': 208,
 'itali': 209,
 'network': 210,
 'henri': 211,
 'inform': 212,
 'studio': 213,
 'pay': 214,
 'replac': 215,
 'edit': 216,
 'loir': 217,
 'sourc': 218,
 'book': 219,
 'describ': 220,
 'ancient': 221,
 'histor': 222,
 'style': 223,
 'militari': 224,
 'director': 225,
 'mile': 226,
 'addit': 227,
 'fiction': 228,
 'canadian': 229,
 'place': 230,
 'scotland': 231,
 'girond': 232,
 'educ': 233,
 'energi': 234,
 'mari': 235,
 'institut': 236,
 'chemic': 237,
 'robert': 238,
 'movement': 239,
 'collect': 240,
 'ireland': 241,
 'variou': 242,
 'africa': 243,
 'physic': 244,
 'industri': 245,
 'sign': 246,
 'paul': 247,
 'opera': 248,
 'languag': 249,
 'student': 250,
 'follow': 251,
 'formula': 252,
 'theori': 253,
 'orchestra': 254,
 'project': 255,
 'latin': 256,
 'episod': 257,
 'florida': 258,
 'brazilian': 259,
 'prime': 260,
 'aquitain': 261,
 'object': 262,
 'atlant': 263,
 'civil': 264,
 'tour': 265,
 'materi': 266,
 'discov': 267,
 'censu': 268,
 'reach': 269,
 'david': 270,
 'russian': 271,
 'structur': 272,
 'element': 273,
 'standard': 274,
 'research': 275,
 'parliament': 276,
 'effect': 277,
 'indian': 278,
 'classic': 279,
 'chines': 280,
 'entertain': 281,
 'plant': 282,
 'team': 283,
 'site': 284,
 'race': 285,
 'model': 286,
 'song': 287,
 'occur': 288,
 'film': 289,
 'michael': 290,
 'olymp': 291,
 'asia': 292,
 'sport': 293,
 'pari': 294,
 'recent': 295,
 'imag': 296,
 'actress': 297,
 'other': 298,
 'port': 299,
 'southwest': 300,
 'citi': 301,
 'retir': 302,
 'number': 303,
 'rule': 304,
 'softwar': 305,
 'win': 306,
 'group': 307,
 'stadium': 308,
 'social': 309,
 'user': 310,
 'cathol': 311,
 'richard': 312,
 'involv': 313,
 'highest': 314,
 'cover': 315,
 'berlin': 316,
 'train': 317,
 'combin': 318,
 'almost': 319,
 'lead': 320,
 'minor': 321,
 'across': 322,
 'scottish': 323,
 'speak': 324,
 'return': 325,
 'increas': 326,
 'typic': 327,
 'divid': 328,
 'approxim': 329,
 'societi': 330,
 'dutch': 331,
 'live': 332,
 'person': 333,
 'influenc': 334,
 'guitar': 335,
 'announc': 336,
 'debut': 337,
 'engin': 338,
 'critic': 339,
 'symbol': 340,
 'initi': 341,
 'execut': 342,
 'musician': 343,
 'player': 344,
 'duke': 345,
 'construct': 346,
 'orbit': 347,
 'femal': 348,
 'instrument': 349,
 'claim': 350,
 'direct': 351,
 'end': 352,
 'lower': 353,
 'travel': 354,
 'simpli': 355,
 'introduc': 356,
 'spain': 357,
 'connect': 358,
 'issu': 359,
 'airport': 360,
 'translat': 361,
 'pass': 362,
 'soviet': 363,
 'iowa': 364,
 'peter': 365,
 'experi': 366,
 'author': 367,
 'especi': 368,
 'politician': 369,
 'disney': 370,
 'governor': 371,
 'northwestern': 372,
 'situat': 373,
 'altern': 374,
 'individu': 375,
 'genu': 376,
 'throughout': 377,
 'report': 378,
 'manag': 379,
 'thoma': 380,
 'rel': 381,
 'function': 382,
 'premier': 383,
 'requir': 384,
 'mountain': 385,
 'act': 386,
 'wale': 387,
 'nativ': 388,
 'edward': 389,
 'text': 390,
 'brand': 391,
 'britain': 392,
 'mass': 393,
 'distribut': 394,
 'electron': 395,
 'music': 396,
 'add': 397,
 'alp': 398,
 'econom': 399,
 'grow': 400,
 'wikipedia': 401,
 'avail': 402,
 'word': 403,
 'angel': 404,
 'practic': 405,
 'loui': 406,
 'festiv': 407,
 'point': 408,
 'defeat': 409,
 'command': 410,
 'notabl': 411,
 'problem': 412,
 'come': 413,
 'mexico': 414,
 'temperatur': 415,
 'limit': 416,
 'defin': 417,
 'format': 418,
 'oldest': 419,
 'specif': 420,
 'data': 421,
 'statist': 422,
 'academi': 423,
 'normal': 424,
 'cathedr': 425,
 'coloni': 426,
 'respons': 427,
 'dynasti': 428,
 'channel': 429,
 'celebr': 430,
 'distanc': 431,
 'washington': 432,
 'close': 433,
 'rank': 434,
 'action': 435,
 'pacif': 436,
 'martin': 437,
 'servic': 438,
 'deriv': 439,
 'help': 440,
 'super': 441,
 'virginia': 442,
 'planet': 443,
 'present': 444,
 'averag': 445,
 'declar': 446,
 'degre': 447,
 'secretari': 448,
 'democrat': 449,
 'page': 450,
 'categori': 451,
 'section': 452,
 'term': 453,
 'window': 454,
 'smaller': 455,
 'chicago': 456,
 'secur': 457,
 'art': 458,
 'mainli': 459,
 'estim': 460,
 'turn': 461,
 'date': 462,
 'russia': 463,
 'resid': 464,
 'larger': 465,
 'attempt': 466,
 'borough': 467,
 'suggest': 468,
 'constitut': 469,
 'museum': 470,
 'texa': 471,
 'conduct': 472,
 'note': 473,
 'entir': 474,
 'statu': 475,
 'make': 476,
 'inhabit': 477,
 'label': 478,
 'promot': 479,
 'partement': 480,
 'select': 481,
 'muslim': 482,
 'line': 483,
 'nintendo': 484,
 'commerci': 485,
 'scale': 486,
 'victoria': 487,
 'metropolitan': 488,
 'believ': 489,
 'thu': 490,
 'say': 491,
 'method': 492,
 'privat': 493,
 'irish': 494,
 'nuclear': 495,
 'competit': 496,
 'attack': 497,
 'display': 498,
 'month': 499,
 'annual': 500,
 'express': 501,
 'asteroid': 502,
 'devic': 503,
 'becom': 504,
 'islam': 505,
 'surround': 506,
 'memori': 507,
 'cell': 508,
 'centr': 509,
 'pope': 510,
 'harri': 511,
 'diseas': 512,
 'finish': 513,
 'own': 514,
 'recogn': 515,
 'eventu': 516,
 'observ': 517,
 'surviv': 518,
 'african': 519,
 'right': 520,
 'princip': 521,
 'nobel': 522,
 'decid': 523,
 'want': 524,
 'vocal': 525,
 'austria': 526,
 'list': 527,
 'access': 528,
 'actual': 529,
 'season': 530,
 'cyclon': 531,
 'arm': 532,
 'religi': 533,
 'titl': 534,
 'school': 535,
 'brazil': 536,
 'probabl': 537,
 'guitarist': 538,
 'thing': 539,
 'greater': 540,
 'netherland': 541,
 'concert': 542,
 'pressur': 543,
 'wide': 544,
 'condit': 545,
 'transport': 546,
 'digit': 547,
 'appoint': 548,
 'songwrit': 549,
 'purpos': 550,
 'take': 551,
 'treati': 552,
 'belgian': 553,
 'multipl': 554,
 'compound': 555,
 'separ': 556,
 'higher': 557,
 'mechan': 558,
 'primari': 559,
 'oklahoma': 560,
 'acid': 561,
 'mathemat': 562,
 'opposit': 563,
 'adopt': 564,
 'varieti': 565,
 'mario': 566,
 'professor': 567,
 'singl': 568,
 'artist': 569,
 'press': 570,
 'nomin': 571,
 'zealand': 572,
 'respect': 573,
 'arab': 574,
 'lie': 575,
 'applic': 576,
 'tribe': 577,
 'poet': 578,
 'jupit': 579,
 'media': 580,
 'extend': 581,
 'comedi': 582,
 'plan': 583,
 'romania': 584,
 'enter': 585,
 'complex': 586,
 'measur': 587,
 'joseph': 588,
 'atom': 589,
 'code': 590,
 'town': 591,
 'distinct': 592,
 'achiev': 593,
 'hous': 594,
 'accept': 595,
 'confer': 596,
 'numer': 597,
 'air': 598,
 'technolog': 599,
 'sarth': 600,
 'depress': 601,
 'share': 602,
 'explor': 603,
 'illinoi': 604,
 'regard': 605,
 'revolut': 606,
 'build': 607,
 'armenian': 608,
 'extrem': 609,
 'graduat': 610,
 'discoveri': 611,
 'particularli': 612,
 'worldwid': 613,
 'attend': 614,
 'foreign': 615,
 'protect': 616,
 'host': 617,
 'govern': 618,
 'adult': 619,
 'internet': 620,
 'medic': 621,
 'urban': 622,
 'conserv': 623,
 'formerli': 624,
 'parent': 625,
 'austrian': 626,
 'corpor': 627,
 'copi': 628,
 'destroy': 629,
 'appli': 630,
 'fame': 631,
 'architectur': 632,
 'extens': 633,
 'advanc': 634,
 'drama': 635,
 'formal': 636,
 'account': 637,
 'particular': 638,
 'foundat': 639,
 'futur': 640,
 'nicknam': 641,
 'nazi': 642,
 'manchest': 643,
 'signific': 644,
 'carolina': 645,
 'regular': 646,
 'poland': 647,
 'jesu': 648,
 'fall': 649,
 'draft': 650,
 'adam': 651,
 'jewish': 652,
 'relationship': 653,
 'convent': 654,
 'contest': 655,
 'primarili': 656,
 'senat': 657,
 'launch': 658,
 'korea': 659,
 'properti': 660,
 'hold': 661,
 'elizabeth': 662,
 'rat': 663,
 'prix': 664,
 'literatur': 665,
 'manufactur': 666,
 'chess': 667,
 'peninsula': 668,
 'older': 669,
 'power': 670,
 'carri': 671,
 'religion': 672,
 'captur': 673,
 'zone': 674,
 'need': 675,
 'founder': 676,
 'depend': 677,
 'flower': 678,
 'ask': 679,
 'southeast': 680,
 'adapt': 681,
 'environ': 682,
 'earlier': 683,
 'basketbal': 684,
 'vote': 685,
 'polici': 686,
 'philosoph': 687,
 'greatest': 688,
 'differ': 689,
 'despit': 690,
 'licens': 691,
 'age': 692,
 'protest': 693,
 'korean': 694,
 'egypt': 695,
 'stand': 696,
 'solar': 697,
 'climat': 698,
 'mytholog': 699,
 'southeastern': 700,
 'document': 701,
 'previous': 702,
 'rome': 703,
 'southwestern': 704,
 'volum': 705,
 'wind': 706,
 'compar': 707,
 'assist': 708,
 'symphoni': 709,
 'hour': 710,
 'legal': 711,
 'succeed': 712,
 'directli': 713,
 'swedish': 714,
 'color': 715,
 'subsequ': 716,
 'brother': 717,
 'challeng': 718,
 'major': 719,
 'contribut': 720,
 'invent': 721,
 'previou': 722,
 'alexand': 723,
 'friend': 724,
 'santa': 725,
 'saturn': 726,
 'theme': 727,
 'war': 728,
 'campaign': 729,
 'mark': 730,
 'scott': 731,
 'look': 732,
 'defend': 733,
 'longer': 734,
 'attract': 735,
 'carbon': 736,
 'decad': 737,
 'compet': 738,
 'grant': 739,
 'persian': 740,
 'begin': 741,
 'reduc': 742,
 'concept': 743,
 'wrestler': 744,
 'medal': 745,
 'focu': 746,
 'compris': 747,
 'interest': 748,
 'circuit': 749,
 'biggest': 750,
 'renam': 751,
 'paint': 752,
 'counti': 753,
 'rare': 754,
 'biolog': 755,
 'definit': 756,
 'band': 757,
 'mix': 758,
 'identifi': 759,
 'leav': 760,
 'transfer': 761,
 'oxford': 762,
 'jersey': 763,
 'bomb': 764,
 'propos': 765,
 'station': 766,
 'belong': 767,
 'onlin': 768,
 'emerg': 769,
 'sexual': 770,
 'athlet': 771,
 'andrew': 772,
 'offer': 773,
 'cycl': 774,
 'determin': 775,
 'score': 776,
 'rais': 777,
 'jean': 778,
 'indic': 779,
 'sweden': 780,
 'frequent': 781,
 'reform': 782,
 'northeast': 783,
 'georgia': 784,
 'scientif': 785,
 'river': 786,
 'head': 787,
 'ohio': 788,
 'maria': 789,
 'commiss': 790,
 'adventur': 791,
 'scene': 792,
 'merg': 793,
 'editor': 794,
 'scientist': 795,
 'pictur': 796,
 'gain': 797,
 'reign': 798,
 'sell': 799,
 'occupi': 800,
 'evid': 801,
 'basic': 802,
 'smith': 803,
 'field': 804,
 'vienna': 805,
 'order': 806,
 'soccer': 807,
 'affect': 808,
 'maintain': 809,
 'melbourn': 810,
 'split': 811,
 'remov': 812,
 'content': 813,
 'philosophi': 814,
 'promin': 815,
 'marin': 816,
 'committe': 817,
 'cancer': 818,
 'daniel': 819,
 'bird': 820,
 'contract': 821,
 'domin': 822,
 'run': 823,
 'diamet': 824,
 'fight': 825,
 'composit': 826,
 'headquart': 827,
 'ford': 828,
 'give': 829,
 'week': 830,
 'kentucki': 831,
 'particip': 832,
 'abil': 833,
 'assembl': 834,
 'land': 835,
 'ontario': 836,
 'congress': 837,
 'flow': 838,
 'core': 839,
 'portugues': 840,
 'inspir': 841,
 'unlik': 842,
 'satellit': 843,
 'ceremoni': 844,
 'imperi': 845,
 'liber': 846,
 'francisco': 847,
 'instruct': 848,
 'agenc': 849,
 'vehicl': 850,
 'mosqu': 851,
 'hand': 852,
 'ship': 853,
 'provenc': 854,
 'shape': 855,
 'highli': 856,
 'anti': 857,
 'bishop': 858,
 'pennsylvania': 859,
 'angl': 860,
 'commonwealth': 861,
 'tehsil': 862,
 'overal': 863,
 'labor': 864,
 'columbia': 865,
 'isbn': 866,
 'count': 867,
 'signal': 868,
 'vari': 869,
 'chri': 870,
 'linux': 871,
 'happen': 872,
 'cast': 873,
 'mention': 874,
 'solo': 875,
 'justic': 876,
 'agre': 877,
 'arthur': 878,
 'younger': 879,
 'michigan': 880,
 'store': 881,
 'techniqu': 882,
 'credit': 883,
 'boston': 884,
 'tree': 885,
 'instal': 886,
 'underground': 887,
 'kilometr': 888,
 'sequel': 889,
 'tournament': 890,
 'entri': 891,
 'earn': 892,
 'growth': 893,
 'creation': 894,
 'incorpor': 895,
 'fossil': 896,
 'boundari': 897,
 'affair': 898,
 'tell': 899,
 'earliest': 900,
 'case': 901,
 'breed': 902,
 'metr': 903,
 'parallel': 904,
 'astronom': 905,
 'longest': 906,
 'therefor': 907,
 'khan': 908,
 'strike': 909,
 'track': 910,
 'abbrevi': 911,
 'kill': 912,
 'concentr': 913,
 'lyric': 914,
 'oxid': 915,
 'tripl': 916,
 'hungari': 917,
 'prevent': 918,
 'letter': 919,
 'genet': 920,
 'drug': 921,
 'level': 922,
 'sydney': 923,
 'prior': 924,
 'troop': 925,
 'punk': 926,
 'mayenn': 927,
 'way': 928,
 'last': 929,
 'particl': 930,
 'billion': 931,
 'compani': 932,
 'burn': 933,
 'pronounc': 934,
 'visit': 935,
 'sit': 936,
 'massachusett': 937,
 'offic': 938,
 'iran': 939,
 'airlin': 940,
 'match': 941,
 'microsoft': 942,
 'equat': 943,
 'whether': 944,
 'templ': 945,
 'approach': 946,
 'expand': 947,
 'blue': 948,
 'geograph': 949,
 'concern': 950,
 'journal': 951,
 'earl': 952,
 'employ': 953,
 'trophi': 954,
 'earthquak': 955,
 'address': 956,
 'distinguish': 957,
 'johann': 958,
 'hill': 959,
 'suppli': 960,
 'reserv': 961,
 'dictionari': 962,
 'ministri': 963,
 'albert': 964,
 'fantasi': 965,
 'mammal': 966,
 'agreement': 967,
 'alli': 968,
 'infect': 969,
 'possibl': 970,
 'immedi': 971,
 'fail': 972,
 'agricultur': 973,
 'consol': 974,
 'classifi': 975,
 'famili': 976,
 'buri': 977,
 'abbey': 978,
 'behavior': 979,
 'rhine': 980,
 'punjab': 981,
 'reason': 982,
 'biographi': 983,
 'detail': 984,
 'household': 985,
 'belgium': 986,
 'legend': 987,
 'teach': 988,
 'ann': 989,
 'frederick': 990,
 'kelli': 991,
 'stanley': 992,
 'church': 993,
 'secondari': 994,
 'czech': 995,
 'turkish': 996,
 'aircraft': 997,
 'goal': 998,
 'densiti': 999,
 ...}

In [193]:
word_vectors[0] == word_vectors['unite']

KeyError: "Key 'unite' not present"

In [194]:
words_in_vector = word_vectors.index_to_key
len(words_in_vector)

3473

# Word's Difficulty Considered

== Concreteness_ratings_Brysbaert_et_al_BRM.txt ==

This file contains concreteness ratings for 40 thousand English lemma words gathered via Amazon Mechanical Turk. The ratings come from a larger list of 63 thousand words and represent all English words known to 85% of the raters.

The file contains eight columns:
1. The word
2. Whether it is a single word or a two-word expression 
3. The mean concreteness rating
4. The standard deviation of the concreteness ratings
5. The number of persons indicating they did not know the word
6. The total number of persons who rated the word
7. Percentage participants who knew the word
8. The SUBTLEX-US frequency count (on a total of 51 million; Brysbaert & New, 2009) 
9. The dominant part-of-speech usage

Original source: http://crr.ugent.be/archives/1330

Brysbaert, M., Warriner, A.B., & Kuperman, V. (2014). Concreteness ratings for 40 thousand generally known English word lemmas. Behavior Research Methods, 46, 904-911.
http://crr.ugent.be/papers/Brysbaert_Warriner_Kuperman_BRM_Concreteness_ratings.pdf

In [195]:
#Concreteness rating - the higher Conc.M, the easier the word is.
concreteness_path = 'Data/Concreteness_ratings_Brysbaert_et_al_BRM.txt'
concrete_df = pd.read_csv(concreteness_path,delimiter='\t', keep_default_na=False)
concreteset=(concrete_df['Word'].values)

In [196]:
concrete_df

,Word,Bigram,Conc.M,Conc.SD,Unknown,Total,Percent_known,SUBTLEX,Dom_Pos
0,roadsweeper,0,4.85,0.37,1,27,0.96,0,0
1,traindriver,0,4.54,0.71,3,29,0.90,0,0
2,tush,0,4.45,1.01,3,25,0.88,66,0
3,hairdress,0,3.93,1.28,0,29,1.00,1,0
4,pharmaceutics,0,3.77,1.41,4,26,0.85,0,0
...,...,...,...,...,...,...,...,...,...
39949,unenvied,0,1.21,0.62,1,30,0.97,0,#N/A
39950,agnostically,0,1.20,0.50,2,27,0.93,0,#N/A
39951,conceptualistic,0,1.18,0.50,4,26,0.85,0,#N/A
39952,conventionalism,0,1.18,0.48,1,29,0.97,0,#N/A
39953,essentialness,0,1.04,0.20,2,26,0.92,0,#N/A

In [207]:
concrete_df['stem'] = concrete_df['Word'].apply(lemmatize_stemming)

In [209]:
concrete_df

,Word,Bigram,Conc.M,Conc.SD,Unknown,Total,Percent_known,SUBTLEX,Dom_Pos,stem
0,roadsweeper,0,4.85,0.37,1,27,0.96,0,0,roadsweep
1,traindriver,0,4.54,0.71,3,29,0.90,0,0,traindriv
2,tush,0,4.45,1.01,3,25,0.88,66,0,tush
3,hairdress,0,3.93,1.28,0,29,1.00,1,0,hairdress
4,pharmaceutics,0,3.77,1.41,4,26,0.85,0,0,pharmaceut
...,...,...,...,...,...,...,...,...,...,...
39949,unenvied,0,1.21,0.62,1,30,0.97,0,#N/A,unenvi
39950,agnostically,0,1.20,0.50,2,27,0.93,0,#N/A,agnost
39951,conceptualistic,0,1.18,0.50,4,26,0.85,0,#N/A,conceptualist
39952,conventionalism,0,1.18,0.48,1,29,0.97,0,#N/A,convention
39953,essentialness,0,1.04,0.20,2,26,0.92,0,#N/A,essenti

In [210]:
concrete_df.Bigram.value_counts()

0    37058
1     2896
Name: Bigram, dtype: int64

In [211]:
concrete_df[concrete_df.Bigram==1]

,Word,Bigram,Conc.M,Conc.SD,Unknown,Total,Percent_known,SUBTLEX,Dom_Pos,stem
28707,baking soda,1,5.00,0.00,0,30,1.00,0,#N/A,baking soda
28709,baseball bat,1,5.00,0.00,0,29,1.00,0,#N/A,baseball bat
28710,bath towel,1,5.00,0.00,0,29,1.00,0,#N/A,bath towel
28711,beach ball,1,5.00,0.00,0,28,1.00,0,#N/A,beach bal
28712,bed sheet,1,5.00,0.00,0,28,1.00,0,#N/A,bed sheet
...,...,...,...,...,...,...,...,...,...,...
39619,tantamount to,1,1.52,0.85,4,27,0.85,0,#N/A,tantamount to
39857,chance on,1,1.38,0.75,2,28,0.93,0,#N/A,chance on
39871,free rein,1,1.37,0.63,2,29,0.93,0,#N/A,free rein
39899,by chance,1,1.34,0.72,1,30,0.97,0,#N/A,by chanc
39947,in principle,1,1.21,0.41,4,28,0.86,0,#N/A,in principl

In [212]:
#There is no Nan value in Conc.M column
concrete_df[concrete_df['Conc.M'].isna()]

Empty DataFrame
Columns: [Word, Bigram, Conc.M, Conc.SD, Unknown, Total, Percent_known, SUBTLEX, Dom_Pos, stem]
Index: []

### Are we gonna consider bigrams in this dataset, given it's only a small fraction ~ 8% in size?

In [213]:
np.min(concrete_df['Conc.M'])

1.04

In [214]:
np.max(concrete_df['Conc.M'])

5.0

### Concreteness values range from 1 - 5, we could possible use the inverse value of concreteness to scale it to a 0-1 range and give easier words less weight.

In [215]:
concrete_words = list(concrete_df['Word'].values)

In [216]:
concrete_words = list(concrete_df['stem'].values)

In [217]:
len(concrete_words)

39954

In [218]:
concrete_complement = [word for word in words_in_vector if word not in concrete_words]

In [219]:
len(concrete_complement)

870

In [220]:
concrete_complement

['franc',
 'english',
 'german',
 'british',
 'calai',
 'england',
 'london',
 'french',
 'largest',
 'ndash',
 'germani',
 'japanes',
 'york',
 'america',
 'australia',
 'nord',
 'italian',
 'william',
 'aisn',
 'europ',
 'picardi',
 'pakistan',
 'greek',
 'european',
 'georg',
 'spanish',
 'normandi',
 'india',
 'calvado',
 'california',
 'switzerland',
 'canton',
 'canada',
 'charl',
 'australian',
 'itali',
 'henri',
 'loir',
 'canadian',
 'scotland',
 'girond',
 'mari',
 'robert',
 'ireland',
 'africa',
 'paul',
 'latin',
 'florida',
 'brazilian',
 'aquitain',
 'david',
 'russian',
 'indian',
 'chines',
 'michael',
 'asia',
 'pari',
 'richard',
 'berlin',
 'scottish',
 'dutch',
 'spain',
 'iowa',
 'disney',
 'thoma',
 'wale',
 'edward',
 'britain',
 'alp',
 'loui',
 'mexico',
 'oldest',
 'washington',
 'virginia',
 'chicago',
 'russia',
 'larger',
 'texa',
 'partement',
 'victoria',
 'irish',
 'centr',
 'harri',
 'african',
 'nobel',
 'austria',
 'netherland',
 'belgian',
 'oklahoma',
 'mario',
 'zealand',
 'jupit',
 'romania',
 'joseph',
 'sarth',
 'illinoi',
 'armenian',
 'austrian',
 'nazi',
 'manchest',
 'carolina',
 'poland',
 'jesu',
 'korea',
 'elizabeth',
 'prix',
 'earlier',
 'greatest',
 'korean',
 'egypt',
 'rome',
 'swedish',
 'alexand',
 'santa',
 'saturn',
 'scott',
 'persian',
 'andrew',
 'sweden',
 'georgia',
 'ohio',
 'maria',
 'vienna',
 'melbourn',
 'daniel',
 'kentucki',
 'ontario',
 'portugues',
 'francisco',
 'provenc',
 'pennsylvania',
 'tehsil',
 'columbia',
 'isbn',
 'chri',
 'linux',
 'arthur',
 'michigan',
 'boston',
 'kilometr',
 'earliest',
 'metr',
 'longest',
 'khan',
 'hungari',
 'sydney',
 'mayenn',
 'massachusett',
 'iran',
 'microsoft',
 'johann',
 'albert',
 'abbey',
 'rhine',
 'punjab',
 'belgium',
 'ann',
 'frederick',
 'kelli',
 'stanley',
 'czech',
 'turkish',
 'alabama',
 'mississippi',
 'indiana',
 'theatr',
 'swiss',
 'azur',
 'toronto',
 'israel',
 'kashmir',
 'kong',
 'christoph',
 'denmark',
 'greec',
 'singapor',
 'aub',
 'jackson',
 'saxoni',
 'walt',
 'alaska',
 'julian',
 'asian',
 'steve',
 'cambridg',
 'gregorian',
 'taylor',
 'armenia',
 'moscow',
 'norway',
 'kansa',
 'minnesota',
 'portug',
 'walter',
 'simpson',
 'pierr',
 'hamilton',
 'carlo',
 'ross',
 'ardãƒ',
 'argentina',
 'caribbean',
 'finland',
 'robinson',
 'colorado',
 'munich',
 'florenc',
 'baden',
 'dominican',
 'lincoln',
 'smackdown',
 'grammi',
 'davi',
 'jane',
 'abbottabad',
 'yorkshir',
 'christ',
 'philip',
 'aargau',
 'wilson',
 'hitler',
 'franci',
 'simon',
 'montreal',
 'hong',
 'stephen',
 'jew',
 'vietnam',
 'hungarian',
 'organis',
 'benjamin',
 'egyptian',
 'danish',
 'tokyo',
 'colour',
 'philippin',
 'jone',
 'karl',
 'billi',
 'prefectur',
 'smallest',
 'bavaria',
 'pokãƒ',
 'matthew',
 'johnson',
 'fifa',
 'hollywood',
 'youngest',
 'mont',
 'milan',
 'wilhelm',
 'brian',
 'argentin',
 'afghanistan',
 'quebec',
 'neptun',
 'detroit',
 'iraq',
 'geneva',
 'norwegian',
 'samuel',
 'madrid',
 'harrison',
 'missouri',
 'taiwan',
 'sarah',
 'anna',
 'mexican',
 'arizona',
 'paulo',
 'maya',
 'michel',
 'alfr',
 'graham',
 'chile',
 'puerto',
 'juan',
 'muhammad',
 'westphalia',
 'warner',
 'philadelphia',
 'friedrich',
 'vancouv',
 'vendãƒ',
 'birmingham',
 'tallest',
 'santo',
 'carl',
 'ferdinand',
 'finnish',
 'pittsburgh',
 'patrick',
 'wisconsin',
 'caesar',
 'beatl',
 'ticino',
 'bangladesh',
 'hawaii',
 'vauclus',
 'wrestlemania',
 'westminst',
 'clark',
 'bruce',
 'jefferson',
 'hugh',
 'duchi',
 'bobbi',
 'steven',
 'lewi',
 'hebrew',
 'diego',
 'ardã',
 'catherin',
 'kennedi',
 'cuba',
 'indonesia',
 'jordan',
 'arkansa',
 'gabriel',
 'viii',
 'howard',
 'anthoni',
 'byzantin',
 'monro',
 'ukrain',
 'tennesse',
 'walloon',
 'idaho',
 'welsh',
 'iceland',
 'liverpool',
 'glasgow',
 'indo',
 'dougla',
 'urdu',
 'russel',
 'eric',
 'orton',
 'lawrenc',
 'anglo',
 'bach',
 'edinburgh',
 'pakistani',
 'flander',
 'iranian',
 'baptist',
 'lennon',
 'franklin',
 'seattl',
 'cena',
 'atlanta',
 'homer',
 'homo',
 'hess',
 'austen',
 'andrea',
 'jerusalem',
 'uranu',
 'alic',
 'rico',
 'kevin',
 'antonio',
 'wagner',
 'louisiana',
 'tamil',
 'barcelona',
 'connecticut',
 'jeff',
 'uefa',
 'bengal',
 'tram',
 'shakespear',
 'theorem',
 'prussia',
 'britannica',
 'haiti',
 'labour',
 'austin',
 'alan',
 'clinton',
 'hart',
 'jacqu',
 'perci',
 'arnold',
 'atlantiqu',
 'nichola',
 'barri',
 'leed',
 'hugo',
 'allen',
 'manhattan',
 'giovanni',
 'thailand',
 'edmund',
 'rhode',
 'han',
 'carter',
 'franz',
 'emir',
 'vector',
 'gordon',
 'otto',
 'romanian',
 'shire',
 'closest',
 'hercul',
 'zeu',
 'canadien',
 'athen',
 'miami',
 'genera',
 'eclipt',
 'oscar',
 'helen',
 'serbia',
 'ernst',
 'roosevelt',
 'margaret',
 'cleveland',
 'norman',
 'theodor',
 'eddi',
 'amsterdam',
 'forb',
 'lowest',
 'pokã',
 'jura',
 'bit',
 'batista',
 'baltimor',
 'hampshir',
 'solothurn',
 'gustav',
 'houston',
 'jammu',
 'jonathan',
 'caliph',
 'queensland',
 'nors',
 'syria',
 'brabant',
 'marco',
 'phillip',
 'maryland',
 'shah',
 'madison',
 'kurt',
 'josã',
 'nelson',
 'stuart',
 'mcmahon',
 'brooklyn',
 'augustu',
 'vega',
 'stewart',
 'jerri',
 'whedon',
 'dakota',
 'kent',
 'malaysia',
 'thompson',
 'johnni',
 'honour',
 'sindh',
 'peru',
 'reich',
 'neighbour',
 'tuscani',
 'herbert',
 'holland',
 'nasa',
 'isra',
 'weimar',
 'bouch',
 'venic',
 'ukrainian',
 'saxon',
 'guerrero',
 'louis',
 'francesco',
 'renault',
 'mccartney',
 'basilica',
 'emmi',
 'leones',
 'indu',
 'slovakia',
 'mozart',
 'soni',
 'amazon',
 'lithuania',
 'vincent',
 'aberdeen',
 'lui',
 'juliu',
 'bernard',
 'anglican',
 'croatian',
 'slavic',
 'dave',
 'napl',
 'janeiro',
 'laureat',
 'fastest',
 'thame',
 'utah',
 'wright',
 'luxembourg',
 'nuremberg',
 'wayn',
 'gregori',
 'costa',
 'anton',
 'pyrã',
 'leipzig',
 'luke',
 'suffolk',
 'newfoundland',
 'nile',
 'arabia',
 'oregon',
 'constantin',
 'nicola',
 'charli',
 'newton',
 'anderson',
 'croatia',
 'tibetan',
 'gilbert',
 'strongest',
 'terri',
 'antarctica',
 'luca',
 'knowl',
 'ivan',
 'donald',
 'bueno',
 'unesco',
 'manitoba',
 'gari',
 'isaac',
 'luci',
 'willi',
 'suceava',
 'persia',
 'castil',
 'cameron',
 'ronald',
 'khyber',
 'leon',
 'barbara',
 'vendã',
 'harvard',
 'abraham',
 'kirbi',
 'winger',
 'thuringia',
 'petersburg',
 'guin',
 'salzburg',
 'apollo',
 'dalla',
 'ryan',
 'ludwig',
 'saudi',
 'trojan',
 'flora',
 'arrondiss',
 'mongol',
 'franco',
 'columbu',
 'dublin',
 'teau',
 'campbel',
 'berkeley',
 'nevada',
 'mali',
 'warsaw',
 'wider',
 'flemish',
 'subfamili',
 'richmond',
 'vike',
 'tampa',
 'heinrich',
 'sheffield',
 'ralph',
 'volkswagen',
 'orlean',
 'wiki',
 'extratrop',
 'brandenburg',
 'ubuntu',
 'sicili',
 'santiago',
 'prussian',
 'pakhtunkhwa',
 'kane',
 'stockholm',
 'buffi',
 'josãƒ',
 'murray',
 'sebastian',
 'bulgaria',
 'ernest',
 'raymond',
 'piper',
 'morgan',
 'manuel',
 'colombia',
 'jason',
 'bundesliga',
 'soundgarden',
 'harbour',
 'beij',
 'chakwal',
 'sussex',
 'vinc',
 'neil',
 'alex',
 'blackhawk',
 'empress',
 'tyler',
 'ferrari',
 'yugoslavia',
 'furbi',
 'tommi',
 'arabian',
 'debian',
 'tasmania',
 'pragu',
 'bermuda',
 'chãƒ',
 'hume',
 'lebanon',
 'alexandra',
 'serbian',
 'anastasia',
 'alberta',
 'hudson',
 'jacob',
 'lanka',
 'craig',
 'bristol',
 'baltic',
 'ussr',
 'marcu',
 'ottawa',
 'jamaica',
 'jurass',
 'pedro',
 'victorian',
 'tramway',
 'orlando',
 'spencer',
 'venezuela',
 'sega',
 'slovak',
 'joan',
 'dolj',
 'parker',
 'norfolk',
 'facto',
 'valencia',
 'haut',
 'powel',
 'susan',
 'wolfgang',
 'leonard',
 'esperanto',
 'collin',
 'keith',
 'surrey',
 'alexandria',
 'adolf',
 'medici',
 'andi',
 'hermann',
 'warren',
 'edgar',
 'lithuanian',
 'tibet',
 'windsor',
 'avon',
 'fernando',
 'pradesh',
 'burton',
 'ethiopia',
 'delhi',
 'leonardo',
 'latvia',
 'bryan',
 'fischer',
 'calvin',
 'burma',
 'devon',
 'isabella',
 'chelsea',
 'bart',
 'thurgau',
 'danni',
 'antil',
 'stronger',
 'philipp',
 'nigeria',
 'bruin',
 'claud',
 'cyril',
 'shawn',
 'fewer',
 'monaco',
 'mauric',
 'versail',
 'cornel',
 'floyd',
 'torr',
 'greenland',
 'perth',
 'alban',
 'aaron',
 'nixon',
 'morri',
 'brighton',
 'cole',
 'silva',
 'pluto',
 'wallac',
 'lorenzo',
 'inca',
 'limburg',
 'newcastl',
 'sudan',
 'tico',
 'defenc',
 'aragon',
 'fred',
 'luigi',
 'jose',
 'harold',
 'extant',
 'hainaut',
 'horton',
 'webster',
 'estonia',
 'canuck',
 'stanford',
 'nascar',
 'ncaa',
 'vill',
 'somerset',
 'buddha',
 'waterloo',
 'romeo',
 'kate',
 'malta',
 'salvador',
 'rick',
 'denni',
 'evan',
 'calgari',
 'hindenburg',
 'oblast',
 'karachi',
 'echidna',
 'watson',
 'nato',
 'toyota',
 'rudolf',
 'antwerp',
 'kati',
 'livingston',
 'colin',
 'pete',
 'chilean',
 'luther',
 'scala',
 'melina',
 'bern',
 'pablo',
 'domingo',
 'maxwel',
 'helsinki',
 'owen',
 'keyn',
 'azerbaijan',
 'greg',
 'slovenia',
 'chevrolet',
 'rica',
 'beyoncã',
 'reagan',
 'mecklenburg',
 'boe',
 'krei',
 'indonesian',
 'jess',
 'pichilemu',
 'tanzania',
 'disambigu',
 'antoin',
 'cornwal',
 'slower',
 'regent',
 'coburg',
 'ruth',
 'verd',
 'pascal',
 'cruz',
 'edmonton',
 'derbyshir',
 'indianapoli',
 'osaka',
 'scot',
 'busiest',
 'chad',
 'lisa',
 'gettysburg',
 'sunderland',
 'aang',
 'dant',
 'connor',
 'lulu',
 'olympiad',
 'lancashir',
 'princeton',
 'thai',
 'phil',
 'vladimir',
 'bavarian',
 'ming',
 'manga',
 'berg',
 'oslo',
 'fritz',
 'rttemberg',
 'grameen',
 'albani',
 'troy',
 'lutheran',
 'nanci',
 'lang',
 'benoit',
 'gotha',
 'socrat',
 'hanov',
 'amherst',
 'bismarck',
 'lombardi',
 'roberto',
 'etymolog',
 'malcolm',
 'cincinnati',
 'czechoslovakia',
 'kart',
 'stallon',
 'sean',
 'todd',
 'denver',
 'baja',
 'yokohama',
 'ipswich',
 'brandon',
 'copenhagen',
 'amadeu',
 'felix',
 'memphi',
 'terminu',
 'congo',
 'beethoven',
 'montana']

In [221]:
concrete_intersect = [word for word in words_in_vector if word in concrete_words]

In [222]:
len(concrete_intersect)

2603

In [223]:
concrete_intersect

['unit',
 'commun',
 'depart',
 'region',
 'state',
 'american',
 'includ',
 'call',
 'nation',
 'play',
 'area',
 'locat',
 'univers',
 'district',
 'releas',
 'year',
 'refer',
 'name',
 'album',
 'system',
 'seri',
 'former',
 'origin',
 'later',
 'septemb',
 'januari',
 'current',
 'juli',
 'octob',
 'august',
 'centuri',
 'popul',
 'leagu',
 'june',
 'decemb',
 'provinc',
 'april',
 'novemb',
 'produc',
 'work',
 'februari',
 'develop',
 'base',
 'award',
 'intern',
 'presid',
 'john',
 'record',
 'start',
 'form',
 'creat',
 'main',
 'usual',
 'central',
 'offici',
 'municip',
 'forc',
 'organ',
 'design',
 'common',
 'perform',
 'televis',
 'use',
 'type',
 'publish',
 'speci',
 'game',
 'profession',
 'championship',
 'event',
 'featur',
 'appear',
 'popular',
 'found',
 'period',
 'union',
 'although',
 'oper',
 'exampl',
 'roman',
 'gener',
 'charact',
 'bass',
 'video',
 'associ',
 'human',
 'modern',
 'hurrican',
 'japan',
 'famou',
 'tropic',
 'member',
 'anim',
 'success',
 'republ',
 'natur',
 'time',
 'compos',
 'serv',
 'product',
 'show',
 'along',
 'contain',
 'council',
 'within',
 'elect',
 'role',
 'chang',
 'comput',
 'consid',
 'support',
 'countri',
 'version',
 'result',
 'move',
 'christian',
 'control',
 'polit',
 'jam',
 'independ',
 'tradit',
 'program',
 'continu',
 'local',
 'accord',
 'divis',
 'total',
 'establish',
 'actor',
 'complet',
 'career',
 'minist',
 'scienc',
 'allow',
 'empir',
 'final',
 'island',
 'hockey',
 'northwest',
 'cultur',
 'consist',
 'posit',
 'articl',
 'footbal',
 'provid',
 'relat',
 'commonli',
 'repres',
 'border',
 'similar',
 'wrestl',
 'emperor',
 'open',
 'star',
 'link',
 'receiv',
 'rang',
 'activ',
 'studi',
 'part',
 'join',
 'caus',
 'remain',
 'writer',
 'feder',
 'exist',
 'websit',
 'novel',
 'special',
 'administr',
 'day',
 'process',
 'territori',
 'mean',
 'network',
 'inform',
 'studio',
 'pay',
 'replac',
 'edit',
 'sourc',
 'book',
 'describ',
 'ancient',
 'histor',
 'style',
 'militari',
 'director',
 'mile',
 'addit',
 'fiction',
 'place',
 'educ',
 'energi',
 'institut',
 'chemic',
 'movement',
 'collect',
 'variou',
 'physic',
 'industri',
 'sign',
 'opera',
 'languag',
 'student',
 'follow',
 'formula',
 'theori',
 'orchestra',
 'project',
 'episod',
 'prime',
 'object',
 'atlant',
 'civil',
 'tour',
 'materi',
 'discov',
 'censu',
 'reach',
 'structur',
 'element',
 'standard',
 'research',
 'parliament',
 'effect',
 'classic',
 'entertain',
 'plant',
 'team',
 'site',
 'race',
 'model',
 'song',
 'occur',
 'film',
 'olymp',
 'sport',
 'recent',
 'imag',
 'actress',
 'other',
 'port',
 'southwest',
 'citi',
 'retir',
 'number',
 'rule',
 'softwar',
 'win',
 'group',
 'stadium',
 'social',
 'user',
 'cathol',
 'involv',
 'highest',
 'cover',
 'train',
 'combin',
 'almost',
 'lead',
 'minor',
 'across',
 'speak',
 'return',
 'increas',
 'typic',
 'divid',
 'approxim',
 'societi',
 'live',
 'person',
 'influenc',
 'guitar',
 'announc',
 'debut',
 'engin',
 'critic',
 'symbol',
 'initi',
 'execut',
 'musician',
 'player',
 'duke',
 'construct',
 'orbit',
 'femal',
 'instrument',
 'claim',
 'direct',
 'end',
 'lower',
 'travel',
 'simpli',
 'introduc',
 'connect',
 'issu',
 'airport',
 'translat',
 'pass',
 'soviet',
 'peter',
 'experi',
 'author',
 'especi',
 'politician',
 'governor',
 'northwestern',
 'situat',
 'altern',
 'individu',
 'genu',
 'throughout',
 'report',
 'manag',
 'rel',
 'function',
 'premier',
 'requir',
 'mountain',
 'act',
 'nativ',
 'text',
 'brand',
 'mass',
 'distribut',
 'electron',
 'music',
 'add',
 'econom',
 'grow',
 'wikipedia',
 'avail',
 'word',
 'angel',
 'practic',
 'festiv',
 'point',
 'defeat',
 'command',
 'notabl',
 'problem',
 'come',
 'temperatur',
 'limit',
 'defin',
 'format',
 'specif',
 'data',
 'statist',
 'academi',
 'normal',
 'cathedr',
 'coloni',
 'respons',
 'dynasti',
 'channel',
 'celebr',
 'distanc',
 'close',
 'rank',
 'action',
 'pacif',
 'martin',
 'servic',
 'deriv',
 'help',
 'super',
 'planet',
 'present',
 'averag',
 'declar',
 'degre',
 'secretari',
 'democrat',
 'page',
 'categori',
 'section',
 'term',
 'window',
 'smaller',
 'secur',
 'art',
 'mainli',
 'estim',
 'turn',
 'date',
 'resid',
 'attempt',
 'borough',
 'suggest',
 'constitut',
 'museum',
 'conduct',
 'note',
 'entir',
 'statu',
 'make',
 'inhabit',
 'label',
 'promot',
 'select',
 'muslim',
 'line',
 'nintendo',
 'commerci',
 'scale',
 'metropolitan',
 'believ',
 'thu',
 'say',
 'method',
 'privat',
 'nuclear',
 'competit',
 'attack',
 'display',
 'month',
 'annual',
 'express',
 'asteroid',
 'devic',
 'becom',
 'islam',
 'surround',
 'memori',
 'cell',
 'pope',
 'diseas',
 'finish',
 'own',
 'recogn',
 'eventu',
 'observ',
 'surviv',
 'right',
 'princip',
 'decid',
 'want',
 'vocal',
 'list',
 'access',
 'actual',
 'season',
 'cyclon',
 'arm',
 'religi',
 'titl',
 'school',
 'brazil',
 'probabl',
 'guitarist',
 'thing',
 'greater',
 'concert',
 'pressur',
 'wide',
 'condit',
 'transport',
 'digit',
 'appoint',
 'songwrit',
 'purpos',
 'take',
 'treati',
 'multipl',
 'compound',
 'separ',
 'higher',
 'mechan',
 'primari',
 'acid',
 'mathemat',
 'opposit',
 'adopt',
 'varieti',
 'professor',
 'singl',
 'artist',
 'press',
 'nomin',
 'respect',
 'arab',
 'lie',
 'applic',
 'tribe',
 'poet',
 'media',
 'extend',
 'comedi',
 'plan',
 'enter',
 'complex',
 'measur',
 'atom',
 'code',
 'town',
 'distinct',
 'achiev',
 'hous',
 'accept',
 'confer',
 'numer',
 'air',
 'technolog',
 'depress',
 'share',
 'explor',
 'regard',
 'revolut',
 'build',
 'extrem',
 'graduat',
 'discoveri',
 'particularli',
 'worldwid',
 'attend',
 'foreign',
 'protect',
 'host',
 'govern',
 'adult',
 'internet',
 'medic',
 'urban',
 'conserv',
 'formerli',
 'parent',
 'corpor',
 'copi',
 'destroy',
 'appli',
 'fame',
 'architectur',
 'extens',
 'advanc',
 'drama',
 'formal',
 'account',
 'particular',
 'foundat',
 'futur',
 'nicknam',
 'signific',
 'regular',
 'fall',
 'draft',
 'adam',
 'jewish',
 'relationship',
 'convent',
 'contest',
 'primarili',
 'senat',
 'launch',
 'properti',
 'hold',
 'rat',
 'literatur',
 'manufactur',
 'chess',
 'peninsula',
 'older',
 'power',
 'carri',
 'religion',
 'captur',
 'zone',
 'need',
 'founder',
 'depend',
 'flower',
 'ask',
 'southeast',
 'adapt',
 'environ',
 'basketbal',
 'vote',
 'polici',
 'philosoph',
 'differ',
 'despit',
 'licens',
 'age',
 'protest',
 'stand',
 'solar',
 'climat',
 'mytholog',
 'southeastern',
 'document',
 'previous',
 'southwestern',
 'volum',
 'wind',
 'compar',
 'assist',
 'symphoni',
 'hour',
 'legal',
 'succeed',
 'directli',
 'color',
 'subsequ',
 'brother',
 'challeng',
 'major',
 'contribut',
 'invent',
 'previou',
 'friend',
 'theme',
 'war',
 'campaign',
 'mark',
 'look',
 'defend',
 'longer',
 'attract',
 'carbon',
 'decad',
 'compet',
 'grant',
 'begin',
 'reduc',
 'concept',
 'wrestler',
 'medal',
 'focu',
 'compris',
 'interest',
 'circuit',
 'biggest',
 'renam',
 'paint',
 'counti',
 'rare',
 'biolog',
 'definit',
 'band',
 'mix',
 'identifi',
 'leav',
 'transfer',
 'oxford',
 'jersey',
 'bomb',
 'propos',
 'station',
 'belong',
 'onlin',
 'emerg',
 'sexual',
 'athlet',
 'offer',
 'cycl',
 'determin',
 'score',
 'rais',
 'jean',
 'indic',
 'frequent',
 'reform',
 'northeast',
 'scientif',
 'river',
 'head',
 'commiss',
 'adventur',
 'scene',
 'merg',
 'editor',
 'scientist',
 'pictur',
 'gain',
 'reign',
 'sell',
 'occupi',
 'evid',
 'basic',
 'smith',
 'field',
 'order',
 'soccer',
 'affect',
 'maintain',
 'split',
 'remov',
 'content',
 'philosophi',
 'promin',
 'marin',
 'committe',
 'cancer',
 'bird',
 'contract',
 'domin',
 'run',
 'diamet',
 'fight',
 'composit',
 'headquart',
 'ford',
 'give',
 'week',
 'particip',
 'abil',
 'assembl',
 'land',
 'congress',
 'flow',
 'core',
 'inspir',
 'unlik',
 'satellit',
 'ceremoni',
 'imperi',
 'liber',
 'instruct',
 'agenc',
 'vehicl',
 'mosqu',
 'hand',
 'ship',
 'shape',
 'highli',
 'anti',
 'bishop',
 'angl',
 'commonwealth',
 'overal',
 'labor',
 'count',
 'signal',
 'vari',
 'happen',
 'cast',
 'mention',
 'solo',
 'justic',
 'agre',
 'younger',
 'store',
 'techniqu',
 'credit',
 'tree',
 'instal',
 'underground',
 'sequel',
 'tournament',
 'entri',
 'earn',
 'growth',
 'creation',
 'incorpor',
 'fossil',
 'boundari',
 'affair',
 'tell',
 'case',
 'breed',
 'parallel',
 'astronom',
 'therefor',
 'strike',
 'track',
 'abbrevi',
 'kill',
 'concentr',
 'lyric',
 'oxid',
 'tripl',
 'prevent',
 'letter',
 'genet',
 'drug',
 'level',
 'prior',
 'troop',
 'punk',
 'way',
 'last',
 'particl',
 'billion',
 'compani',
 'burn',
 'pronounc',
 'visit',
 'sit',
 'offic',
 'airlin',
 'match',
 'equat',
 'whether',
 'templ',
 'approach',
 'expand',
 'blue',
 'geograph',
 'concern',
 'journal',
 'earl',
 'employ',
 'trophi',
 'earthquak',
 'address',
 'distinguish',
 'hill',
 'suppli',
 'reserv',
 'dictionari',
 'ministri',
 'fantasi',
 'mammal',
 'agreement',
 'alli',
 'infect',
 'possibl',
 'immedi',
 'fail',
 'agricultur',
 'consol',
 'classifi',
 'famili',
 'buri',
 'behavior',
 'reason',
 'biographi',
 'detail',
 'household',
 'legend',
 'teach',
 'church',
 'secondari',
 'aircraft',
 'goal',
 'densiti',
 'crime',
 'intens',
 'convert',
 'alon',
 'domest',
 'evolut',
 'view',
 'arrang',
 'mediev',
 'print',
 'characterist',
 'economi',
 'mine',
 'vice',
 'ident',
 'voyag',
 'trade',
 'layer',
 'perman',
 'roger',
 'death',
 'transit',
 'preserv',
 'staff',
 'global',
 'meter',
 'alphabet',
 'tri',
 'mobil',
 'intellig',
 'piec',
 'frank',
 'decis',
 'controversi',
 'survivor',
 'lack',
 'motion',
 'extinct',
 'historian',
 'chapel',
 'weight',
 'chamber',
 'liter',
 'orthodox',
 'minut',
 'communist',
 'heritag',
 'roll',
 'candid',
 'bank',
 'spell',
 'progress',
 'law',
 'landfal',
 'jack',
 'suffer',
 'water',
 'rural',
 'trial',
 'solid',
 'extern',
 'solut',
 'strength',
 'belief',
 'car',
 'portion',
 'socialist',
 'agent',
 'occasion',
 'resist',
 'bear',
 'outer',
 'genr',
 'sing',
 'roughli',
 'find',
 'soldier',
 'shortli',
 'reveal',
 'pattern',
 'tube',
 'larg',
 'chart',
 'miner',
 'tourist',
 'broadcast',
 'fund',
 'gene',
 'side',
 'technic',
 'boy',
 'market',
 'latter',
 'jazz',
 'cent',
 'uniqu',
 'drop',
 'basi',
 'scholar',
 'midfield',
 'atmospher',
 'draw',
 'contemporari',
 'son',
 'expect',
 'traffic',
 'idea',
 'reaction',
 'mathematician',
 'difficult',
 'multi',
 'liquid',
 'public',
 'mission',
 'oliv',
 'import',
 'prefer',
 'script',
 'avoid',
 'factor',
 'descend',
 'interst',
 'set',
 'potenti',
 'classif',
 'templat',
 'folk',
 'sunday',
 'expans',
 'coupl',
 'exhibit',
 'audienc',
 'mediterranean',
 'facil',
 'senior',
 'meet',
 'item',
 'impact',
 'bureau',
 'photograph',
 'confirm',
 'girl',
 'principl',
 'semi',
 'discuss',
 'arrest',
 'attach',
 'disk',
 'slightli',
 'exclus',
 'interact',
 'pilot',
 'charg',
 'christma',
 'equip',
 'intend',
 'interview',
 'club',
 'reflect',
 'pioneer',
 'plastic',
 'eye',
 ...]

In [224]:
concrete_intersect[0]

'unit'

In [225]:
word_vectors['state']

array([ 1.39647238e-02,  5.55823803e-01,  1.06922722e+00, -5.80761373e-01,
       -1.84090003e-01,  5.90051591e-01, -4.83297288e-01, -1.02137029e+00,
       -5.29634774e-01,  5.59159517e-01,  5.48655391e-01, -5.47076106e-01,
        7.40445852e-01,  1.05874848e+00,  1.15805231e-01, -6.43091977e-01,
       -2.17272550e-01,  9.14282817e-03, -5.67998827e-01,  7.31134772e-01,
        3.81624818e-01,  1.66095972e-01,  1.35420918e+00, -6.32261574e-01,
        1.36019778e+00,  3.18622977e-01,  6.08311772e-01, -9.46012974e-01,
       -8.16127062e-01, -3.75578135e-01,  2.15428099e-01,  8.21336448e-01,
        3.31276923e-01,  9.03516561e-02, -8.25725853e-01, -1.05747208e-01,
       -2.19876960e-01,  5.83677590e-01,  7.62211204e-01, -5.33324957e-01,
       -7.19758987e-01, -3.87935847e-01, -8.95460725e-01, -4.90741104e-01,
        8.86917651e-01,  9.73534048e-01, -6.34916961e-01, -1.85901213e+00,
        1.65464237e-01, -3.50661904e-01,  4.40119535e-01, -6.48685396e-01,
        1.45408392e+00,  1.48301259e-01,  3.76801163e-01, -7.68440843e-01,
       -1.64687514e-01,  8.69430482e-01,  1.06486924e-01, -1.75636575e-01,
       -7.97931433e-01, -1.77121714e-01, -4.18048054e-01,  4.10883397e-01,
       -2.49684185e-01, -7.94470012e-01,  7.96140790e-01,  6.49086654e-01,
       -6.67854786e-01,  1.01724342e-01,  4.48515475e-01,  2.93741465e-01,
       -3.69512051e-01,  7.26120099e-02, -1.38704312e+00, -5.19931614e-02,
       -1.09465075e+00,  4.42699641e-02, -1.88935250e-01, -5.02752483e-01,
        6.22499585e-01, -2.21162826e-01, -7.54070461e-01,  6.47206083e-02,
       -1.42634416e+00, -1.78687787e+00,  2.01562017e-01, -1.21575201e+00,
       -1.88005656e-01, -1.20509721e-01,  4.34873939e-01, -9.30487573e-01,
        1.40219644e-01,  5.64335763e-01, -8.77024457e-02,  1.37186468e+00,
        8.55210877e-04,  3.81024987e-01,  4.10743356e-02, -3.54462922e-01],
      dtype=float32)

In [226]:
concrete_df[concrete_df['Word']=='state']['Conc.M'].values

array([3.52])

In [228]:
for word in concrete_intersect:
    word_vectors[word] = word_vectors[word] * 1/concrete_df[concrete_df['stem']==word]['Conc.M'].values.mean()

== AoA_51715_words.csv ==

This file contains "Age of Acquisition" (AoA) estimates for about 51k English words, which refers to the approximate age (in years) when a word was learned. Early words, being more basic, have lower average AoA.

The main columns you will be interested in are "Word" and "AoA_Kup_lem". But the others may be useful too.

The file contains these columns:

Word :: The word in question
Alternative.spelling :: if the Word may be spelled frequently in another form	
Freq_pm	:: Freq of the Word in general English (larger -> more common)
Dom_PoS_SUBTLEX	:: Dominant part of speech in general usage
Nletters :: number of letters 
Nphon :: number of phonemes
Nsyll :: number of syllables
Lemma_highest_PoS :: the "lemmatized" or "root" form of the word (in the dominant part of speech. e.g. The root form of the verb "abates" is "abate".
AoA_Kup	:: The AoA from a previous study by Kuperman et al.
Perc_known :: Percent of people who knew the word in the Kuperman et al. study
AoA_Kup_lem :: Estimated AoA based on Kuperman et al. study lemmatized words. THIS IS THE MAIN COLUMN OF INTEREST.
Perc_known_lem	:: Estimated percentage of people who would know this form of the word in the Kuperman study.
AoA_Bird_lem :: AoA reported in previous study by Bird (2001) 
AoA_Bristol_lem	:: AoA reported in previous study from Bristol Univ. (2006)
AoA_Cort_lem :: AoA reported in previous study by Cortese & Khanna (2008)
AoA_Schock :: AoA reported in previous study by Schock (2012)

Original source : http://crr.ugent.be/archives/806

In [241]:
#AoA
#Perc_known_lem, AoA_Kup_lem
aoawords_path = 'Data/AoA_51715_words.csv'
AoA = pd.read_csv(aoawords_path,encoding = 'unicode_escape')
AoA = AoA[AoA['Word'].notna()]
AoA_set = set(AoA['Word'].values)
AoA.head(5)

,Word,Alternative.spelling,Freq_pm,Dom_PoS_SUBTLEX,Nletters,Nphon,Nsyll,Lemma_highest_PoS,AoA_Kup,Perc_known,AoA_Kup_lem,Perc_known_lem,AoA_Bird_lem,AoA_Bristol_lem,AoA_Cort_lem,AoA_Schock
0,a,a,20415.27,Article,1,1,1,a,2.89,1.00,2.89,1.00,3.16,NaN,NaN,NaN
1,aardvark,aardvark,0.41,Noun,8,7,2,aardvark,9.89,1.00,9.89,1.00,NaN,NaN,NaN,NaN
2,abacus,abacus,0.24,Noun,6,6,3,abacus,8.69,0.65,8.69,0.65,NaN,NaN,NaN,NaN
3,abacuses,abacuses,0.02,Noun,8,9,4,abacus,NaN,NaN,8.69,0.65,NaN,NaN,NaN,NaN
4,abalone,abalone,0.51,Verb,7,7,4,abalone,12.23,0.72,12.23,0.72,NaN,NaN,NaN,NaN

In [242]:
AoA['Word'].sort_values()

2147     Armageddon
18582         FRAYS
22665             I
27722       Masonic
36007     PUSHCHAIR
            ...
51710      zucchini
51711     zucchinis
51712      zwieback
51713        zygote
51714       zygotes
Name: Word, Length: 51714, dtype: object

In [244]:
AoA['stem'] = AoA['Word'].apply(lemmatize_stemming)

In [245]:
len(AoA)

51714

In [246]:
AoA.AoA_Kup_lem.min()

1.58

In [247]:
AoA.AoA_Kup_lem.max()

25.0

In [248]:
AoA.sort_values(['AoA_Kup_lem'], ascending=False)

,Word,Alternative.spelling,Freq_pm,Dom_PoS_SUBTLEX,Nletters,Nphon,Nsyll,Lemma_highest_PoS,AoA_Kup,Perc_known,AoA_Kup_lem,Perc_known_lem,AoA_Bird_lem,AoA_Bristol_lem,AoA_Cort_lem,AoA_Schock,stem
14878,eisteddfod,eisteddfod,NaN,NaN,10,8,3,eisteddfod,25.0,0.05,25.0,0.05,NaN,NaN,NaN,NaN,eisteddfod
2084,architrave,architrave,0.04,Noun,10,8,3,architrave,21.0,0.05,21.0,0.05,NaN,NaN,NaN,NaN,architrav
6274,calceolaria,calceolaria,0.02,Noun,11,11,6,calceolaria,21.0,0.11,21.0,0.11,NaN,NaN,NaN,NaN,calceolaria
32931,penury,penury,0.02,Noun,6,7,3,penury,20.6,0.28,20.6,0.28,NaN,NaN,NaN,NaN,penuri
25243,kendo,kendo,0.37,Noun,5,5,2,kendo,20.5,0.11,20.5,0.11,NaN,NaN,NaN,NaN,kendo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38932,rogation,rogation,NaN,NaN,8,7,3,rogation,NaN,0.00,NaN,0.00,NaN,NaN,NaN,NaN,rogat
42089,smilax,smilax,NaN,NaN,6,7,2,smilax,NaN,0.00,NaN,0.00,NaN,NaN,NaN,NaN,smilax
46368,thulium,thulium,NaN,NaN,7,6,3,thulium,NaN,0.00,NaN,0.00,NaN,NaN,NaN,NaN,thulium
50862,wickiup,wickiup,0.27,Noun,7,6,3,wickiup,NaN,0.00,NaN,0.00,NaN,NaN,NaN,NaN,wickiup
50941,williwaw,williwaw,NaN,NaN,8,6,3,williwaw,NaN,0.00,NaN,0.00,NaN,NaN,NaN,NaN,williwaw

In [249]:
len(AoA[AoA['AoA_Kup_lem'].isna()])

20

In [250]:
AoA[AoA['AoA_Kup_lem'].isna()]

,Word,Alternative.spelling,Freq_pm,Dom_PoS_SUBTLEX,Nletters,Nphon,Nsyll,Lemma_highest_PoS,AoA_Kup,Perc_known,AoA_Kup_lem,Perc_known_lem,AoA_Bird_lem,AoA_Bristol_lem,AoA_Cort_lem,AoA_Schock,stem
442,actinium,actinium,NaN,NaN,8,8,4,actinium,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,actinium
1322,ambuscade,ambuscade,NaN,NaN,9,8,3,ambuscade,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,ambuscad
2306,ashlar,ashlar,NaN,NaN,6,5,2,ashlar,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,ashlar
5095,bosky,bosky,NaN,NaN,5,4,2,bosky,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,boski
6404,canaille,canaille,NaN,NaN,8,5,2,canaille,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,canail
9004,compeer,compeer,NaN,NaN,7,6,3,compeer,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,compeer
9005,compeers,compeers,0.02,Noun,8,7,3,compeer,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,compeer
16000,europium,europium,NaN,NaN,8,8,4,europium,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,europium
19065,gallimaufry,gallimaufry,NaN,NaN,11,9,4,gallimaufry,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,gallimaufri
22498,hutment,hutment,NaN,NaN,7,7,2,hutment,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,hutment
25196,karakul,karakul,NaN,NaN,7,7,3,karakul,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,karakul
25219,kedge,kedge,NaN,NaN,5,3,1,kedge,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,kedg
25575,kyat,kyat,NaN,NaN,4,4,2,kyat,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,kyat
32754,peculation,peculation,NaN,NaN,10,10,4,peculation,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,pecul
34588,pother,pother,NaN,NaN,6,5,2,pother,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,pother
38932,rogation,rogation,NaN,NaN,8,7,3,rogation,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,rogat
42089,smilax,smilax,NaN,NaN,6,7,2,smilax,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,smilax
46368,thulium,thulium,NaN,NaN,7,6,3,thulium,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,thulium
50862,wickiup,wickiup,0.27,Noun,7,6,3,wickiup,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,wickiup
50941,williwaw,williwaw,NaN,NaN,8,6,3,williwaw,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,williwaw

In [251]:
# We are going to impute all Nan values in AoA_Kup_lem as the max AoA value 25, as they appear to be hard words.
AoA['AoA_Kup_lem'].fillna(value=AoA['AoA_Kup_lem'].max(), inplace=True)

In [252]:
AoA.sort_values(['AoA_Kup_lem'], ascending=False)

,Word,Alternative.spelling,Freq_pm,Dom_PoS_SUBTLEX,Nletters,Nphon,Nsyll,Lemma_highest_PoS,AoA_Kup,Perc_known,AoA_Kup_lem,Perc_known_lem,AoA_Bird_lem,AoA_Bristol_lem,AoA_Cort_lem,AoA_Schock,stem
2306,ashlar,ashlar,NaN,NaN,6,5,2,ashlar,NaN,0.00,25.00,0.00,NaN,NaN,NaN,NaN,ashlar
38932,rogation,rogation,NaN,NaN,8,7,3,rogation,NaN,0.00,25.00,0.00,NaN,NaN,NaN,NaN,rogat
46368,thulium,thulium,NaN,NaN,7,6,3,thulium,NaN,0.00,25.00,0.00,NaN,NaN,NaN,NaN,thulium
14878,eisteddfod,eisteddfod,NaN,NaN,10,8,3,eisteddfod,25.00,0.05,25.00,0.05,NaN,NaN,NaN,NaN,eisteddfod
5095,bosky,bosky,NaN,NaN,5,4,2,bosky,NaN,0.00,25.00,0.00,NaN,NaN,NaN,NaN,boski
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27395,mamma,mamma,3.02,Noun,5,4,2,mama,NaN,NaN,1.89,1.00,NaN,NaN,NaN,NaN,mamma
27393,mamas,mamas,0.71,Noun,5,5,2,mama,NaN,NaN,1.89,1.00,NaN,NaN,NaN,NaN,mama
27392,mama,mama,103.71,Noun,4,4,2,mama,1.89,1.00,1.89,1.00,NaN,NaN,NaN,NaN,mama
29050,mommas,mommas,0.10,Noun,6,5,2,momma,NaN,NaN,1.58,1.00,NaN,NaN,NaN,NaN,momma
29049,momma,momma,8.08,Noun,5,4,2,momma,1.58,1.00,1.58,1.00,NaN,NaN,NaN,NaN,momma

### AoA values range from 0 - 25, which means the smaller the AoA value, the easier the word is. We could possibly use the AoA value to give easier words less weight.

In [253]:
aoa_words = list(AoA['stem'].values)

In [254]:
len(aoa_words)

51714

In [255]:
aoa_complement = [word for word in words_in_vector if word not in aoa_words]
aoa_intersect = [word for word in words_in_vector if word in aoa_words]

In [256]:
len(aoa_complement)

905

In [257]:
aoa_complement

['english',
 'septemb',
 'british',
 'calai',
 'juli',
 'octob',
 'june',
 'april',
 'england',
 'februari',
 'london',
 'french',
 'john',
 'ndash',
 'germani',
 'japanes',
 'york',
 'america',
 'australia',
 'nord',
 'italian',
 'william',
 'aisn',
 'europ',
 'picardi',
 'pakistan',
 'greek',
 'european',
 'georg',
 'spanish',
 'christian',
 'normandi',
 'india',
 'calvado',
 'california',
 'switzerland',
 'commonli',
 'canada',
 'charl',
 'australian',
 'itali',
 'henri',
 'loir',
 'canadian',
 'scotland',
 'girond',
 'mari',
 'robert',
 'ireland',
 'africa',
 'paul',
 'latin',
 'florida',
 'brazilian',
 'aquitain',
 'atlant',
 'david',
 'russian',
 'indian',
 'chines',
 'michael',
 'asia',
 'pari',
 'richard',
 'berlin',
 'scottish',
 'dutch',
 'lower',
 'spain',
 'iowa',
 'peter',
 'disney',
 'throughout',
 'thoma',
 'wale',
 'edward',
 'britain',
 'wikipedia',
 'loui',
 'mexico',
 'washington',
 'martin',
 'virginia',
 'chicago',
 'mainli',
 'russia',
 'texa',
 'partement',
 'nintendo',
 'victoria',
 'irish',
 'islam',
 'harri',
 'african',
 'nobel',
 'austria',
 'brazil',
 'netherland',
 'belgian',
 'oklahoma',
 'mario',
 'zealand',
 'arab',
 'jupit',
 'romania',
 'joseph',
 'sarth',
 'illinoi',
 'armenian',
 'particularli',
 'formerli',
 'austrian',
 'nazi',
 'manchest',
 'carolina',
 'poland',
 'jesu',
 'jewish',
 'korea',
 'elizabeth',
 'prix',
 'korean',
 'egypt',
 'previous',
 'rome',
 'directli',
 'swedish',
 'alexand',
 'santa',
 'saturn',
 'scott',
 'persian',
 'oxford',
 'onlin',
 'andrew',
 'sweden',
 'georgia',
 'ohio',
 'maria',
 'smith',
 'vienna',
 'melbourn',
 'daniel',
 'kentucki',
 'ontario',
 'portugues',
 'francisco',
 'provenc',
 'highli',
 'pennsylvania',
 'tehsil',
 'columbia',
 'isbn',
 'chri',
 'linux',
 'arthur',
 'michigan',
 'boston',
 'kilometr',
 'metr',
 'hungari',
 'sydney',
 'mayenn',
 'massachusett',
 'iran',
 'microsoft',
 'johann',
 'albert',
 'rhine',
 'punjab',
 'belgium',
 'ann',
 'frederick',
 'kelli',
 'stanley',
 'czech',
 'turkish',
 'alabama',
 'mississippi',
 'indiana',
 'swiss',
 'roger',
 'toronto',
 'israel',
 'kashmir',
 'kong',
 'christoph',
 'denmark',
 'greec',
 'singapor',
 'aub',
 'jackson',
 'saxoni',
 'walt',
 'alaska',
 'julian',
 'asian',
 'steve',
 'cambridg',
 'shortli',
 'gregorian',
 'taylor',
 'armenia',
 'moscow',
 'norway',
 'kansa',
 'minnesota',
 'portug',
 'walter',
 'simpson',
 'pierr',
 'hamilton',
 'carlo',
 'ross',
 'ardãƒ',
 'argentina',
 'caribbean',
 'finland',
 'robinson',
 'colorado',
 'munich',
 'florenc',
 'baden',
 'dominican',
 'lincoln',
 'smackdown',
 'grammi',
 'davi',
 'jane',
 'abbottabad',
 'yorkshir',
 'christ',
 'philip',
 'aargau',
 'wilson',
 'hitler',
 'franci',
 'montreal',
 'hong',
 'stephen',
 'jew',
 'vietnam',
 'hungarian',
 'organis',
 'benjamin',
 'egyptian',
 'danish',
 'tokyo',
 'colour',
 'philippin',
 'jone',
 'karl',
 'billi',
 'subtrop',
 'bavaria',
 'pokãƒ',
 'matthew',
 'playstat',
 'johnson',
 'fifa',
 'easili',
 'hollywood',
 'mont',
 'milan',
 'wilhelm',
 'brian',
 'afghanistan',
 'quebec',
 'neptun',
 'detroit',
 'iraq',
 'geneva',
 'norwegian',
 'samuel',
 'friday',
 'madrid',
 'harrison',
 'missouri',
 'taiwan',
 'sarah',
 'anna',
 'mexican',
 'arizona',
 'paulo',
 'maya',
 'michel',
 'toni',
 'alfr',
 'onto',
 'graham',
 'chile',
 'puerto',
 'newli',
 'juan',
 'muhammad',
 'westphalia',
 'warner',
 'philadelphia',
 'friedrich',
 'vancouv',
 'vendãƒ',
 'birmingham',
 'santo',
 'carl',
 'ferdinand',
 'monday',
 'finnish',
 'alongsid',
 'pittsburgh',
 'patrick',
 'wisconsin',
 'caesar',
 'beatl',
 'ticino',
 'bangladesh',
 'hawaii',
 'vauclus',
 'wrestlemania',
 'midland',
 'westminst',
 'clark',
 'bruce',
 'darwin',
 'jefferson',
 'hugh',
 'bobbi',
 'xbox',
 'steven',
 'lewi',
 'hebrew',
 'miller',
 'phoenix',
 'diego',
 'hindu',
 'ardã',
 'catherin',
 'charlott',
 'kennedi',
 'cuba',
 'indonesia',
 'jordan',
 'arkansa',
 'napoleon',
 'gabriel',
 'viii',
 'gaelic',
 'howard',
 'anthoni',
 'monro',
 'ukrain',
 'tennesse',
 'walloon',
 'idaho',
 'iceland',
 'liverpool',
 'glasgow',
 'indo',
 'dougla',
 'urdu',
 'russel',
 'eric',
 'orton',
 'lawrenc',
 'anglo',
 'bach',
 'edinburgh',
 'pakistani',
 'flander',
 'iranian',
 'baptist',
 'lennon',
 'franklin',
 'seattl',
 'googl',
 'cena',
 'atlanta',
 'homer',
 'celtic',
 'hess',
 'austen',
 'andrea',
 'jerusalem',
 'uranu',
 'alic',
 'rico',
 'kevin',
 'antonio',
 'wagner',
 'louisiana',
 'tamil',
 'barcelona',
 'connecticut',
 'jeff',
 'uefa',
 'bengal',
 'shakespear',
 'prussia',
 'britannica',
 'haiti',
 'labour',
 'austin',
 'alan',
 'clinton',
 'jacqu',
 'perci',
 'arnold',
 'atlantiqu',
 'nichola',
 'barri',
 'leed',
 'heavili',
 'hugo',
 'allen',
 'manhattan',
 'giovanni',
 'thailand',
 'edmund',
 'rhode',
 'han',
 'carter',
 'franz',
 'gordon',
 'otto',
 'romanian',
 'hercul',
 'zeu',
 'canadien',
 'athen',
 'miami',
 'eclipt',
 'oscar',
 'helen',
 'serbia',
 'ernst',
 'roosevelt',
 'margaret',
 'cleveland',
 'norman',
 'theodor',
 'eddi',
 'frankfurt',
 'amsterdam',
 'forb',
 'pokã',
 'jura',
 'batista',
 'baltimor',
 'hampshir',
 'solothurn',
 'gustav',
 'houston',
 'jammu',
 'jonathan',
 'queensland',
 'nors',
 'syria',
 'brabant',
 'marco',
 'phillip',
 'maryland',
 'shah',
 'jimmi',
 'madison',
 'kurt',
 'josã',
 'nelson',
 'stuart',
 'mcmahon',
 'greatli',
 'brooklyn',
 'augustu',
 'vega',
 'stewart',
 'jerri',
 'whedon',
 'dakota',
 'kent',
 'malaysia',
 'thompson',
 'johnni',
 'honour',
 'briefli',
 'fairli',
 'sindh',
 'peru',
 'reich',
 'neighbour',
 'tuscani',
 'herbert',
 'holland',
 'nasa',
 'isra',
 'weimar',
 'bouch',
 'venic',
 'ukrainian',
 'saxon',
 'guerrero',
 'louis',
 'francesco',
 'renault',
 'mccartney',
 'emmi',
 'leones',
 'indu',
 'slovakia',
 'mozart',
 'soni',
 'amazon',
 'lithuania',
 'vincent',
 'aberdeen',
 'lui',
 'juliu',
 'bernard',
 'anglican',
 'croatian',
 'slavic',
 'dave',
 'napl',
 'janeiro',
 'thame',
 'utah',
 'wright',
 'luxembourg',
 'nuremberg',
 'wayn',
 'gregori',
 'costa',
 'anton',
 'pyrã',
 'leipzig',
 'luke',
 'suffolk',
 'newfoundland',
 'nile',
 'arabia',
 'oregon',
 'constantin',
 'nicola',
 'charli',
 'newton',
 'anderson',
 'croatia',
 'tibetan',
 'thursday',
 'gilbert',
 'terri',
 'antarctica',
 'buddhism',
 'luca',
 'strongli',
 'knowl',
 'ivan',
 'donald',
 'bueno',
 'unesco',
 'inland',
 'manitoba',
 'gari',
 'isaac',
 'luci',
 'suceava',
 'persia',
 'castil',
 'cameron',
 'ronald',
 'khyber',
 'victor',
 'leon',
 'barbara',
 'vendã',
 'harvard',
 'abraham',
 'somewhat',
 'kirbi',
 'thuringia',
 'subspeci',
 'petersburg',
 'guin',
 'sierra',
 'salzburg',
 'apollo',
 'dalla',
 'ryan',
 'ludwig',
 'saudi',
 'trojan',
 'antarct',
 'arrondiss',
 'mongol',
 'franco',
 'columbu',
 'dublin',
 'teau',
 'campbel',
 'berkeley',
 'nevada',
 'mali',
 'warsaw',
 'flemish',
 'subfamili',
 'richmond',
 'vike',
 'tampa',
 'publicli',
 'heinrich',
 'sheffield',
 'ralph',
 'triniti',
 'volkswagen',
 'orlean',
 'extratrop',
 'brandenburg',
 'ubuntu',
 'nova',
 'significantli',
 'sicili',
 'santiago',
 'prussian',
 'pakhtunkhwa',
 'kane',
 'stockholm',
 'buffi',
 'similarli',
 'josãƒ',
 'murray',
 'sebastian',
 'bulgaria',
 'easter',
 'ernest',
 'raymond',
 'morgan',
 'manuel',
 'colombia',
 'jason',
 'bundesliga',
 'soundgarden',
 'harbour',
 'beij',
 'batman',
 'panama',
 'chakwal',
 'sussex',
 'vinc',
 'neil',
 'alex',
 'blackhawk',
 'tuesday',
 'tyler',
 'ferrari',
 'yugoslavia',
 'furbi',
 'tommi',
 'arabian',
 'debian',
 'tasmania',
 'pragu',
 'bermuda',
 'chãƒ',
 'hume',
 'lebanon',
 'alexandra',
 'serbian',
 'anastasia',
 'alberta',
 'hudson',
 'jacob',
 'lanka',
 'craig',
 'twentieth',
 'bristol',
 'baltic',
 'ussr',
 'marcu',
 'ottawa',
 'jamaica',
 'jurass',
 'pedro',
 'victorian',
 'increasingli',
 'orlando',
 'spencer',
 'venezuela',
 'sega',
 'slovak',
 'joan',
 'dolj',
 'parker',
 'norfolk',
 'necessarili',
 'facto',
 'valencia',
 'haut',
 'powel',
 'susan',
 'wolfgang',
 'leonard',
 'esperanto',
 'collin',
 'keith',
 'surrey',
 'alexandria',
 'adolf',
 'medici',
 'andi',
 'hermann',
 'warren',
 'edgar',
 'lithuanian',
 'tibet',
 'windsor',
 'avon',
 'fernando',
 'pradesh',
 'burton',
 'ethiopia',
 'delhi',
 'leonardo',
 'latvia',
 'bryan',
 'fischer',
 'calvin',
 'burma',
 'devon',
 'isabella',
 'chelsea',
 'bart',
 'thurgau',
 'danni',
 'paramount',
 'antil',
 'philipp',
 'nigeria',
 'sanskrit',
 'bruin',
 'claud',
 'cyril',
 'shawn',
 'monaco',
 'mauric',
 'randi',
 'versail',
 'floyd',
 'torr',
 'greenland',
 'broadway',
 'perth',
 'alban',
 'aaron',
 'nixon',
 'morri',
 'brighton',
 'cole',
 'silva',
 'pluto',
 'wallac',
 'lorenzo',
 'inca',
 'newcastl',
 'yanke',
 'sudan',
 'tico',
 'walker',
 'aragon',
 'fred',
 'luigi',
 'jose',
 'harold',
 'hainaut',
 'horton',
 'webster',
 'forev',
 'estonia',
 'canuck',
 'stanford',
 'nascar',
 'ncaa',
 'vill',
 'wednesday',
 'somerset',
 'buddha',
 'waterloo',
 'romeo',
 'kate',
 'malta',
 'salvador',
 'denni',
 'evan',
 'calgari',
 'hindenburg',
 'oblast',
 'karachi',
 'echidna',
 'watson',
 'nato',
 'toyota',
 'rudolf',
 'antwerp',
 'kati',
 'livingston',
 'properli',
 'colin',
 'pete',
 'chilean',
 'luther',
 'scala',
 'melina',
 'bern',
 'pablo',
 'domingo',
 'viola',
 'maxwel',
 'helsinki',
 'owen',
 'keyn',
 'azerbaijan',
 'greg',
 'slovenia',
 'rover',
 'chevrolet',
 'rica',
 'beyoncã',
 'reagan',
 'mecklenburg',
 'boe',
 'krei',
 'indonesian',
 'jess',
 'pichilemu',
 'tanzania',
 'disambigu',
 'thereaft',
 'antoin',
 'cornwal',
 'morocco',
 'coburg',
 'ruth',
 'verd',
 'pascal',
 'cruz',
 'edmonton',
 'derbyshir',
 'indianapoli',
 'osaka',
 'chad',
 'lisa',
 'gettysburg',
 'sunderland',
 'marina',
 'aang',
 'dant',
 'connor',
 'lulu',
 'olympiad',
 'lancashir',
 'princeton',
 'thai',
 'phil',
 'vladimir',
 'bavarian',
 'yearli',
 'ming',
 'manga',
 'berg',
 'oslo',
 'rttemberg',
 'grameen',
 'albani',
 'troy',
 'lutheran',
 'nineteenth',
 'eleventh',
 'nanci',
 'lang',
 'benoit',
 'predominantli',
 'gotha',
 'socrat',
 'hanov',
 'amherst',
 'bismarck',
 'pasteur',
 'lombardi',
 'roberto',
 'malcolm',
 'meanwhil',
 'cincinnati',
 'czechoslovakia',
 'stallon',
 'sean',
 'todd',
 'denver',
 'baja',
 'unitari',
 'yokohama',
 'ipswich',
 'brandon',
 'copenhagen',
 'amadeu',
 'felix',
 'memphi',
 'congo',
 'beethoven',
 'montana']

In [258]:
len(aoa_intersect)

2568

In [259]:
aoa_intersect[:20]

['franc',
 'unit',
 'commun',
 'depart',
 'region',
 'state',
 'american',
 'includ',
 'call',
 'nation',
 'play',
 'area',
 'locat',
 'univers',
 'district',
 'releas',
 'year',
 'refer',
 'name',
 'album']

In [260]:
len([word for word in aoa_intersect if word in concrete_intersect])

2504

In [264]:
for word in aoa_intersect:
    word_vectors[word] = word_vectors[word] * AoA[AoA['stem']==word]['AoA_Kup_lem'].values.mean()/25

In [265]:
word_vectors['state']

array([ 1.60550966e-03,  6.39024749e-02,  1.22927926e-01, -6.67695254e-02,
       -2.11646333e-02,  6.78376108e-02, -5.55641800e-02, -1.17425859e-01,
       -6.08915463e-02,  6.42859787e-02,  6.30783290e-02, -6.28967583e-02,
        8.51282701e-02,  1.21723197e-01,  1.33140050e-02, -7.39356056e-02,
       -2.49795970e-02,  1.05114130e-03, -6.53022304e-02,  8.40578005e-02,
        4.38750014e-02,  1.90958790e-02,  1.55691996e-01, -7.26904422e-02,
        1.56380489e-01,  3.66317481e-02,  6.99369609e-02, -1.08762115e-01,
       -9.38292667e-02, -4.31798212e-02,  2.47675404e-02,  9.44281891e-02,
        3.80865559e-02,  1.03876339e-02, -9.49328244e-02, -1.21576441e-02,
       -2.52790209e-02,  6.71047941e-02,  8.76306146e-02, -6.13158084e-02,
       -8.27499330e-02, -4.46005724e-02, -1.02950171e-01, -5.64199835e-02,
        1.01967983e-01,  1.11926183e-01, -7.29957372e-02, -2.13728651e-01,
        1.90232489e-02, -4.03152257e-02,  5.06000817e-02, -7.45786726e-02,
        1.67174488e-01,  1.70500390e-02,  4.33204323e-02, -8.83468315e-02,
       -1.89339500e-02,  9.99575034e-02,  1.22426888e-02, -2.01927517e-02,
       -9.17373374e-02, -2.03634948e-02, -4.80625443e-02,  4.72388305e-02,
       -2.87059266e-02, -9.13393721e-02,  9.15314704e-02,  7.46248066e-02,
       -7.67825618e-02,  1.16951391e-02,  5.15653528e-02,  3.37711461e-02,
       -4.24824096e-02,  8.34812596e-03, -1.59466892e-01, -5.97759895e-03,
       -1.25850841e-01,  5.08967089e-03, -2.17216872e-02, -5.78009225e-02,
        7.15681165e-02, -2.54268572e-02, -8.66946876e-02,  7.44086038e-03,
       -1.63985297e-01, -2.05435470e-01,  2.31733732e-02, -1.39773726e-01,
       -2.16148123e-02, -1.38548752e-02,  4.99969944e-02, -1.06977180e-01,
        1.61209051e-02,  6.48810863e-02, -1.00830579e-02,  1.57721817e-01,
        9.83226855e-05,  4.38060425e-02,  4.72227298e-03, -4.07522246e-02],
      dtype=float32)

In [266]:
def generate_dense_features(tokenized_text,word_vectors):
    dense_list=[]
    words=[]
    for _ in tokenized_text: 
        words =[word for word in _ if word in word_vectors.key_to_index]
        
        if len(words) >0:
            dense_list.append(np.mean(word_vectors[words],axis=0))
            
        else: 
            dense_list.append(np.zeros(word_vectors.vector_size))
            
    return np.array(dense_list)

In [267]:
X_train_wv = generate_dense_features(tokenized_text_train,word_vectors)
X_test_wv = generate_dense_features(tokenized_text_test,word_vectors)

In [268]:
X_train_wv.shape

(333414, 100)

In [269]:
lr_wv = LogisticRegression(random_state=RANDOM_SEED,max_iter=1000).fit(X_train_wv,y_train)

In [270]:
accuracy_score(y_test,lr_wv.predict(X_test_wv))

0.5594092665019075

## Bag of Words Model

In [ ]:
def dummy_fun(doc):
    return doc
vectorizer = TfidfVectorizer(analyzer='word',tokenizer=dummy_fun, preprocessor=dummy_fun, token_pattern=r'(?u)\b\w\w+__\([\w\s]*\)')
X_train_transform = vectorizer.fit_transform(tokenized_text_train)
X_test_transform  = vectorizer.transform(tokenized_text_test)

In [ ]:
len(vectorizer.get_feature_names())

In [672]:
vectorizer.get_feature_names()

['a_nx',
 'aabout',
 'aabye',
 'aach',
 'aafc',
 'aage',
 'aaiil',
 'aaliyahs',
 'aall',
 'aalto',
 'aames',
 'aamir',
 'aang',
 'aangã',
 'aapep',
 'aarberg',
 'aarburg',
 'aarc',
 'aarde',
 'aardman',
 'aardsma',
 'aardvark',
 'aardvarks',
 'aare',
 'aargauer',
 'aarhus',
 'aaroni',
 'aarons',
 'aarre',
 'aarseth',
 'aartselaar',
 'aarwangen',
 'aasen',
 'aashurah',
 'aast',
 'aastana',
 'aave',
 'ababa',
 'ababba',
 'ababda',
 'abac',
 'abacada',
 'abaci',
 'aback',
 'abacus',
 'abacuses',
 'abad',
 'abagnale',
 'abahutu',
 'abaj',
 'abajo',
 'abakanskoye',
 'abal',
 'abalo',
 'abalone',
 'abando',
 'abandon',
 'abandonded',
 'abandonment',
 'abarat',
 'abassi',
 'abate',
 'abattoirs',
 'abatutsi',
 'abauzit',
 'abavo',
 'abazhou',
 'abaãºj',
 'abba',
 'abbado',
 'abbadon',
 'abbados',
 'abbandando',
 'abbas',
 'abbasi',
 'abbasid',
 'abbasids',
 'abbasies',
 'abbass',
 'abbassid',
 'abbay',
 'abbaye',
 'abbe',
 'abbeydale',
 'abbeys',
 'abbiamo',
 'abbiati',
 'abbiss',
 'abbondancieri',
 'abbondanzieri',
 'abbondio',
 'abbot',
 'abbotsinch',
 'abbottabad',
 'abbotts',
 'abbr',
 'abbrev',
 'abbreviate',
 'abbreviation',
 'abbreviations',
 'abbruzzese',
 'abbs',
 'abbud',
 'abbã',
 'abbãƒ',
 'abcd',
 'abcs',
 'abdacom',
 'abdal',
 'abdallah',
 'abdel',
 'abdelazar',
 'abdelhafid',
 'abdeljalil',
 'abdelwahab',
 'abdera',
 'abderathe',
 'abdest',
 'abdi',
 'abdicate',
 'abdicatio',
 'abdication',
 'abdirashid',
 'abdolah',
 'abdollah',
 'abdomen',
 'abdomens',
 'abdominal',
 'abdominis',
 'abdou',
 'abdoulaye',
 'abdu',
 'abduct',
 'abduction',
 'abdulahi',
 'abdulaziz',
 'abdullaziz',
 'abdun',
 'abdurrahman',
 'abdus',
 'abeba',
 'abela',
 'abelard',
 'abele',
 'abelian',
 'abelisaurid',
 'abella',
 'abells',
 'abelmoschus',
 'abelshauser',
 'abelson',
 'abendroth',
 'abenobashi',
 'abenon',
 'abenteuer',
 'aber',
 'abercrombie',
 'abercromby',
 'aberdeenshire',
 'aberdeenshires',
 'aberdour',
 'aberdovey',
 'aberdyfi',
 'aberfan',
 'aberford',
 'aberfoyle',
 'abergavenny',
 'abergement',
 'abergynolwyn',
 'aberlin',
 'aberrant',
 'aberration',
 'aberrations',
 'aberson',
 'abert',
 'abertay',
 'aberystwyththe',
 'abet',
 'abeyie',
 'abgar',
 'abgebrã',
 'abgrenzung',
 'abhainn',
 'abhanga',
 'abhangas',
 'abhinav',
 'abhiras',
 'abhor',
 'abhorrã',
 'abid',
 'abidal',
 'abide',
 'abidine',
 'abidos',
 'abierta',
 'abilities',
 'ability',
 'abimael',
 'abin',
 'abio',
 'abiogenesis',
 'abiotic',
 'abiotically',
 'abire',
 'abisalovich',
 'abispa',
 'abitur',
 'abiword',
 'abjadi',
 'abjads',
 'abjuration',
 'abkai',
 'abkco',
 'abkhaz',
 'ablanedo',
 'ablation',
 'ablative',
 'ablaze',
 'abled',
 'ablest',
 'ablon',
 'abloy',
 'ablutions',
 'abma',
 'abney',
 'abnicum',
 'abnormal',
 'abnormalities',
 'abnormality',
 'abnormally',
 'abobrãƒ',
 'abol',
 'abolish',
 'abolishment',
 'abolition',
 'abolitionism',
 'abolitionist',
 'abolitionists',
 'abominations',
 'abong',
 'aboolian',
 'aboot',
 'aboriginal',
 'aboriginals',
 'aborigine',
 'aborigines',
 'abort',
 'abortifacient',
 'abortion',
 'abortions',
 'abortive',
 'abou',
 'abound',
 'aboutus',
 'aboveground',
 'abra',
 'abracadabra',
 'abrahamic',
 'abrahams',
 'abramczik',
 'abramovich',
 'abrams',
 'abrantes',
 'abrasion',
 'abrasions',
 'abraxas',
 'abraãƒ',
 'abreaction',
 'abreu',
 'abrictosaurus',
 'abridge',
 'abridgment',
 'abroad',
 'abrogant',
 'abrogate',
 'abronia',
 'abrowse',
 'abrsm',
 'abrupt',
 'abruptly',
 'abruzzi',
 'abrã',
 'abscess',
 'abscesses',
 'abscissa',
 'abscond',
 'absecon',
 'absence',
 'absences',
 'absent',
 'absentee',
 'absentia',
 'absentpelagic',
 'absinth',
 'absinthe',
 'absinthes',
 'absinthium',
 'absolut',
 'absolute',
 'absolutely',
 'absolutepunk',
 'absolution',
 'absolutist',
 'absolutive',
 'absolve',
 'absorb',
 'absorbance',
 'absorbances',
 'absorbent',
 'absorber',
 'absorbers',
 'absorption',
 'absorptive',
 'abstain',
 'abstention',
 'abstentionism',
 'abstinence',
 'abstract',
 'abstraction',
 'abstractionists',
 'abstractions',
 'absurd',
 'absurde',
 'absurdism',
 'absurdist',
 'absurdity',
 'abtwil',
 'abub',
 'abubakari',
 'abugida',
 'abugidas',
 'abukuma',
 'abul',
 'abuladze',
 'abulkhair',
 'abulm',
 'abuls',
 'abulã',
 'abundance',
 'abundant',
 'abundantly',
 'aburish',
 'abuse',
 'abusive',
 'abusively',
 'abut',
 'abutere',
 'abutments',
 'aby',
 'abydos',
 'abyssal',
 'abzekh',
 'abãƒ',
 'acacia',
 'acacias',
 'acad',
 'acadamias',
 'academe',
 'academia',
 'academic',
 'academical',
 'academically',
 'academician',
 'academics',
 'academie',
 'academies',
 'academkniga',
 'academy',
 'acadia',
 'acadians',
 'acadã',
 'acadãƒ',
 'acamprosate',
 'acanthaceae',
 'acanthaclisinae',
 'acanthocephala',
 'acanthodii',
 'acanthomintha',
 'acanthomyops',
 'acanthophis',
 'acanthophylla',
 'acanthostega',
 'acapulco',
 'acari',
 'acarology',
 'acaso',
 'acasta',
 'acca',
 'accademia',
 'accadian',
 'accede',
 'accelerate',
 'accelerateur',
 'acceleration',
 'accelerations',
 'accelerator',
 'accelerators',
 'acceleratorsã',
 'accelerometer',
 'accelerometers',
 'accends',
 'accent',
 'accentschurmann',
 'accept',
 'acceptable',
 'acceptably',
 'acceptance',
 'acceptor',
 'access',
 'accessibility',
 'accessible',
 'accession',
 'accessories',
 'accessory',
 'acchieved',
 'acchouhouri',
 'acciaiuoli',
 'acciarito',
 'accident',
 'accidental',
 'accidentally',
 'accidentals',
 'accidents',
 'accidie',
 'accies',
 'acciona',
 'accipiter',
 'accipitridae',
 'acciã³n',
 'acciãƒ',
 'acclaim',
 'acclamation',
 'acclamations',
 'acclimatation',
 'acclimate',
 'acclimatisation',
 'accolade',
 'accolades',
 'accomack',
 'accommodate',
 'accommodation',
 'accommodations',
 'accommodative',
 'accompaniment',
 'accompanist',
 'accompany',
 'accomping',
 'accomplice',
 'accomplices',
 'accomplish',
 'accomplishers',
 'accomplishment',
 'accomplishments',
 'accomptant',
 'accons',
 'accord',
 'accordance',
 'accordingly',
 'accordion',
 'accordionist',
 'accordo',
 'accost',
 'accouchement',
 'account',
 'accountability',
 'accountable',
 'accountancy',
 'accountant',
 'accountants',
 'accountn',
 'accountsare',
 'accous',
 'accouterments',
 'accoutrement',
 'accoyer',
 'accredit',
 'accreditation',
 'accreditor',
 'accreta',
 'accrete',
 'accretion',
 'accross',
 'accrue',
 'acculturate',
 'accumbens',
 'accumulate',
 'accumulation',
 'accumulations',
 'accuracy',
 'accurate',
 'accurately',
 'accusamus',
 'accusantium',
 'accusation',
 'accusations',
 'accuse',
 'accustom',
 'ace',
 'acedia',
 'aceldama',
 'aceman',
 'acephala',
 'acequia',
 'acer',
 'aceraceae',
 'aceramic',
 'acerbic',
 'acerbo',
 'acetaldehyde',
 'acetaminophen',
 'acetate',
 'acetic',
 'acetobacter',
 'acetone',
 'acetyl',
 'acetylate',
 'acetylation',
 'acetylcholine',
 'acetylene',
 'acetylide',
 'acetylsalicylic',
 'acevedo',
 'achab',
 'achaea',
 'achaemenid',
 'achaius',
 'achard',
 'acharya',
 'achawãƒ',
 'ache',
 'achebe',
 'achelate',
 'acheloos',
 'achelous',
 'achenbach',
 'achenes',
 'acheron',
 'acherontia',
 'achery',
 'acheulean',
 'achhim',
 'achi',
 'achicourt',
 'achiet',
 'achievable',
 'achieve',
 'achievement',
 'achievements',
 'achila',
 'achiles',
 'achille',
 'achillea',
 'achilles',
 'achillobator',
 'achiote',
 'achiral',
 'achlorhydria',
 'achmad',
 'achmed',
 'achna',
 'achoholic',
 'acholi',
 'achondrite',
 'achondroplasia',
 'achondroplastic',
 'achonry',
 'achromasia',
 'achromatopsia',
 'achromatosis',
 'achromia',
 'achterhoek',
 'achtice',
 'achtung',
 'achy',
 'achzarit',
 'achã',
 'achãƒ',
 'acib',
 'acid',
 'acidic',
 'acidification',
 'acidify',
 'acidity',
 'acidosis',
 'acids',
 'acinar',
 'acis',
 'ackerman',
 'ackery',
 'ackley',
 'acklins',
 'acknowledge',
 'acknowledgement',
 'acknowledgment',
 'acknowledgments',
 'ackworth',
 'acland',
 'aclare',
 'acme',
 'acmi',
 'acne',
 'acnielsen',
 'acolyte',
 'acolytes',
 'acomyinae',
 'acomys',
 'aconcagua',
 'aconite',
 'aconitum',
 'acorah',
 'acorn',
 'acorns',
 'acosta',
 'acou',
 'acoustic',
 'acoustical',
 'acoustically',
 'acoustician',
 'acousticly',
 'acoustics',
 'acpb',
 'acquaint',
 'acquaintance',
 'acquaintances',
 'acquarossa',
 'acqueville',
 'acquiesce',
 'acquieses',
 'acquin',
 'acquire',
 'acquisition',
 'acquisitions',
 'acquit',
 'acquittal',
 'acrea',
 'acrelãƒ',
 'acres',
 'acrisius',
 'acritarch',
 'acritarchs',
 'acrobat',
 'acrobates',
 'acrobatic',
 'acrobatics',
 'acrobaticã',
 'acrobats',
 'acron',
 'acronis',
 'acronym',
 'acronymic',
 'acronymous',
 'acronyms',
 'acropolis',
 'across',
 'acrossmanhattan',
 'acrylic',
 'acrymia',
 'acst',
 'act',
 'acta',
 'acte',
 'actias',
 'actin',
 'actinide',
 'actinides',
 'actinidia',
 'actinium',
 'actinobacteria',
 'actinoid',
 'actinolite',
 'actinomorphic',
 'actinomycetes',
 'actinopterygii',
 'actinopterygius',
 'actinosporea',
 'actinotrocha',
 'action',
 'actionscript',
 'actium',
 'actius',
 'activate',
 'activation',
 'activator',
 'active',
 'activebass',
 'actively',
 'actives',
 'activestats',
 'activeworlds',
 'activex',
 'activision',
 'activism',
 'activist',
 'activists',
 'activities',
 'activitist',
 'activitiy',
 'activity',
 'activitã',
 'actor',
 'actors',
 'actress',
 'actresses',
 'actual',
 'actuality',
 'actualitã',
 'actually',
 'actuaries',
 'actuate',
 'actuations',
 'actus',
 'acuatic',
 'acuca',
 'acuity',
 'aculeata',
 'aculeatus',
 'acupressure',
 'acupuncture',
 'acura',
 'acute',
 'acutely',
 'acuteness',
 'acutus',
 'acyclic',
 'acyl',
 'adachi',
 'adad',
 'adage',
 'adages',
 'adagh',
 'adagio',
 'adair',
 'adairville',
 'adak',
 'adal',
 'adalbert',
 'adama',
 'adamantine',
 'adamantium',
 'adamey',
 'adaminaby',
 'adamite',
 'adamkus',
 'adamlarina',
 'adamle',
 'adamski',
 'adamson',
 'adamsville',
 'adapiformes',
 'adapt',
 'adaptability',
 'adaptable',
 'adaptation',
 'adaptations',
 'adapter',
 'adapters',
 'adaption',
 'adaptions',
 'adaptive',
 'adaptively',
 'adaptor',
 'adas',
 'adasaurus',
 'adashim',
 'adastra',
 'adav',
 'add',
 'addai',
 'addakhil',
 'addams',
 'addax',
 'addenbrooke',
 'addendum',
 'adder',
 'adderley',
 'adders',
 'addicks',
 'addict',
 'addiction',
 'addictions',
 'addictive',
 'addington',
 'addis',
 'addiscombe',
 'addition',
 'additional',
 'additionally',
 'additionals',
 'additions',
 'additive',
 'additively',
 'additives',
 'addon',
 'address',
 'addressability',
 'addressable',
 'adegboyega',
 'adegem',
 'adelante',
 'adelboden',
 'adelekan',
 'adelheid',
 'adelir',
 'adelomyrmex',
 'adelong',
 'adelphotheos',
 'adelsheim',
 'ademar',
 'ademir',
 'ademola',
 'adenauer',
 'adenine',
 'adenoidectomy',
 'adenoids',
 'adenoma',
 'adenosine',
 'adephaga',
 'adept',
 'adequality',
 'adequate',
 'adequately',
 'aderbal',
 'ades',
 'adesa',
 'adetokunbo',
 'adeus',
 'adha',
 'adhaerens',
 'adhan',
 'adhana',
 'adhd',
 'adhemar',
 'adhere',
 'adherence',
 'adherent',
 'adherents',
 'adhesion',
 'adhesions',
 'adhesive',
 'adhesives',
 'adhlaka',
 'adhur',
 'adiabatic',
 'adiabene',
 'adibuddha',
 'adic',
 'adichie',
 'adidas',
 'adiel',
 'adieu',
 'adige',
 'adikalar',
 'adil',
 'adinath',
 'adine',
 'adinfer',
 'adingaheim',
 'adiperukku',
 'adipisci',
 'adipocytes',
 'adipose',
 'adiposity',
 'adipperukku',
 'adiri',
 'adirondack',
 'adit',
 'adits',
 'adiyiah',
 'adjacent',
 'adjacã',
 'adjacãƒ',
 'adjascent',
 'adjectival',
 'adjectivally',
 'adjective',
 'adjectives',
 'adjei',
 'adjemian',
 'adjoin',
 'adjudge',
 'adjudicate',
 'adjudication',
 'adjudicator',
 'adjudicators',
 'adjunct',
 'adjunctive',
 'adjuncts',
 'adjuration',
 'adjust',
 'adjustable',
 'adjustment',
 'adjustments',
 'adjutant',
 'adjutants',
 'adjuvants',
 'adkins',
 'adlaka',
 'adleman',
 'adlon',
 'admin',
 'adminer',
 'administer',
 'administeriet',
 'administraciã³n',
 'administraciãƒ',
 'administrate',
 'administration',
 'administrations',
 'administrative',
 'administrator',
 'administrators',
 'admins',
 'adminship',
 'admira',
 'admirable',
 'admirably',
 'admirals',
 'admiralspalast',
 'admiralty',
 'admiration',
 'admire',
 'admirer',
 'admirers',
 'admiringly',
 'admission',
 'admissions',
 'admit',
 'admittance',
 'admittedly',
 'admixture',
 'admixtures',
 'admonition',
 'admont',
 'adna',
 'adnan',
 'adnos',
 'adobe',
 'adobes',
 'adolescence',
 'adolescent',
 'adolescente',
 'adolescents',
 'adolphe',
 'adom',
 'adomnãƒ',
 'adonai',
 'adopt',
 'adoptable',
 'adoption',
 'adoptionism',
 'adoptions',
 'adoptive',
 'adorable',
 'adoration',
 'adore',
 'adorn',
 'adornments',
 'adorno',
 'adoroam',
 'adrastea',
 'adrenal',
 'adrenalin',
 'adrenaline',
 'adrenalize',
 'adriaan',
 'adriaen',
 'adriaenszoon',
 'adriano',
 'adrianopole',
 'adrianov',
 'adrianus',
 'adriatic',
 'adriatica',
 'adriatico',
 'adriã',
 'adriãƒ',
 'adroam',
 'adroguãƒ',
 'adsit',
 'adso',
 'adsorption',
 'adsur',
 'adtranz',
 'adua',
 'adug',
 'aduki',
 'adula',
 'adulate',
 'adulation',
 'adult',
 'adultera',
 'adulterate',
 'adulteration',
 'adulterators',
 'adulterer',
 'adulterers',
 'adulterous',
 'adultery',
 'adulthood',
 'adultos',
 ...]

In [388]:
X_train_transform

<333414x106068 sparse matrix of type '<class 'numpy.float64'>'
	with 1944434 stored elements in Compressed Sparse Row format>

In [389]:
lr_bow = LogisticRegression(random_state=RANDOM_SEED,max_iter=1000).fit(X_train_transform,y_train)

In [390]:
accuracy_score(y_test,lr_bow.predict(X_test_transform))

0.6466876214698755

In [ ]:
model_word = set(word_vectors.index_to_key) #around 6k words in the Word2Vec model

In [ ]:
len(model_word)

In [ ]:
len(model_word.intersection(concreteset))

In [ ]:
word_vectors['live']

In [ ]:
lemmatizer = WordNetLemmatizer()
word_list = []
for word in model_word: 
    word_list.append((word,lemmatizer.lemmatize(word.lower())))
df = pd.DataFrame(word_list,columns=['Original','word'])
df = df.merge(AoA,left_on='word',right_on='Word',how='left')
df = df[['Original','word','Perc_known','AoA_Kup_lem']]
word_not_matched = set(df[df['Perc_known'].isnull()].word.values)

for i in range(len(df)):   
    if df['word'][i][0] in set(('0','1','2','3','4','5','6','7','8','9')) or len(df['word'][i])==1:
        df['AoA_Kup_lem'][i] = 3
mean_value = df['AoA_Kup_lem'].mean()
df['AoA_Kup_lem'].fillna(value=mean_value,inplace=True)

In [ ]:
#df.loc[df['Original']==['troops','weapons']]
df[df['Original'].isin(['troops','weapon'])]

In [ ]:
def generate_perc_known(tokenized_text,df):
    avg_perc_know=None
    perc_know_list=[]
    for _ in tokenized_text: 
        words =[word for word in _ if word in word_vectors.key_to_index]
        
        if len(words) >0:
            avg_perc_know = np.mean(df[df['Original'].isin(words)]['AoA_Kup_lem'])
            perc_know_list.append(avg_perc_know)
        else: 
            
            perc_know_list.append(0)
            
    return perc_know_list

In [188]:
df_train = pd.DataFrame(X_train_wv)
#df_train['year'] = generate_perc_known(tokenized_text_train,df)

In [189]:
df_test = pd.DataFrame(X_test_wv)
#df_test['year'] = generate_perc_known(tokenized_text_test,df)

In [190]:
df_test

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,year
0,0.163066,0.066503,0.007967,-0.368197,-0.475971,0.174799,-0.226500,0.288741,-0.101118,0.251682,...,0.343301,0.449110,-0.301583,-0.318929,-0.027628,-0.003120,0.640888,0.395134,-0.211103,7.319698
1,0.098105,-0.697004,-0.067849,0.073167,0.001977,-0.519177,-0.064798,-0.384014,0.359658,-0.080730,...,0.100243,-0.152842,0.018108,-0.616458,0.208961,0.239500,-0.078117,0.907243,0.644744,8.900953
2,0.608009,-0.270855,-0.351858,-1.324698,0.509448,0.466696,-0.869674,0.316894,-0.832663,0.482958,...,-0.804097,-1.260673,-0.484280,-1.026836,-0.381989,0.006748,0.651532,0.502151,-1.543706,7.385000
3,-0.231419,-0.460309,-0.321846,-0.401228,-1.299778,-0.461486,0.002258,-0.175611,0.296010,0.373852,...,-0.068769,0.134842,0.026607,0.200088,0.376173,0.175164,-0.239718,0.463941,-0.541556,8.971588
4,-0.155188,0.110082,0.749716,-0.211680,-0.294006,-0.928232,0.095029,0.326077,0.020296,0.458989,...,-0.496064,0.562254,-0.161042,-0.556670,-0.152797,0.216482,-0.109737,1.134926,-0.073294,7.939948
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83349,-0.212178,-0.577913,0.233901,-0.283749,-0.250686,-0.740940,-0.073741,0.163121,-0.268991,0.569778,...,-0.062439,0.181861,-0.294118,0.674152,-0.312687,-0.416863,0.006465,0.296494,0.144787,7.846061
83350,0.083994,-0.119798,0.014636,-0.046240,-0.176528,-0.371178,-0.049741,-0.063575,0.069346,0.097987,...,-0.106163,0.598239,-0.423099,-0.277646,0.249423,0.238795,-0.084238,0.325800,-0.371009,7.653076
83351,-0.027579,-0.583053,-0.212853,0.064448,-0.001676,-0.386104,-0.194504,0.125628,0.087920,0.013556,...,-0.087076,0.200042,0.022237,0.865286,0.345294,0.206362,-0.050420,0.287032,-0.024188,6.618984
83352,0.150752,-0.344787,0.016055,-0.438976,0.105028,-0.072180,-0.229091,0.010541,-0.065317,0.162644,...,-0.090400,-0.352687,-0.262663,-0.028436,0.180446,-0.053098,0.068634,-0.034959,0.074879,7.009195
83353,0.798341,-0.436330,-0.095135,-0.875586,-0.725843,-0.983312,-0.478156,0.076523,-0.534273,0.518388,...,-0.020779,0.168365,-0.001870,-0.459175,-1.014081,-0.339258,0.264108,0.849447,-0.063408,8.322109

In [191]:
lr = LogisticRegression(random_state=RANDOM_SEED,max_iter=1000).fit(df_train,y_train)

In [192]:
accuracy_score(y_test,lr.predict(df_test))

0.58372723564556

In [ ]:
cmatrix_lr_wv=metrics.confusion_matrix(y_test, lr_wv.predict(X_test_wv))

ax = sns.heatmap(cmatrix_lr_wv, annot=True, cmap='Blues')

ax.set_title('Seaborn Confusion Matrix with labels\n\n');
ax.set_xlabel('\nPredicted Values')
ax.set_ylabel('Actual Values ');

## Ticket labels - List must be in alphabetical order
ax.xaxis.set_ticklabels(['False','True'])
ax.yaxis.set_ticklabels(['False','True'])

## Display the visualization of the Confusion Matrix.

# 2. Supervised Learning

## Random Classifier

In [64]:
dummy_bow = DummyClassifier(strategy='uniform',random_state=RANDOM_SEED).fit(X_train_transform,y_train)

In [65]:
accuracy_score(y_test, dummy_bow.predict(X_test_transform))

0.5011277203253593

In [66]:
dummy_wv = DummyClassifier(strategy='uniform',random_state=RANDOM_SEED).fit(X_train_wv,y_train)

In [67]:
accuracy_score(y_test,dummy_wv.predict(X_test_wv))

0.5011277203253593

## Logistic Regression Classifier

In [68]:
lr_bow = LogisticRegression(random_state=RANDOM_SEED,max_iter=1000).fit(X_train_transform,y_train)

In [69]:
accuracy_score(y_test,lr_bow.predict(X_test_transform))

0.6465916452719725

In [70]:
lr_wv = LogisticRegression(random_state=RANDOM_SEED,max_iter=1000).fit(X_train_wv,y_train)

In [71]:
accuracy_score(y_test,lr_wv.predict(X_test_wv))

0.5640041269765098

## Random Forest Classifier

In [227]:
rf_bow = RandomForestClassifier(n_estimators=500,max_depth=5,random_state=RANDOM_SEED).fit(X_train_transform,y_train)

In [228]:
accuracy_score(y_test,rf_bow.predict(X_test_transform))

0.6416968591789236

In [ ]:
rf_wv = RandomForestClassifier(n_estimators=100,max_depth=5,random_state=RANDOM_SEED).fit(X_train_wv,y_train)

In [ ]:
accuracy_score(y_test,rf_wv.predict(X_test_wv))

# 3. Unsupervised Learning

In [ ]:
kmeans = KMeans(n_clusters=2,random_state=RANDOM_SEED).fit(X_train_transform)

In [ ]:
cluster_df = pd.DataFrame({'cluster':kmeans.labels_,'y_label':y_train,'text':X_train})
cluster_df

### LDA Topic Modeling - Consider NMF to create a document-topic matrix

In [267]:
import gensim
from nltk.stem.porter import *
def lemmatize_stemming(text):
    stemmer = PorterStemmer()
    #Un-hash next line to use stemming
    #return stemmer.stem(WordNetLemmatizer().lemmatize(text, pos='v'))
    #Un-hash next line to NOT use stemming
    return WordNetLemmatizer().lemmatize(text, pos='v')
# Tokenize and lemmatize
def preprocess(text):
    result=[]
    for token in gensim.utils.simple_preprocess(text) :
        if token not in gensim.parsing.preprocessing.STOPWORDS and len(token) > 3:
            #Un-hash next line to use stemming
            result.append(lemmatize_stemming(token))
            #Un-hash next line to NOT use stemming
            #result.append(token)
            
    return result

In [268]:
df['original_text'][0]

"There is manuscript evidence that Austen continued to work on these pieces as late as the period 1809 Ã¢ '' 11 , and that her niece and nephew , Anna and James Edward Austen , made further additions as late as 1814 ."

In [269]:
preprocess(df['original_text'][0])

['manuscript',
 'evidence',
 'austen',
 'continue',
 'work',
 'piece',
 'late',
 'period',
 'niece',
 'nephew',
 'anna',
 'jam',
 'edward',
 'austen',
 'additions',
 'late']

In [238]:
# This cell will run about 2 minutes
processed_docs = [preprocess(text) for text in df['original_text']]

In [239]:
dictionary = gensim.corpora.Dictionary(processed_docs)
dictionary

In [240]:
bow_corpus = [dictionary.doc2bow(doc) for doc in processed_docs]
#bow_corpus

In [241]:
len(bow_corpus)

416768

In [242]:
# This cell will run 10 minutes
#lda_model =  gensim.models.LdaMulticore(bow_corpus, 
#                                   num_topics = 8, 
#                                   id2word = dictionary,                                    
#                                   passes = 10,
#                                   workers = 2)

In [347]:
#for idx, topic in lda_model.print_topics(-1):
#    print("Topic: {} \nWords: {}".format(idx, topic ))
#    print("\n")